components/workflow-mgt/org.wso2.carbon.identity.workflow.mgt/src/main/resources/WorkflowAdminService.wsdl


<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://mgt.workflow.identity.carbon.wso2.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ax2401="http://bean.mgt.workflow.identity.carbon.wso2.org/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ax2397="http://dto.mgt.workflow.identity.carbon.wso2.org/xsd" xmlns:ax2398="http://metadata.bean.mgt.workflow.identity.carbon.wso2.org/xsd" xmlns:tns="http://mgt.workflow.identity.carbon.wso2.org" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax2395="http://exception.mgt.workflow.identity.carbon.wso2.org/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://mgt.workflow.identity.carbon.wso2.org">
    <wsdl:documentation>WorkflowAdminService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://exception.mgt.workflow.identity.carbon.wso2.org/xsd">
            <xs:complexType name="WorkflowException">
                <xs:sequence/>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://bean.mgt.workflow.identity.carbon.wso2.org/xsd">
            <xs:complexType name="WorkflowRequest">
                <xs:sequence>
                    <xs:element minOccurs="0" name="createdAt" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="createdBy" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="eventType" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="requestId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="requestParams" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="status" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="updatedAt" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Parameter">
                <xs:sequence>
                    <xs:element minOccurs="0" name="holder" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="paramName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="paramValue" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="qName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="workflowId" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="WorkflowRequestAssociation">
                <xs:sequence>
                    <xs:element minOccurs="0" name="lastUpdatedTime" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="status" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="workflowId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="workflowName" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" xmlns="http://metadata.bean.mgt.workflow.identity.carbon.wso2.org/xsd" targetNamespace="http://metadata.bean.mgt.workflow.identity.carbon.wso2.org/xsd">
            <xs:element name="ParametersMetaData">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ParameterMetaData" maxOccurs="unbounded" type="ParameterMetaData"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:complexType name="ParameterMetaData">
                <xs:sequence>
                    <xs:element name="DisplayName" type="xs:string"></xs:element>
                    <xs:element name="DefaultValue" type="xs:string" minOccurs="0"></xs:element>
                    <xs:element name="RegExForValidate" type="xs:string" minOccurs="0"></xs:element>
                    <xs:element name="InputData" minOccurs="0" type="InputData"></xs:element>
                </xs:sequence>
                <xs:attribute name="Name" type="xs:string" use="required"></xs:attribute>
                <xs:attribute name="DataType" use="optional" type="DataType"></xs:attribute>
                <xs:attribute name="InputType" use="optional" type="InputType"></xs:attribute>

                <xs:attribute name="CustomInputType" use="optional" type="xs:string"></xs:attribute>
                <xs:attribute name="Use" default="Optional" type="Use"></xs:attribute>
                <xs:attribute name="Validate" type="xs:boolean" default="true"></xs:attribute>
            </xs:complexType>

            <xs:complexType name="InputData">
                <xs:choice>
                    <xs:element name="MapType" minOccurs="0" type="MapType"></xs:element>
                </xs:choice>
            </xs:complexType>


            <xs:complexType name="MapType">
                <xs:sequence>
                    <xs:element name="Item" maxOccurs="unbounded" type="Item"></xs:element>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="Item">
                <xs:sequence>
                    <xs:element name="Key" type="xs:string"></xs:element>
                    <xs:element name="Value" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>


            <xs:simpleType name="InputType">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="Select"></xs:enumeration>
                    <xs:enumeration value="Multiple_Select"></xs:enumeration>
                    <xs:enumeration value="Option"></xs:enumeration>
                    <xs:enumeration value="Single_CheckBox"></xs:enumeration>
                    <xs:enumeration value="Multiple_CheckBox"></xs:enumeration>
                    <xs:enumeration value="TextArea"></xs:enumeration>
                    <xs:enumeration value="Password"></xs:enumeration>
                    <xs:enumeration value="Text"></xs:enumeration>
                    <xs:enumeration value="Multiple_Steps_User_Role"></xs:enumeration>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="DataType">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="String"></xs:enumeration>
                    <xs:enumeration value="Double"></xs:enumeration>
                    <xs:enumeration value="Integer"></xs:enumeration>
                    <xs:enumeration value="Boolean"></xs:enumeration>
                    <xs:enumeration value="DateTime"></xs:enumeration>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="Use">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="Required"></xs:enumeration>
                    <xs:enumeration value="Optional"></xs:enumeration>
                </xs:restriction>
            </xs:simpleType>
        </xs:schema>
        <xs:schema xmlns:ax2399="http://metadata.bean.mgt.workflow.identity.carbon.wso2.org/xsd" xmlns:ax2403="http://bean.mgt.workflow.identity.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dto.mgt.workflow.identity.carbon.wso2.org/xsd">
            <xs:import namespace="http://metadata.bean.mgt.workflow.identity.carbon.wso2.org/xsd"/>
            <xs:import namespace="http://bean.mgt.workflow.identity.carbon.wso2.org/xsd"/>
            <xs:complexType name="Template">
                <xs:sequence>
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0"  ref="ax2398:ParametersMetaData"/>
                    <xs:element minOccurs="0" name="templateId" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="WorkflowImpl">
                <xs:sequence>
                    <xs:element minOccurs="0" ref="ax2398:ParametersMetaData"/>
                    <xs:element minOccurs="0" name="templateId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="workflowImplId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="workflowImplName" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Association">
                <xs:sequence>
                    <xs:element minOccurs="0" name="associationId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="associationName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="condition" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="enabled" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="eventCategory" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="eventId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="eventName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="workflowId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="workflowName" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="WorkflowEvent">
                <xs:sequence>
                    <xs:element minOccurs="0" name="eventCategory" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="eventDescription" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="eventFriendlyName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="eventId" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="parameters" nillable="true" type="ax2401:Parameter"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Workflow">
                <xs:sequence>
                    <xs:element minOccurs="0" name="template" nillable="true" type="ax2397:Template"/>
                    <xs:element minOccurs="0" name="templateId" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="templateParameters" nillable="true" type="ax2401:Parameter"/>
                    <xs:element minOccurs="0" name="workflow" nillable="true" type="ax2397:WorkflowImpl"/>
                    <xs:element minOccurs="0" name="workflowDescription" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="workflowId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="workflowImplId" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="workflowImplParameters" nillable="true" type="ax2401:Parameter"/>
                    <xs:element minOccurs="0" name="workflowName" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2402="http://bean.mgt.workflow.identity.carbon.wso2.org/xsd" xmlns:ax2400="http://dto.mgt.workflow.identity.carbon.wso2.org/xsd" xmlns:ax2396="http://exception.mgt.workflow.identity.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://mgt.workflow.identity.carbon.wso2.org/xsd">
            <xs:import namespace="http://exception.mgt.workflow.identity.carbon.wso2.org/xsd"/>
            <xs:import namespace="http://dto.mgt.workflow.identity.carbon.wso2.org/xsd"/>
            <xs:import namespace="http://bean.mgt.workflow.identity.carbon.wso2.org/xsd"/>
            <xs:element name="WorkflowAdminServiceWorkflowException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="WorkflowException" nillable="true" type="ax2395:WorkflowException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addAssociation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="associationName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="workflowId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="eventId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="condition" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="removeAssociation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="associationId" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listWorkflowTemplates">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="listWorkflowTemplatesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2397:Template"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTemplateImpl">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="templateId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="implementationId" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTemplateImplResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2397:WorkflowImpl"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listAssociations">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="workflowId" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listAssociationsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2397:Association"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getRequestsInFilter">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="beginDate" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="dateCategory" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getRequestsInFilterResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2402:WorkflowRequest"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteWorkflowRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="requestId" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTemplate">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="templateName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTemplateResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2397:Template"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getEvent">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="eventId" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getEventResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2397:WorkflowEvent"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addWorkflow">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="workflow" nillable="true" type="ax2397:Workflow"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getWorkflow">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="workflowId" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getWorkflowResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2397:Workflow"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listWorkflows">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="listWorkflowsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2397:Workflow"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="removeWorkflow">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listAllAssociations">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="listAllAssociationsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2397:Association"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="changeAssociationState">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="associationId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="isEnable" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listWorkflowEvents">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="listWorkflowEventsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2397:WorkflowEvent"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getRequestsCreatedByUser">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="beginDate" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="dateCategory" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getRequestsCreatedByUserResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2402:WorkflowRequest"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getWorkflowsOfRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="requestId" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getWorkflowsOfRequestResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2402:WorkflowRequestAssociation"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="deleteWorkflowRequestRequest">
        <wsdl:part name="parameters" element="ns:deleteWorkflowRequest"/>
    </wsdl:message>
    <wsdl:message name="WorkflowAdminServiceWorkflowException">
        <wsdl:part name="parameters" element="ns:WorkflowAdminServiceWorkflowException"/>
    </wsdl:message>
    <wsdl:message name="listAssociationsRequest">
        <wsdl:part name="parameters" element="ns:listAssociations"/>
    </wsdl:message>
    <wsdl:message name="listAssociationsResponse">
        <wsdl:part name="parameters" element="ns:listAssociationsResponse"/>
    </wsdl:message>
    <wsdl:message name="getRequestsCreatedByUserRequest">
        <wsdl:part name="parameters" element="ns:getRequestsCreatedByUser"/>
    </wsdl:message>
    <wsdl:message name="getRequestsCreatedByUserResponse">
        <wsdl:part name="parameters" element="ns:getRequestsCreatedByUserResponse"/>
    </wsdl:message>
    <wsdl:message name="getTemplateImplRequest">
        <wsdl:part name="parameters" element="ns:getTemplateImpl"/>
    </wsdl:message>
    <wsdl:message name="getTemplateImplResponse">
        <wsdl:part name="parameters" element="ns:getTemplateImplResponse"/>
    </wsdl:message>
    <wsdl:message name="getRequestsInFilterRequest">
        <wsdl:part name="parameters" element="ns:getRequestsInFilter"/>
    </wsdl:message>
    <wsdl:message name="getRequestsInFilterResponse">
        <wsdl:part name="parameters" element="ns:getRequestsInFilterResponse"/>
    </wsdl:message>
    <wsdl:message name="listAllAssociationsRequest">
        <wsdl:part name="parameters" element="ns:listAllAssociations"/>
    </wsdl:message>
    <wsdl:message name="listAllAssociationsResponse">
        <wsdl:part name="parameters" element="ns:listAllAssociationsResponse"/>
    </wsdl:message>
    <wsdl:message name="getWorkflowsOfRequestRequest">
        <wsdl:part name="parameters" element="ns:getWorkflowsOfRequest"/>
    </wsdl:message>
    <wsdl:message name="getWorkflowsOfRequestResponse">
        <wsdl:part name="parameters" element="ns:getWorkflowsOfRequestResponse"/>
    </wsdl:message>
    <wsdl:message name="addAssociationRequest">
        <wsdl:part name="parameters" element="ns:addAssociation"/>
    </wsdl:message>
    <wsdl:message name="listWorkflowsRequest">
        <wsdl:part name="parameters" element="ns:listWorkflows"/>
    </wsdl:message>
    <wsdl:message name="listWorkflowsResponse">
        <wsdl:part name="parameters" element="ns:listWorkflowsResponse"/>
    </wsdl:message>
    <wsdl:message name="addWorkflowRequest">
        <wsdl:part name="parameters" element="ns:addWorkflow"/>
    </wsdl:message>
    <wsdl:message name="listWorkflowTemplatesRequest">
        <wsdl:part name="parameters" element="ns:listWorkflowTemplates"/>
    </wsdl:message>
    <wsdl:message name="listWorkflowTemplatesResponse">
        <wsdl:part name="parameters" element="ns:listWorkflowTemplatesResponse"/>
    </wsdl:message>
    <wsdl:message name="changeAssociationStateRequest">
        <wsdl:part name="parameters" element="ns:changeAssociationState"/>
    </wsdl:message>
    <wsdl:message name="getTemplateRequest">
        <wsdl:part name="parameters" element="ns:getTemplate"/>
    </wsdl:message>
    <wsdl:message name="getTemplateResponse">
        <wsdl:part name="parameters" element="ns:getTemplateResponse"/>
    </wsdl:message>
    <wsdl:message name="removeAssociationRequest">
        <wsdl:part name="parameters" element="ns:removeAssociation"/>
    </wsdl:message>
    <wsdl:message name="getEventRequest">
        <wsdl:part name="parameters" element="ns:getEvent"/>
    </wsdl:message>
    <wsdl:message name="getEventResponse">
        <wsdl:part name="parameters" element="ns:getEventResponse"/>
    </wsdl:message>
    <wsdl:message name="listWorkflowEventsRequest">
        <wsdl:part name="parameters" element="ns:listWorkflowEvents"/>
    </wsdl:message>
    <wsdl:message name="listWorkflowEventsResponse">
        <wsdl:part name="parameters" element="ns:listWorkflowEventsResponse"/>
    </wsdl:message>
    <wsdl:message name="getWorkflowRequest">
        <wsdl:part name="parameters" element="ns:getWorkflow"/>
    </wsdl:message>
    <wsdl:message name="getWorkflowResponse">
        <wsdl:part name="parameters" element="ns:getWorkflowResponse"/>
    </wsdl:message>
    <wsdl:message name="removeWorkflowRequest">
        <wsdl:part name="parameters" element="ns:removeWorkflow"/>
    </wsdl:message>
    <wsdl:portType name="WorkflowAdminServicePortType">
        <wsdl:operation name="deleteWorkflowRequest">
            <wsdl:input message="tns:deleteWorkflowRequestRequest" wsaw:Action="urn:deleteWorkflowRequest"/>
            <wsdl:fault message="tns:WorkflowAdminServiceWorkflowException" name="WorkflowAdminServiceWorkflowException" wsaw:Action="urn:deleteWorkflowRequestWorkflowAdminServiceWorkflowException"/>
        </wsdl:operation>
        <wsdl:operation name="listAssociations">
            <wsdl:input message="tns:listAssociationsRequest" wsaw:Action="urn:listAssociations"/>
            <wsdl:output message="tns:listAssociationsResponse" wsaw:Action="urn:listAssociationsResponse"/>
            <wsdl:fault message="tns:WorkflowAdminServiceWorkflowException" name="WorkflowAdminServiceWorkflowException" wsaw:Action="urn:listAssociationsWorkflowAdminServiceWorkflowException"/>
        </wsdl:operation>
        <wsdl:operation name="getRequestsCreatedByUser">
            <wsdl:input message="tns:getRequestsCreatedByUserRequest" wsaw:Action="urn:getRequestsCreatedByUser"/>
            <wsdl:output message="tns:getRequestsCreatedByUserResponse" wsaw:Action="urn:getRequestsCreatedByUserResponse"/>
            <wsdl:fault message="tns:WorkflowAdminServiceWorkflowException" name="WorkflowAdminServiceWorkflowException" wsaw:Action="urn:getRequestsCreatedByUserWorkflowAdminServiceWorkflowException"/>
        </wsdl:operation>
        <wsdl:operation name="getTemplateImpl">
            <wsdl:input message="tns:getTemplateImplRequest" wsaw:Action="urn:getTemplateImpl"/>
            <wsdl:output message="tns:getTemplateImplResponse" wsaw:Action="urn:getTemplateImplResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getRequestsInFilter">
            <wsdl:input message="tns:getRequestsInFilterRequest" wsaw:Action="urn:getRequestsInFilter"/>
            <wsdl:output message="tns:getRequestsInFilterResponse" wsaw:Action="urn:getRequestsInFilterResponse"/>
            <wsdl:fault message="tns:WorkflowAdminServiceWorkflowException" name="WorkflowAdminServiceWorkflowException" wsaw:Action="urn:getRequestsInFilterWorkflowAdminServiceWorkflowException"/>
        </wsdl:operation>
        <wsdl:operation name="listAllAssociations">
            <wsdl:input message="tns:listAllAssociationsRequest" wsaw:Action="urn:listAllAssociations"/>
            <wsdl:output message="tns:listAllAssociationsResponse" wsaw:Action="urn:listAllAssociationsResponse"/>
            <wsdl:fault message="tns:WorkflowAdminServiceWorkflowException" name="WorkflowAdminServiceWorkflowException" wsaw:Action="urn:listAllAssociationsWorkflowAdminServiceWorkflowException"/>
        </wsdl:operation>
        <wsdl:operation name="getWorkflowsOfRequest">
            <wsdl:input message="tns:getWorkflowsOfRequestRequest" wsaw:Action="urn:getWorkflowsOfRequest"/>
            <wsdl:output message="tns:getWorkflowsOfRequestResponse" wsaw:Action="urn:getWorkflowsOfRequestResponse"/>
            <wsdl:fault message="tns:WorkflowAdminServiceWorkflowException" name="WorkflowAdminServiceWorkflowException" wsaw:Action="urn:getWorkflowsOfRequestWorkflowAdminServiceWorkflowException"/>
        </wsdl:operation>
        <wsdl:operation name="addAssociation">
            <wsdl:input message="tns:addAssociationRequest" wsaw:Action="urn:addAssociation"/>
            <wsdl:fault message="tns:WorkflowAdminServiceWorkflowException" name="WorkflowAdminServiceWorkflowException" wsaw:Action="urn:addAssociationWorkflowAdminServiceWorkflowException"/>
        </wsdl:operation>
        <wsdl:operation name="listWorkflows">
            <wsdl:input message="tns:listWorkflowsRequest" wsaw:Action="urn:listWorkflows"/>
            <wsdl:output message="tns:listWorkflowsResponse" wsaw:Action="urn:listWorkflowsResponse"/>
            <wsdl:fault message="tns:WorkflowAdminServiceWorkflowException" name="WorkflowAdminServiceWorkflowException" wsaw:Action="urn:listWorkflowsWorkflowAdminServiceWorkflowException"/>
        </wsdl:operation>
        <wsdl:operation name="addWorkflow">
            <wsdl:input message="tns:addWorkflowRequest" wsaw:Action="urn:addWorkflow"/>
            <wsdl:fault message="tns:WorkflowAdminServiceWorkflowException" name="WorkflowAdminServiceWorkflowException" wsaw:Action="urn:addWorkflowWorkflowAdminServiceWorkflowException"/>
        </wsdl:operation>
        <wsdl:operation name="listWorkflowTemplates">
            <wsdl:input message="tns:listWorkflowTemplatesRequest" wsaw:Action="urn:listWorkflowTemplates"/>
            <wsdl:output message="tns:listWorkflowTemplatesResponse" wsaw:Action="urn:listWorkflowTemplatesResponse"/>
        </wsdl:operation>
        <wsdl:operation name="changeAssociationState">
            <wsdl:input message="tns:changeAssociationStateRequest" wsaw:Action="urn:changeAssociationState"/>
            <wsdl:fault message="tns:WorkflowAdminServiceWorkflowException" name="WorkflowAdminServiceWorkflowException" wsaw:Action="urn:changeAssociationStateWorkflowAdminServiceWorkflowException"/>
        </wsdl:operation>
        <wsdl:operation name="getTemplate">
            <wsdl:input message="tns:getTemplateRequest" wsaw:Action="urn:getTemplate"/>
            <wsdl:output message="tns:getTemplateResponse" wsaw:Action="urn:getTemplateResponse"/>
        </wsdl:operation>
        <wsdl:operation name="removeAssociation">
            <wsdl:input message="tns:removeAssociationRequest" wsaw:Action="urn:removeAssociation"/>
            <wsdl:fault message="tns:WorkflowAdminServiceWorkflowException" name="WorkflowAdminServiceWorkflowException" wsaw:Action="urn:removeAssociationWorkflowAdminServiceWorkflowException"/>
        </wsdl:operation>
        <wsdl:operation name="getEvent">
            <wsdl:input message="tns:getEventRequest" wsaw:Action="urn:getEvent"/>
            <wsdl:output message="tns:getEventResponse" wsaw:Action="urn:getEventResponse"/>
        </wsdl:operation>
        <wsdl:operation name="listWorkflowEvents">
            <wsdl:input message="tns:listWorkflowEventsRequest" wsaw:Action="urn:listWorkflowEvents"/>
            <wsdl:output message="tns:listWorkflowEventsResponse" wsaw:Action="urn:listWorkflowEventsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getWorkflow">
            <wsdl:input message="tns:getWorkflowRequest" wsaw:Action="urn:getWorkflow"/>
            <wsdl:output message="tns:getWorkflowResponse" wsaw:Action="urn:getWorkflowResponse"/>
            <wsdl:fault message="tns:WorkflowAdminServiceWorkflowException" name="WorkflowAdminServiceWorkflowException" wsaw:Action="urn:getWorkflowWorkflowAdminServiceWorkflowException"/>
        </wsdl:operation>
        <wsdl:operation name="removeWorkflow">
            <wsdl:input message="tns:removeWorkflowRequest" wsaw:Action="urn:removeWorkflow"/>
            <wsdl:fault message="tns:WorkflowAdminServiceWorkflowException" name="WorkflowAdminServiceWorkflowException" wsaw:Action="urn:removeWorkflowWorkflowAdminServiceWorkflowException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="WorkflowAdminServiceSoap11Binding" type="tns:WorkflowAdminServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="deleteWorkflowRequest">
            <soap:operation soapAction="urn:deleteWorkflowRequest" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="listAssociations">
            <soap:operation soapAction="urn:listAssociations" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getRequestsCreatedByUser">
            <soap:operation soapAction="urn:getRequestsCreatedByUser" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getTemplateImpl">
            <soap:operation soapAction="urn:getTemplateImpl" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getRequestsInFilter">
            <soap:operation soapAction="urn:getRequestsInFilter" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="listAllAssociations">
            <soap:operation soapAction="urn:listAllAssociations" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getWorkflowsOfRequest">
            <soap:operation soapAction="urn:getWorkflowsOfRequest" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addAssociation">
            <soap:operation soapAction="urn:addAssociation" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="listWorkflows">
            <soap:operation soapAction="urn:listWorkflows" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addWorkflow">
            <soap:operation soapAction="urn:addWorkflow" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="listWorkflowTemplates">
            <soap:operation soapAction="urn:listWorkflowTemplates" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="changeAssociationState">
            <soap:operation soapAction="urn:changeAssociationState" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="removeAssociation">
            <soap:operation soapAction="urn:removeAssociation" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getTemplate">
            <soap:operation soapAction="urn:getTemplate" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getEvent">
            <soap:operation soapAction="urn:getEvent" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listWorkflowEvents">
            <soap:operation soapAction="urn:listWorkflowEvents" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getWorkflow">
            <soap:operation soapAction="urn:getWorkflow" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="removeWorkflow">
            <soap:operation soapAction="urn:removeWorkflow" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="WorkflowAdminServiceSoap12Binding" type="tns:WorkflowAdminServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="deleteWorkflowRequest">
            <soap12:operation soapAction="urn:deleteWorkflowRequest" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap12:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="listAssociations">
            <soap12:operation soapAction="urn:listAssociations" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap12:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getRequestsCreatedByUser">
            <soap12:operation soapAction="urn:getRequestsCreatedByUser" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap12:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getTemplateImpl">
            <soap12:operation soapAction="urn:getTemplateImpl" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getRequestsInFilter">
            <soap12:operation soapAction="urn:getRequestsInFilter" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap12:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="listAllAssociations">
            <soap12:operation soapAction="urn:listAllAssociations" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap12:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getWorkflowsOfRequest">
            <soap12:operation soapAction="urn:getWorkflowsOfRequest" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap12:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addAssociation">
            <soap12:operation soapAction="urn:addAssociation" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap12:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="listWorkflows">
            <soap12:operation soapAction="urn:listWorkflows" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap12:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addWorkflow">
            <soap12:operation soapAction="urn:addWorkflow" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap12:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="listWorkflowTemplates">
            <soap12:operation soapAction="urn:listWorkflowTemplates" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="changeAssociationState">
            <soap12:operation soapAction="urn:changeAssociationState" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap12:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="removeAssociation">
            <soap12:operation soapAction="urn:removeAssociation" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap12:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getTemplate">
            <soap12:operation soapAction="urn:getTemplate" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getEvent">
            <soap12:operation soapAction="urn:getEvent" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listWorkflowEvents">
            <soap12:operation soapAction="urn:listWorkflowEvents" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getWorkflow">
            <soap12:operation soapAction="urn:getWorkflow" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap12:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="removeWorkflow">
            <soap12:operation soapAction="urn:removeWorkflow" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap12:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="WorkflowAdminServiceHttpBinding" type="tns:WorkflowAdminServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="deleteWorkflowRequest">
            <http:operation location="deleteWorkflowRequest"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="listAssociations">
            <http:operation location="listAssociations"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getRequestsCreatedByUser">
            <http:operation location="getRequestsCreatedByUser"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTemplateImpl">
            <http:operation location="getTemplateImpl"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getRequestsInFilter">
            <http:operation location="getRequestsInFilter"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listAllAssociations">
            <http:operation location="listAllAssociations"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getWorkflowsOfRequest">
            <http:operation location="getWorkflowsOfRequest"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addAssociation">
            <http:operation location="addAssociation"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="listWorkflows">
            <http:operation location="listWorkflows"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addWorkflow">
            <http:operation location="addWorkflow"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="listWorkflowTemplates">
            <http:operation location="listWorkflowTemplates"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="changeAssociationState">
            <http:operation location="changeAssociationState"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="removeAssociation">
            <http:operation location="removeAssociation"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getTemplate">
            <http:operation location="getTemplate"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getEvent">
            <http:operation location="getEvent"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listWorkflowEvents">
            <http:operation location="listWorkflowEvents"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getWorkflow">
            <http:operation location="getWorkflow"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="removeWorkflow">
            <http:operation location="removeWorkflow"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="WorkflowAdminService">
        <wsdl:port name="WorkflowAdminServiceHttpsSoap11Endpoint" binding="tns:WorkflowAdminServiceSoap11Binding">
            <soap:address location="https://localhost:9443/services/WorkflowAdminService.WorkflowAdminServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="WorkflowAdminServiceHttpsSoap12Endpoint" binding="tns:WorkflowAdminServiceSoap12Binding">
            <soap12:address location="https://localhost:9443/services/WorkflowAdminService.WorkflowAdminServiceHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="WorkflowAdminServiceHttpsEndpoint" binding="tns:WorkflowAdminServiceHttpBinding">
            <http:address location="https://localhost:9443/services/WorkflowAdminService.WorkflowAdminServiceHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>