components/workflow-mgt/org.wso2.carbon.identity.workflow.impl/src/main/resources/templates/bpel/MultiStepApprovalService/ApprovalProcessArtifacts.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
             xmlns:schema="http://schema.bpel.mgt.workflow.carbon.wso2.org/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://bpel.mgt.workflow.carbon.wso2.org/approvalProcess"
             xmlns:wsdl1="http://ht.bpel.mgt.workflow.identity.carbon.wso2.org/wsdl"
             xmlns:wsdl2="http://callback.mgt.workflow.identity.carbon.wso2.org"
             xmlns="http://schemas.xmlsoap.org/wsdl/" name="${bpelProcessName}"
             targetNamespace="http://bpel.mgt.workflow.carbon.wso2.org/approvalProcess">

    <plnk:partnerLinkType name="${bpelProcessName}PLT">
        <plnk:role name="partnerRole"
                   portType="tns:${bpelProcessName}"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="${htServiceName}PLT">
        <plnk:role name="approvalPartnerRole"
                   portType="wsdl1:${htServiceName}PT"/>
        <plnk:role name="ApprovalCallbackRole"
                   portType="wsdl1:${htServiceName}CBPT"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="callbackServicePLT">
        <plnk:role name="callbackServicePartnerRole"
                   portType="wsdl2:WorkflowCallbackServicePortType"/>
    </plnk:partnerLinkType>

    <import location="${htServiceName}Service.wsdl"
            namespace="http://ht.bpel.mgt.workflow.identity.carbon.wso2.org/wsdl"/>
    <import location="CallbackService.wsdl" namespace="http://callback.mgt.workflow.identity.carbon.wso2.org"/>
    <types>
        <schema xmlns:tns="http://schema.bpel.mgt.workflow.carbon.wso2.org/" xmlns="http://www.w3.org/2001/XMLSchema"
                attributeFormDefault="unqualified" elementFormDefault="qualified"
                targetNamespace="http://schema.bpel.mgt.workflow.carbon.wso2.org/">
            <element name="ProcessRequest">
                <complexType>
                    <sequence>
                        <element name="uuid" type="string"/>
                        <element name="eventType" type="string"/>
                        <element name="taskInitiator" type="string"></element>
                        <element name="parameters" type="tns:parameterList"></element>
                        <element name="configuration" type="tns:stepList"></element>
                    </sequence>
                </complexType>
            </element>
            <complexType name="stepList">
                <sequence>
                    <element name="approvalStep" maxOccurs="unbounded" minOccurs="0">
                        <complexType>
                            <sequence>
                                <element name="stepName" type="string"></element>
                                <element name="humanTask">
                                    <complexType>
                                        <sequence>
                                            <element name="humanTaskSubject" type="string"></element>
                                            <element name="humanTaskDescription" type="string"></element>
                                        </sequence>
                                    </complexType>
                                </element>
                                <choice>
                                    <sequence>
                                        <element name="user" maxOccurs="unbounded" minOccurs="1"
                                                 type="string"></element>
                                        <element name="role" maxOccurs="unbounded" minOccurs="0"
                                                 type="string"></element>
                                    </sequence>
                                    <sequence>
                                        <element name="user" maxOccurs="unbounded" minOccurs="0"
                                                 type="string"></element>
                                        <element name="role" maxOccurs="unbounded" minOccurs="1"
                                                 type="string"></element>
                                    </sequence>
                                </choice>
                            </sequence>
                        </complexType>
                    </element>
                </sequence>
            </complexType>
            <complexType name="parameterList">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" name="parameter" type="tns:ParameterType"/>
                </sequence>
            </complexType>
            <complexType name="ParameterType">
                <sequence>
                    <element name="value" type="tns:paraItem" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="name" type="string"></attribute>
            </complexType>
            <complexType name="paraItem">
                <sequence>
                    <element name="itemValue" type="string"></element>
                </sequence>
                <attribute name="itemName" type="string" use="optional"/>
            </complexType>

        </schema>
    </types>

    <message name="${bpelProcessName}RequestMessage">
        <part element="schema:ProcessRequest" name="payload"/>
    </message>

    <portType name="${bpelProcessName}">
        <operation name="initiate">
            <input message="tns:${bpelProcessName}RequestMessage"/>
        </operation>
    </portType>

    <binding name="${bpelProcessName}Binding" type="tns:${bpelProcessName}">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="initiate">
            <soap:operation soapAction="http://bpel.mgt.workflow.carbon.wso2.org/approvalProcess/initiate"/>
            <input>
                <soap:body use="literal"/>
            </input>
        </operation>
    </binding>
    <service name="${bpelProcessName}Service">
        <port binding="tns:${bpelProcessName}Binding" name="${bpelProcessName}Port">
            <soap:address location="http://localhost:8080/${bpelProcessName}"/>
        </port>
    </service>

</definitions>
