service-stubs/identity/org.wso2.carbon.identity.tools.xacml.validator.stub/src/main/resources/IdentityXACMLValidatorService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax2376="http://dto.entitlement.identity.carbon.wso2.org/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:tns="http://validator.xacml.tools.identity.carbon.wso2.org" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ax2378="http://dto.validator.xacml.tools.identity.carbon.wso2.org/xsd" targetNamespace="http://validator.xacml.tools.identity.carbon.wso2.org">
    <wsdl:documentation>IdentityXACMLValidatorService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dto.validator.xacml.tools.identity.carbon.wso2.org/xsd">
            <xs:complexType name="ValidationResult">
                <xs:sequence>
                    <xs:element minOccurs="0" name="lineNumber" type="xs:int"/>
                    <xs:element minOccurs="0" name="message" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="type" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ns="http://org.apache.axis2/xsd" xmlns:ax2379="http://dto.validator.xacml.tools.identity.carbon.wso2.org/xsd" xmlns:ax2377="http://dto.entitlement.identity.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://org.apache.axis2/xsd">
            <xs:import namespace="http://dto.entitlement.identity.carbon.wso2.org/xsd"/>
            <xs:import namespace="http://dto.validator.xacml.tools.identity.carbon.wso2.org/xsd"/>
            <xs:element name="validateXACMLPolicy">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="policyDTO" nillable="true" type="ax2376:PolicyDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="validateXACMLPolicyResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2379:ValidationResult"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dto.entitlement.identity.carbon.wso2.org/xsd">
            <xs:complexType name="PolicyDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="active" type="xs:boolean"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="attributeDTOs" nillable="true" type="ax2376:AttributeDTO"/>
                    <xs:element minOccurs="0" name="lastModifiedTime" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="lastModifiedUser" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="policy" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="policyEditor" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="policyEditorData" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="policyId" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="policyIdReferences" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="policyOrder" type="xs:int"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="policySetIdReferences" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="policyType" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="promote" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="version" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="AttributeDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="attributeDataType" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="attributeId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="attributeValue" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="category" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="validateXACMLPolicyRequest">
        <wsdl:part name="parameters" element="ns1:validateXACMLPolicy"/>
    </wsdl:message>
    <wsdl:message name="validateXACMLPolicyResponse">
        <wsdl:part name="parameters" element="ns1:validateXACMLPolicyResponse"/>
    </wsdl:message>
    <wsdl:portType name="IdentityXACMLValidatorServicePortType">
        <wsdl:operation name="validateXACMLPolicy">
            <wsdl:input message="tns:validateXACMLPolicyRequest" wsaw:Action="urn:validateXACMLPolicy"/>
            <wsdl:output message="tns:validateXACMLPolicyResponse" wsaw:Action="urn:validateXACMLPolicyResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="IdentityXACMLValidatorServiceSoap11Binding" type="tns:IdentityXACMLValidatorServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="validateXACMLPolicy">
            <soap:operation soapAction="urn:validateXACMLPolicy" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="IdentityXACMLValidatorServiceSoap12Binding" type="tns:IdentityXACMLValidatorServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="validateXACMLPolicy">
            <soap12:operation soapAction="urn:validateXACMLPolicy" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="IdentityXACMLValidatorServiceHttpBinding" type="tns:IdentityXACMLValidatorServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="validateXACMLPolicy">
            <http:operation location="validateXACMLPolicy"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="IdentityXACMLValidatorService">
        <wsdl:port name="IdentityXACMLValidatorServiceHttpsSoap11Endpoint" binding="tns:IdentityXACMLValidatorServiceSoap11Binding">
            <soap:address location="https://localhost:9443/services/IdentityXACMLValidatorService.IdentityXACMLValidatorServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="IdentityXACMLValidatorServiceHttpsSoap12Endpoint" binding="tns:IdentityXACMLValidatorServiceSoap12Binding">
            <soap12:address location="https://localhost:9443/services/IdentityXACMLValidatorService.IdentityXACMLValidatorServiceHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="IdentityXACMLValidatorServiceHttpsEndpoint" binding="tns:IdentityXACMLValidatorServiceHttpBinding">
            <http:address location="https://localhost:9443/services/IdentityXACMLValidatorService.IdentityXACMLValidatorServiceHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>