components/sts/org.wso2.carbon.sts/src/main/resources/META-INF/security-token-service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2005-2007 WSO2, Inc. (http://wso2.com)
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions name="service"
	targetNamespace="http://www.example.org/service/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:tns="http://www.example.org/service/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wst='http://schemas.xmlsoap.org/ws/2005/02/trust'
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	<wsdl:types>
		<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema'
				   xmlns:wst='http://schemas.xmlsoap.org/ws/2005/02/trust'
				   targetNamespace='http://schemas.xmlsoap.org/ws/2005/02/trust' 
				   elementFormDefault='qualified' >
		
		
		  <xs:element name='RequestSecurityToken' type='wst:RequestSecurityTokenType' />
		  <xs:complexType name='RequestSecurityTokenType' >
			<xs:sequence>
			  <xs:any namespace='##any' processContents='lax' minOccurs='0' maxOccurs='unbounded' />
			</xs:sequence>
			<xs:anyAttribute namespace='##other' processContents='lax' />
		  </xs:complexType>

		  <xs:element name='RequestSecurityTokenResponse' type='wst:RequestSecurityTokenResponseType' />
		  <xs:complexType name='RequestSecurityTokenResponseType' >
			<xs:sequence>
			  <xs:any namespace='##any' processContents='lax' minOccurs='0' maxOccurs='unbounded' />
			</xs:sequence>
			<xs:anyAttribute namespace='##other' processContents='lax' />
		  </xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="IssueTokenRequest">
		<wsdl:part name="parameters" element="wst:RequestSecurityToken"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="IssueTokenResponse">
		<wsdl:part name="parameters" element="wst:RequestSecurityTokenResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="SecurityTokenService">
		<wsdl:operation name="IssueToken">
			<wsdl:input message="tns:IssueTokenRequest"></wsdl:input>
			<wsdl:output message="tns:IssueTokenResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="STSBinding" type="tns:SecurityTokenService">
		<wsdl:operation name="IssueToken">
			<soap:operation
				soapAction="http://schemas.xmlsoap.org/ws/2005/02/trust/RST/Issue"
				style="document">
			</soap:operation>
			<wsdl:input>
				<soap:body use="literal"></soap:body>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"></soap:body>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="wso2wsas-sts">
		<wsdl:port name="SecurityTokenServicePort" binding="tns:STSBinding">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>