components/identity/org.wso2.carbon.identity.relyingparty.ui/src/main/resources/AuthenticationAdmin.wsdl

<!--
 ~ Copyright (c) 2005-2010, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
 ~
 ~ WSO2 Inc. licenses this file to you under the Apache License,
 ~ Version 2.0 (the "License"); you may not use this file except
 ~ in compliance with the License.
 ~ You may obtain a copy of the License at
 ~
 ~    http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing,
 ~ software distributed under the License is distributed on an
 ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~ KIND, either express or implied.  See the License for the
 ~ specific language governing permissions and limitations
 ~ under the License.
 -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://authentication.services.core.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ax210="http://common.core.carbon.wso2.org/xsd" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://authentication.services.core.carbon.wso2.org">
    <wsdl:documentation>AuthenticationAdmin</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax212="http://common.core.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://authentication.services.core.carbon.wso2.org">
            <xs:import namespace="http://common.core.carbon.wso2.org/xsd" />
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Exception" nillable="true" type="xs:anyType" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="AuthenticationException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="AuthenticationException" nillable="true" type="ax210:AuthenticationException" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="loginWithDelegation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="authenticatedUser" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="remoteAddress" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="loginWithDelegationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="login">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="remoteAddress" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="loginResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Exception">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="Exception" nillable="true" type="ns:Exception" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getUserInfoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax210:LoggedUserInfo" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns:ax211="http://authentication.services.core.carbon.wso2.org" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://common.core.carbon.wso2.org/xsd">
            <xs:import namespace="http://authentication.services.core.carbon.wso2.org" />
            <xs:complexType name="AuthenticationException">
                <xs:complexContent>
                    <xs:extension base="ax211:Exception">
                        <xs:sequence />
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="LoggedUserInfo">
                <xs:all>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="UIPermissionOfUser" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="passwordExpiration" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
                </xs:all>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="logoutRequest" />
    <wsdl:message name="AuthenticationException">
        <wsdl:part name="parameters" element="ns:AuthenticationException" />
    </wsdl:message>
    <wsdl:message name="loginWithDelegationRequest">
        <wsdl:part name="parameters" element="ns:loginWithDelegation" />
    </wsdl:message>
    <wsdl:message name="loginWithDelegationResponse">
        <wsdl:part name="parameters" element="ns:loginWithDelegationResponse" />
    </wsdl:message>
    <wsdl:message name="loginRequest">
        <wsdl:part name="parameters" element="ns:login" />
    </wsdl:message>
    <wsdl:message name="loginResponse">
        <wsdl:part name="parameters" element="ns:loginResponse" />
    </wsdl:message>
    <wsdl:message name="getUserInfoRequest" />
    <wsdl:message name="getUserInfoResponse">
        <wsdl:part name="parameters" element="ns:getUserInfoResponse" />
    </wsdl:message>
    <wsdl:message name="Exception">
        <wsdl:part name="parameters" element="ns:Exception" />
    </wsdl:message>
    <wsdl:portType name="AuthenticationAdminPortType">
        <wsdl:operation name="logout">
            <wsdl:input message="ns:logoutRequest" wsaw:Action="urn:logout" />
            <wsdl:fault message="ns:AuthenticationException" name="AuthenticationException" wsaw:Action="urn:logoutAuthenticationException" />
        </wsdl:operation>
        <wsdl:operation name="loginWithDelegation">
            <wsdl:input message="ns:loginWithDelegationRequest" wsaw:Action="urn:loginWithDelegation" />
            <wsdl:output message="ns:loginWithDelegationResponse" wsaw:Action="urn:loginWithDelegationResponse" />
            <wsdl:fault message="ns:AuthenticationException" name="AuthenticationException" wsaw:Action="urn:loginWithDelegationAuthenticationException" />
        </wsdl:operation>
        <wsdl:operation name="login">
            <wsdl:input message="ns:loginRequest" wsaw:Action="urn:login" />
            <wsdl:output message="ns:loginResponse" wsaw:Action="urn:loginResponse" />
            <wsdl:fault message="ns:AuthenticationException" name="AuthenticationException" wsaw:Action="urn:loginAuthenticationException" />
        </wsdl:operation>
        <wsdl:operation name="getUserInfo">
            <wsdl:input message="ns:getUserInfoRequest" wsaw:Action="urn:getUserInfo" />
            <wsdl:output message="ns:getUserInfoResponse" wsaw:Action="urn:getUserInfoResponse" />
            <wsdl:fault message="ns:Exception" name="Exception" wsaw:Action="urn:getUserInfoException" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="AuthenticationAdminSoap11Binding" type="ns:AuthenticationAdminPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="logout">
            <soap:operation soapAction="urn:logout" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="AuthenticationException">
                <soap:fault use="literal" name="AuthenticationException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="loginWithDelegation">
            <soap:operation soapAction="urn:loginWithDelegation" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="AuthenticationException">
                <soap:fault use="literal" name="AuthenticationException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="login">
            <soap:operation soapAction="urn:login" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="AuthenticationException">
                <soap:fault use="literal" name="AuthenticationException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getUserInfo">
            <soap:operation soapAction="urn:getUserInfo" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="AuthenticationAdminSoap12Binding" type="ns:AuthenticationAdminPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="logout">
            <soap12:operation soapAction="urn:logout" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="AuthenticationException">
                <soap12:fault use="literal" name="AuthenticationException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="loginWithDelegation">
            <soap12:operation soapAction="urn:loginWithDelegation" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="AuthenticationException">
                <soap12:fault use="literal" name="AuthenticationException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="login">
            <soap12:operation soapAction="urn:login" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="AuthenticationException">
                <soap12:fault use="literal" name="AuthenticationException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getUserInfo">
            <soap12:operation soapAction="urn:getUserInfo" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="AuthenticationAdminHttpBinding" type="ns:AuthenticationAdminPortType">
        <http:binding verb="POST" />
        <wsdl:operation name="logout">
            <http:operation location="logout" />
            <wsdl:input>
                <mime:content type="text/xml" part="logout" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="loginWithDelegation">
            <http:operation location="loginWithDelegation" />
            <wsdl:input>
                <mime:content type="text/xml" part="loginWithDelegation" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="loginWithDelegation" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="login">
            <http:operation location="login" />
            <wsdl:input>
                <mime:content type="text/xml" part="login" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="login" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getUserInfo">
            <http:operation location="getUserInfo" />
            <wsdl:input>
                <mime:content type="text/xml" part="getUserInfo" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getUserInfo" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="AuthenticationAdmin">
        <wsdl:port name="AuthenticationAdminHttpsSoap11Endpoint" binding="ns:AuthenticationAdminSoap11Binding">
            <soap:address location="https://10.100.1.252:9443/services/AuthenticationAdmin.AuthenticationAdminHttpsSoap11Endpoint/" />
        </wsdl:port>
        <wsdl:port name="AuthenticationAdminHttpsSoap12Endpoint" binding="ns:AuthenticationAdminSoap12Binding">
            <soap12:address location="https://10.100.1.252:9443/services/AuthenticationAdmin.AuthenticationAdminHttpsSoap12Endpoint/" />
        </wsdl:port>
        <wsdl:port name="AuthenticationAdminHttpsEndpoint" binding="ns:AuthenticationAdminHttpBinding">
            <http:address location="https://10.100.1.252:9443/services/AuthenticationAdmin.AuthenticationAdminHttpsEndpoint/" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>