components/identity/org.wso2.carbon.identity.relyingparty.ui/src/main/resources/RelyingPartyService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax2113="http://api.registry.carbon.wso2.org/xsd" xmlns:ax2108="http://dto.relyingparty.identity.carbon.wso2.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ax2112="http://exceptions.core.registry.carbon.wso2.org/xsd" xmlns:ax2110="http://base.identity.carbon.wso2.org/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://relyingparty.identity.carbon.wso2.org" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://relyingparty.identity.carbon.wso2.org">
    <wsdl:documentation>RelyingPartyService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax2115="http://exceptions.core.registry.carbon.wso2.org/xsd" xmlns:ax2109="http://dto.relyingparty.identity.carbon.wso2.org/xsd" xmlns:ns="http://org.apache.axis2/xsd" xmlns:ax2111="http://base.identity.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://org.apache.axis2/xsd">
            <xs:import namespace="http://dto.relyingparty.identity.carbon.wso2.org/xsd" />
            <xs:import namespace="http://base.identity.carbon.wso2.org/xsd" />
            <xs:import namespace="http://exceptions.core.registry.carbon.wso2.org/xsd" />
            <xs:element name="signInWithOpenIDException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="signInWithOpenIDException" nillable="true" type="ns1:Exception" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="signInWithOpenID">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="openID" nillable="true" type="ax2109:OpenIDDTO" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="signInWithOpenIDResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2109:OpenIDSignInDTO" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="signInWithInfoCardException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="signInWithInfoCardException" nillable="true" type="ns1:Exception" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="signInWithInfoCard">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="infocard" nillable="true" type="ax2109:InfoCardDTO" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="signInWithInfoCardResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2109:InfoCardSignInDTO" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="signInGAppUserException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="signInGAppUserException" nillable="true" type="ns1:Exception" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="signInGAppUser">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="openId" nillable="true" type="ax2109:OpenIDDTO" />
                        <xs:element minOccurs="0" name="domainName" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getOpenIDAuthInfoException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="getOpenIDAuthInfoException" nillable="true" type="ns1:Exception" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getOpenIDAuthInfo">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="dialect" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getOpenIDAuthInfoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2109:OpenIDAuthInfoDTO" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getInfoCardAuthInfoException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="getInfoCardAuthInfoException" nillable="true" type="ns1:Exception" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getInfoCardAuthInfo">
                <xs:complexType>
                    <xs:sequence />
                </xs:complexType>
            </xs:element>
            <xs:element name="getInfoCardAuthInfoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2109:InfoCardAuthInfoDTO" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addOpenIdToProfileIdentityException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="IdentityException" nillable="true" type="ax2111:IdentityException" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addOpenIdToProfileRegistryException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="RegistryException" nillable="true" type="ax2115:RegistryException" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addOpenIdToProfile">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="dto" nillable="true" type="ax2109:OpenIDDTO" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addOpenIdToProfileResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns:ax2114="http://api.registry.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://exceptions.core.registry.carbon.wso2.org/xsd">
            <xs:import namespace="http://api.registry.carbon.wso2.org/xsd" />
            <xs:complexType name="RegistryException">
                <xs:complexContent>
                    <xs:extension base="ax2114:RegistryException">
                        <xs:sequence />
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dto.relyingparty.identity.carbon.wso2.org/xsd">
            <xs:complexType name="OpenIDDTO">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="claims" nillable="true" type="ax2108:ClaimDTO" />
                    <xs:element minOccurs="0" name="openID" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ClaimDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="claimUri" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="claimValue" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="OpenIDSignInDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="authenticated" type="xs:boolean" />
                    <xs:element minOccurs="0" name="openID" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="InfoCardDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="xmlToken" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="InfoCardSignInDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="authenticated" type="xs:boolean" />
                    <xs:element minOccurs="0" name="ppid" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="OpenIDAuthInfoDTO">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="optionalClaims" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="realm" nillable="true" type="xs:string" />
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="requestTypes" nillable="true" type="xs:string" />
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="requiredClaims" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="InfoCardAuthInfoDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="issuer" nillable="true" type="xs:string" />
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="optionalClaims" nillable="true" type="xs:string" />
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="requiredClaims" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="tokenType" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://base.identity.carbon.wso2.org/xsd">
            <xs:complexType name="IdentityException">
                <xs:sequence />
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://api.registry.carbon.wso2.org/xsd">
            <xs:complexType name="RegistryException">
                <xs:sequence />
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getInfoCardAuthInfoRequest">
        <wsdl:part name="parameters" element="ns1:getInfoCardAuthInfo" />
    </wsdl:message>
    <wsdl:message name="getInfoCardAuthInfoResponse">
        <wsdl:part name="parameters" element="ns1:getInfoCardAuthInfoResponse" />
    </wsdl:message>
    <wsdl:message name="getInfoCardAuthInfoException">
        <wsdl:part name="parameters" element="ns1:getInfoCardAuthInfoException" />
    </wsdl:message>
    <wsdl:message name="signInWithInfoCardRequest">
        <wsdl:part name="parameters" element="ns1:signInWithInfoCard" />
    </wsdl:message>
    <wsdl:message name="signInWithInfoCardResponse">
        <wsdl:part name="parameters" element="ns1:signInWithInfoCardResponse" />
    </wsdl:message>
    <wsdl:message name="signInWithInfoCardException">
        <wsdl:part name="parameters" element="ns1:signInWithInfoCardException" />
    </wsdl:message>
    <wsdl:message name="getOpenIDAuthInfoRequest">
        <wsdl:part name="parameters" element="ns1:getOpenIDAuthInfo" />
    </wsdl:message>
    <wsdl:message name="getOpenIDAuthInfoResponse">
        <wsdl:part name="parameters" element="ns1:getOpenIDAuthInfoResponse" />
    </wsdl:message>
    <wsdl:message name="getOpenIDAuthInfoException">
        <wsdl:part name="parameters" element="ns1:getOpenIDAuthInfoException" />
    </wsdl:message>
    <wsdl:message name="addOpenIdToProfileRequest">
        <wsdl:part name="parameters" element="ns1:addOpenIdToProfile" />
    </wsdl:message>
    <wsdl:message name="addOpenIdToProfileResponse">
        <wsdl:part name="parameters" element="ns1:addOpenIdToProfileResponse" />
    </wsdl:message>
    <wsdl:message name="addOpenIdToProfileIdentityException">
        <wsdl:part name="parameters" element="ns1:addOpenIdToProfileIdentityException" />
    </wsdl:message>
    <wsdl:message name="addOpenIdToProfileRegistryException">
        <wsdl:part name="parameters" element="ns1:addOpenIdToProfileRegistryException" />
    </wsdl:message>
    <wsdl:message name="signInWithOpenIDRequest">
        <wsdl:part name="parameters" element="ns1:signInWithOpenID" />
    </wsdl:message>
    <wsdl:message name="signInWithOpenIDResponse">
        <wsdl:part name="parameters" element="ns1:signInWithOpenIDResponse" />
    </wsdl:message>
    <wsdl:message name="signInWithOpenIDException">
        <wsdl:part name="parameters" element="ns1:signInWithOpenIDException" />
    </wsdl:message>
    <wsdl:message name="signInGAppUserRequest">
        <wsdl:part name="parameters" element="ns1:signInGAppUser" />
    </wsdl:message>
    <wsdl:message name="signInGAppUserException">
        <wsdl:part name="parameters" element="ns1:signInGAppUserException" />
    </wsdl:message>
    <wsdl:portType xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" name="RelyingPartyServicePortType">
        <wsdl:operation name="getInfoCardAuthInfo">
            <wsdl:input message="tns:getInfoCardAuthInfoRequest" wsaw:Action="urn:getInfoCardAuthInfo" />
            <wsdl:output message="tns:getInfoCardAuthInfoResponse" wsaw:Action="urn:getInfoCardAuthInfoResponse" />
            <wsdl:fault message="tns:getInfoCardAuthInfoException" name="getInfoCardAuthInfoException" wsaw:Action="urn:getInfoCardAuthInfogetInfoCardAuthInfoException" />
        </wsdl:operation>
        <wsdl:operation name="signInWithInfoCard">
            <wsdl:input message="tns:signInWithInfoCardRequest" wsaw:Action="urn:signInWithInfoCard" />
            <wsdl:output message="tns:signInWithInfoCardResponse" wsaw:Action="urn:signInWithInfoCardResponse" />
            <wsdl:fault message="tns:signInWithInfoCardException" name="signInWithInfoCardException" wsaw:Action="urn:signInWithInfoCardsignInWithInfoCardException" />
        </wsdl:operation>
        <wsdl:operation name="getOpenIDAuthInfo">
            <wsdl:input message="tns:getOpenIDAuthInfoRequest" wsaw:Action="urn:getOpenIDAuthInfo" />
            <wsdl:output message="tns:getOpenIDAuthInfoResponse" wsaw:Action="urn:getOpenIDAuthInfoResponse" />
            <wsdl:fault message="tns:getOpenIDAuthInfoException" name="getOpenIDAuthInfoException" wsaw:Action="urn:getOpenIDAuthInfogetOpenIDAuthInfoException" />
        </wsdl:operation>
        <wsdl:operation name="addOpenIdToProfile">
            <wsdl:input message="tns:addOpenIdToProfileRequest" wsaw:Action="urn:addOpenIdToProfile" />
            <wsdl:output message="tns:addOpenIdToProfileResponse" wsaw:Action="urn:addOpenIdToProfileResponse" />
            <wsdl:fault message="tns:addOpenIdToProfileIdentityException" name="addOpenIdToProfileIdentityException" wsaw:Action="urn:addOpenIdToProfileaddOpenIdToProfileIdentityException" />
            <wsdl:fault message="tns:addOpenIdToProfileRegistryException" name="addOpenIdToProfileRegistryException" wsaw:Action="urn:addOpenIdToProfileaddOpenIdToProfileRegistryException" />
        </wsdl:operation>
        <wsdl:operation name="signInWithOpenID">
            <wsdl:input message="tns:signInWithOpenIDRequest" wsaw:Action="urn:signInWithOpenID" />
            <wsdl:output message="tns:signInWithOpenIDResponse" wsaw:Action="urn:signInWithOpenIDResponse" />
            <wsdl:fault message="tns:signInWithOpenIDException" name="signInWithOpenIDException" wsaw:Action="urn:signInWithOpenIDsignInWithOpenIDException" />
        </wsdl:operation>
        <wsdl:operation name="signInGAppUser">
            <wsdl:input message="tns:signInGAppUserRequest" wsaw:Action="urn:signInGAppUser" />
            <wsdl:fault message="tns:signInGAppUserException" name="signInGAppUserException" wsaw:Action="urn:signInGAppUsersignInGAppUserException" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="RelyingPartyServiceSoap11Binding" type="tns:RelyingPartyServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="getInfoCardAuthInfo">
            <soap:operation soapAction="urn:getInfoCardAuthInfo" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="getInfoCardAuthInfoException">
                <soap:fault use="literal" name="getInfoCardAuthInfoException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="signInWithInfoCard">
            <soap:operation soapAction="urn:signInWithInfoCard" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="signInWithInfoCardException">
                <soap:fault use="literal" name="signInWithInfoCardException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getOpenIDAuthInfo">
            <soap:operation soapAction="urn:getOpenIDAuthInfo" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="getOpenIDAuthInfoException">
                <soap:fault use="literal" name="getOpenIDAuthInfoException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addOpenIdToProfile">
            <soap:operation soapAction="urn:addOpenIdToProfile" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="addOpenIdToProfileRegistryException">
                <soap:fault use="literal" name="addOpenIdToProfileRegistryException" />
            </wsdl:fault>
            <wsdl:fault name="addOpenIdToProfileIdentityException">
                <soap:fault use="literal" name="addOpenIdToProfileIdentityException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="signInWithOpenID">
            <soap:operation soapAction="urn:signInWithOpenID" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="signInWithOpenIDException">
                <soap:fault use="literal" name="signInWithOpenIDException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="signInGAppUser">
            <soap:operation soapAction="urn:signInGAppUser" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="signInGAppUserException">
                <soap:fault use="literal" name="signInGAppUserException" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="RelyingPartyServiceSoap12Binding" type="tns:RelyingPartyServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="getInfoCardAuthInfo">
            <soap12:operation soapAction="urn:getInfoCardAuthInfo" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="getInfoCardAuthInfoException">
                <soap12:fault use="literal" name="getInfoCardAuthInfoException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="signInWithInfoCard">
            <soap12:operation soapAction="urn:signInWithInfoCard" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="signInWithInfoCardException">
                <soap12:fault use="literal" name="signInWithInfoCardException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getOpenIDAuthInfo">
            <soap12:operation soapAction="urn:getOpenIDAuthInfo" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="getOpenIDAuthInfoException">
                <soap12:fault use="literal" name="getOpenIDAuthInfoException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addOpenIdToProfile">
            <soap12:operation soapAction="urn:addOpenIdToProfile" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="addOpenIdToProfileRegistryException">
                <soap12:fault use="literal" name="addOpenIdToProfileRegistryException" />
            </wsdl:fault>
            <wsdl:fault name="addOpenIdToProfileIdentityException">
                <soap12:fault use="literal" name="addOpenIdToProfileIdentityException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="signInWithOpenID">
            <soap12:operation soapAction="urn:signInWithOpenID" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="signInWithOpenIDException">
                <soap12:fault use="literal" name="signInWithOpenIDException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="signInGAppUser">
            <soap12:operation soapAction="urn:signInGAppUser" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="signInGAppUserException">
                <soap12:fault use="literal" name="signInGAppUserException" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="RelyingPartyServiceHttpBinding" type="tns:RelyingPartyServicePortType">
        <http:binding verb="POST" />
        <wsdl:operation name="getInfoCardAuthInfo">
            <http:operation location="getInfoCardAuthInfo" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="signInWithInfoCard">
            <http:operation location="signInWithInfoCard" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getOpenIDAuthInfo">
            <http:operation location="getOpenIDAuthInfo" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addOpenIdToProfile">
            <http:operation location="addOpenIdToProfile" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="signInWithOpenID">
            <http:operation location="signInWithOpenID" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="signInGAppUser">
            <http:operation location="signInGAppUser" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="RelyingPartyService">
        <wsdl:port name="RelyingPartyServiceHttpsSoap11Endpoint" binding="tns:RelyingPartyServiceSoap11Binding">
            <soap:address location="https://10.100.0.147:9443/services/RelyingPartyService.RelyingPartyServiceHttpsSoap11Endpoint/" />
        </wsdl:port>
        <wsdl:port name="RelyingPartyServiceHttpsSoap12Endpoint" binding="tns:RelyingPartyServiceSoap12Binding">
            <soap12:address location="https://10.100.0.147:9443/services/RelyingPartyService.RelyingPartyServiceHttpsSoap12Endpoint/" />
        </wsdl:port>
        <wsdl:port name="RelyingPartyServiceHttpsEndpoint" binding="tns:RelyingPartyServiceHttpBinding">
            <http:address location="https://10.100.0.147:9443/services/RelyingPartyService.RelyingPartyServiceHttpsEndpoint/" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
