components/identity/org.wso2.carbon.identity.oauth.ui/src/main/resources/OAuthAdminService.wsdl

<!--
 ~ Copyright (c) 2005-2010, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
 ~
 ~ WSO2 Inc. licenses this file to you under the Apache License,
 ~ Version 2.0 (the "License"); you may not use this file except
 ~ in compliance with the License.
 ~ You may obtain a copy of the License at
 ~
 ~    http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing,
 ~ software distributed under the License is distributed on an
 ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~ KIND, either express or implied.  See the License for the
 ~ specific language governing permissions and limitations
 ~ under the License.
 -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:axis2="http://oauth.identity.carbon.wso2.org" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax229="http://dto.oauth.identity.carbon.wso2.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://oauth.identity.carbon.wso2.org">
    <wsdl:documentation>OAuthAdminService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ns="http://org.apache.axis2/xsd" attributeFormDefault="qualified"
                   elementFormDefault="qualified" targetNamespace="http://org.apache.axis2/xsd">
            <xs:import namespace="http://dto.oauth.identity.carbon.wso2.org/xsd" />
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Exception" nillable="true" type="xs:anyType" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="Exception">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="Exception" nillable="true" type="ns:Exception" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="removeOAuthApplicationData">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="applicationName" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="registerOAuthConsumer">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="consumerSecret" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="registerOAuthApplicationData">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="application" nillable="true" type="ax229:OAuthConsumerAppDTO" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getOAuthApplicationData">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="applicationName" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getOAuthApplicationDataResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax229:OAuthConsumerAppDTO" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllOAuthApplicationDataResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax229:OAuthConsumerAppDTO" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dto.oauth.identity.carbon.wso2.org/xsd">
            <xs:complexType name="OAuthConsumerAppDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="applicationName" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="callbackUrl" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="oauthConsumerKey" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="oauthConsumerSecret" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="oauthMetaData" nillable="true" type="ax229:OAuthMetaDataDTO" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="OAuthMetaDataDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="accessTokenUrl" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="authorizeUrl" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="requestTokenUrl" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="registerOAuthConsumerRequest">
        <wsdl:part name="parameters" element="ns1:registerOAuthConsumer" />
    </wsdl:message>
    <wsdl:message name="Exception">
        <wsdl:part name="parameters" element="ns1:Exception" />
    </wsdl:message>
    <wsdl:message name="getOAuthApplicationDataRequest">
        <wsdl:part name="parameters" element="ns1:getOAuthApplicationData" />
    </wsdl:message>
    <wsdl:message name="getOAuthApplicationDataResponse">
        <wsdl:part name="parameters" element="ns1:getOAuthApplicationDataResponse" />
    </wsdl:message>
    <wsdl:message name="getAllOAuthApplicationDataRequest" />
    <wsdl:message name="getAllOAuthApplicationDataResponse">
        <wsdl:part name="parameters" element="ns1:getAllOAuthApplicationDataResponse" />
    </wsdl:message>
    <wsdl:message name="removeOAuthApplicationDataRequest">
        <wsdl:part name="parameters" element="ns1:removeOAuthApplicationData" />
    </wsdl:message>
    <wsdl:message name="registerOAuthApplicationDataRequest">
        <wsdl:part name="parameters" element="ns1:registerOAuthApplicationData" />
    </wsdl:message>
    <wsdl:portType name="OAuthAdminServicePortType">
        <wsdl:operation name="registerOAuthConsumer">
            <wsdl:input message="axis2:registerOAuthConsumerRequest" wsaw:Action="urn:registerOAuthConsumer" />
            <wsdl:fault message="axis2:Exception" name="Exception" wsaw:Action="urn:registerOAuthConsumerException" />
        </wsdl:operation>
        <wsdl:operation name="getOAuthApplicationData">
            <wsdl:input message="axis2:getOAuthApplicationDataRequest" wsaw:Action="urn:getOAuthApplicationData" />
            <wsdl:output message="axis2:getOAuthApplicationDataResponse" wsaw:Action="urn:getOAuthApplicationDataResponse" />
            <wsdl:fault message="axis2:Exception" name="Exception" wsaw:Action="urn:getOAuthApplicationDataException" />
        </wsdl:operation>
        <wsdl:operation name="getAllOAuthApplicationData">
            <wsdl:input message="axis2:getAllOAuthApplicationDataRequest" wsaw:Action="urn:getAllOAuthApplicationData" />
            <wsdl:output message="axis2:getAllOAuthApplicationDataResponse" wsaw:Action="urn:getAllOAuthApplicationDataResponse" />
            <wsdl:fault message="axis2:Exception" name="Exception" wsaw:Action="urn:getAllOAuthApplicationDataException" />
        </wsdl:operation>
        <wsdl:operation name="removeOAuthApplicationData">
            <wsdl:input message="axis2:removeOAuthApplicationDataRequest" wsaw:Action="urn:removeOAuthApplicationData" />
            <wsdl:fault message="axis2:Exception" name="Exception" wsaw:Action="urn:removeOAuthApplicationDataException" />
        </wsdl:operation>
        <wsdl:operation name="registerOAuthApplicationData">
            <wsdl:input message="axis2:registerOAuthApplicationDataRequest" wsaw:Action="urn:registerOAuthApplicationData" />
            <wsdl:fault message="axis2:Exception" name="Exception" wsaw:Action="urn:registerOAuthApplicationDataException" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="OAuthAdminServiceSoap11Binding" type="axis2:OAuthAdminServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="registerOAuthConsumer">
            <soap:operation soapAction="urn:registerOAuthConsumer" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getOAuthApplicationData">
            <soap:operation soapAction="urn:getOAuthApplicationData" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllOAuthApplicationData">
            <soap:operation soapAction="urn:getAllOAuthApplicationData" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="removeOAuthApplicationData">
            <soap:operation soapAction="urn:removeOAuthApplicationData" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="registerOAuthApplicationData">
            <soap:operation soapAction="urn:registerOAuthApplicationData" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="OAuthAdminServiceSoap12Binding" type="axis2:OAuthAdminServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="registerOAuthConsumer">
            <soap12:operation soapAction="urn:registerOAuthConsumer" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getOAuthApplicationData">
            <soap12:operation soapAction="urn:getOAuthApplicationData" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllOAuthApplicationData">
            <soap12:operation soapAction="urn:getAllOAuthApplicationData" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="removeOAuthApplicationData">
            <soap12:operation soapAction="urn:removeOAuthApplicationData" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="registerOAuthApplicationData">
            <soap12:operation soapAction="urn:registerOAuthApplicationData" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="OAuthAdminServiceHttpBinding" type="axis2:OAuthAdminServicePortType">
        <http:binding verb="POST" />
        <wsdl:operation name="registerOAuthConsumer">
            <http:operation location="registerOAuthConsumer" />
            <wsdl:input>
                <mime:content type="text/xml" part="registerOAuthConsumer" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getOAuthApplicationData">
            <http:operation location="getOAuthApplicationData" />
            <wsdl:input>
                <mime:content type="text/xml" part="getOAuthApplicationData" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getOAuthApplicationData" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllOAuthApplicationData">
            <http:operation location="getAllOAuthApplicationData" />
            <wsdl:input>
                <mime:content type="text/xml" part="getAllOAuthApplicationData" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getAllOAuthApplicationData" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="removeOAuthApplicationData">
            <http:operation location="removeOAuthApplicationData" />
            <wsdl:input>
                <mime:content type="text/xml" part="removeOAuthApplicationData" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="registerOAuthApplicationData">
            <http:operation location="registerOAuthApplicationData" />
            <wsdl:input>
                <mime:content type="text/xml" part="registerOAuthApplicationData" />
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="OAuthAdminService">
        <wsdl:port name="OAuthAdminServiceHttpsSoap11Endpoint" binding="axis2:OAuthAdminServiceSoap11Binding">
            <soap:address location="https://localhost:9443/services/OAuthAdminService.OAuthAdminServiceHttpsSoap11Endpoint/" />
        </wsdl:port>
        <wsdl:port name="OAuthAdminServiceHttpsSoap12Endpoint" binding="axis2:OAuthAdminServiceSoap12Binding">
            <soap12:address location="https://localhost:9443/services/OAuthAdminService.OAuthAdminServiceHttpsSoap12Endpoint/" />
        </wsdl:port>
        <wsdl:port name="OAuthAdminServiceHttpsEndpoint" binding="axis2:OAuthAdminServiceHttpBinding">
            <http:address location="https://localhost:9443/services/OAuthAdminService.OAuthAdminServiceHttpsEndpoint/" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>