components/sts/org.wso2.carbon.identity.sts.passive.ui/src/main/resources/IdentityPassiveSTSService.wsdl

<!--
  ~ Copyright (c) 2010, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
  ~
  ~  WSO2 Inc. licenses this file to you under the Apache License,
  ~  Version 2.0 (the "License"); you may not use this file except
  ~  in compliance with the License.
  ~  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:axis2="http://passive.sts.identity.carbon.wso2.org" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ax2111="http://passive.sts.identity.carbon.wso2.org/xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://passive.sts.identity.carbon.wso2.org">
    <wsdl:documentation>IdentityPassiveSTSService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ns="http://org.apache.axis2/xsd" attributeFormDefault="qualified"
                   elementFormDefault="qualified" targetNamespace="http://org.apache.axis2/xsd">
            <xs:import namespace="http://passive.sts.identity.carbon.wso2.org/xsd" />
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Exception" nillable="true" type="xs:anyType" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="Exception">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="Exception" nillable="true" type="ns:Exception" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="request" nillable="true" type="ax2111:RequestToken" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getResponseResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2111:ResponseToken" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://passive.sts.identity.carbon.wso2.org/xsd">
            <xs:complexType name="RequestToken">
                <xs:all>
                    <xs:element minOccurs="0" name="action" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="attributes" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="context" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="currentTimeAtRecepient" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="policy" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="pseudo" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="realm" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="replyTo" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="request" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="requestPointer" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="responseTo" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
                </xs:all>
            </xs:complexType>
            <xs:complexType name="ResponseToken">
                <xs:all>
                    <xs:element minOccurs="0" name="authenticated" type="xs:boolean" />
                    <xs:element minOccurs="0" name="context" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="replyTo" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="responsePointer" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="results" nillable="true" type="xs:string" />
                </xs:all>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getResponseRequest">
        <wsdl:part name="parameters" element="ns1:getResponse" />
    </wsdl:message>
    <wsdl:message name="getResponseResponse">
        <wsdl:part name="parameters" element="ns1:getResponseResponse" />
    </wsdl:message>
    <wsdl:message name="Exception">
        <wsdl:part name="parameters" element="ns1:Exception" />
    </wsdl:message>
    <wsdl:portType name="IdentityPassiveSTSServicePortType">
        <wsdl:operation name="getResponse">
            <wsdl:input message="axis2:getResponseRequest" wsaw:Action="urn:getResponse" />
            <wsdl:output message="axis2:getResponseResponse" wsaw:Action="urn:getResponseResponse" />
            <wsdl:fault message="axis2:Exception" name="Exception" wsaw:Action="urn:getResponseException" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="IdentityPassiveSTSServiceSoap11Binding" type="axis2:IdentityPassiveSTSServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="getResponse">
            <soap:operation soapAction="urn:getResponse" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="IdentityPassiveSTSServiceSoap12Binding" type="axis2:IdentityPassiveSTSServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="getResponse">
            <soap12:operation soapAction="urn:getResponse" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="IdentityPassiveSTSServiceHttpBinding" type="axis2:IdentityPassiveSTSServicePortType">
        <http:binding verb="POST" />
        <wsdl:operation name="getResponse">
            <http:operation location="getResponse" />
            <wsdl:input>
                <mime:content type="text/xml" part="getResponse" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getResponse" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="IdentityPassiveSTSService">
        <wsdl:port name="IdentityPassiveSTSServiceHttpsSoap11Endpoint" binding="axis2:IdentityPassiveSTSServiceSoap11Binding">
            <soap:address location="https://localhost:9443/services/IdentityPassiveSTSService.IdentityPassiveSTSServiceHttpsSoap11Endpoint/" />
        </wsdl:port>
        <wsdl:port name="IdentityPassiveSTSServiceHttpsSoap12Endpoint" binding="axis2:IdentityPassiveSTSServiceSoap12Binding">
            <soap12:address location="https://localhost:9443/services/IdentityPassiveSTSService.IdentityPassiveSTSServiceHttpsSoap12Endpoint/" />
        </wsdl:port>
        <wsdl:port name="IdentityPassiveSTSServiceHttpsEndpoint" binding="axis2:IdentityPassiveSTSServiceHttpBinding">
            <http:address location="https://localhost:9443/services/IdentityPassiveSTSService.IdentityPassiveSTSServiceHttpsEndpoint/" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>