service-stubs/identity/org.wso2.carbon.identity.certificateauthority.stub/src/main/resources/CAAdminService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:ax2211="http://certificateauthority.identity.carbon.wso2.org/xsd"
                  xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:tns="http://certificateauthority.identity.carbon.wso2.org"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:ax2213="http://data.certificateauthority.identity.carbon.wso2.org/xsd"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  targetNamespace="http://certificateauthority.identity.carbon.wso2.org">
    <wsdl:documentation>CAAdminService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified"
                   targetNamespace="http://certificateauthority.identity.carbon.wso2.org/xsd">
            <xs:complexType name="CaException">
                <xs:sequence></xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2214="http://data.certificateauthority.identity.carbon.wso2.org/xsd"
                   attributeFormDefault="qualified" elementFormDefault="qualified"
                   targetNamespace="http://org.apache.axis2/xsd">
            <xs:import namespace="http://certificateauthority.identity.carbon.wso2.org/xsd"></xs:import>
            <xs:import namespace="http://data.certificateauthority.identity.carbon.wso2.org/xsd"></xs:import>
            <xs:element name="CAAdminServiceCaException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="CaException" nillable="true"
                                    type="ax2211:CaException"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="signCSR">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serialNo" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="validity" type="xs:int"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="setKeyStoreAndAlias">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="keyStore" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="alias" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="CAAdminServiceException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="CAAdminServiceException" nillable="true"
                                    type="ns1:Exception"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="revokeCert">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serial" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="reason" type="xs:int"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="rejectCSR">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serial" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listKeyAliases">
                <xs:complexType>
                    <xs:sequence></xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listKeyAliasesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true"
                                    type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTenantIssuedCertificates">
                <xs:complexType>
                    <xs:sequence></xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTenantIssuedCertificatesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true"
                                    type="ax2214:CertificateMetaInfo"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getRevokedReason">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serial" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getRevokedReasonResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCsrfromORG">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="org" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCsrfromORGResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true"
                                    type="ax2214:CsrMetaInfo"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCsrfromCN">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="CN" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCsrfromCNResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true"
                                    type="ax2214:CsrMetaInfo"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCsrListWithStatus">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="status" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCsrListWithStatusResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true"
                                    type="ax2214:CsrMetaInfo"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCsrList">
                <xs:complexType>
                    <xs:sequence></xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCsrListResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true"
                                    type="ax2214:CsrMetaInfo"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCsr">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serial" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCsrResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2214:CsrDTO"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCerts">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="status" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCertsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true"
                                    type="ax2214:CertificateMetaInfo"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCertificate">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serialNo" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCertificateResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true"
                                    type="ax2214:CertificateDTO"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllCsrs">
                <xs:complexType>
                    <xs:sequence></xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllCsrsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true"
                                    type="ax2214:CsrMetaInfo"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllCerts">
                <xs:complexType>
                    <xs:sequence></xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllCertsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true"
                                    type="ax2214:CertificateMetaInfo"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteCsr">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serial" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified"
                   targetNamespace="http://data.certificateauthority.identity.carbon.wso2.org/xsd">
            <xs:complexType name="CertificateMetaInfo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="expiryDate" nillable="true" type="xs:date"></xs:element>
                    <xs:element minOccurs="0" name="issuedDate" nillable="true" type="xs:date"></xs:element>
                    <xs:element minOccurs="0" name="serialNo" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="status" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="CsrMetaInfo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="commonName" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="organization" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="requestedDate" nillable="true" type="xs:date"></xs:element>
                    <xs:element minOccurs="0" name="serialNo" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="status" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="CsrDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="city" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="country" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="csrMetaInfo" nillable="true" type="ax2213:CsrMetaInfo"></xs:element>
                    <xs:element minOccurs="0" name="csrRequest" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="department" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="state" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="tenantID" type="xs:int"></xs:element>
                    <xs:element minOccurs="0" name="userStoreDomain" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="CertificateDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="certificateMetaInfo" nillable="true"
                                type="ax2213:CertificateMetaInfo"></xs:element>
                    <xs:element minOccurs="0" name="encodedCertificate" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="expiryDate" nillable="true" type="xs:date"></xs:element>
                    <xs:element minOccurs="0" name="issuedDate" nillable="true" type="xs:date"></xs:element>
                    <xs:element minOccurs="0" name="serialNo" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="status" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="tenantID" type="xs:int"></xs:element>
                    <xs:element minOccurs="0" name="userStoreDomain" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getCsrRequest">
        <wsdl:part name="parameters" element="ns1:getCsr"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getCsrResponse">
        <wsdl:part name="parameters" element="ns1:getCsrResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="CAAdminServiceCaException">
        <wsdl:part name="parameters" element="ns1:CAAdminServiceCaException"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="revokeCertRequest">
        <wsdl:part name="parameters" element="ns1:revokeCert"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="CAAdminServiceException">
        <wsdl:part name="parameters" element="ns1:CAAdminServiceException"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="deleteCsrRequest">
        <wsdl:part name="parameters" element="ns1:deleteCsr"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="setKeyStoreAndAliasRequest">
        <wsdl:part name="parameters" element="ns1:setKeyStoreAndAlias"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAllCsrsRequest">
        <wsdl:part name="parameters" element="ns1:getAllCsrs"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAllCsrsResponse">
        <wsdl:part name="parameters" element="ns1:getAllCsrsResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getTenantIssuedCertificatesRequest">
        <wsdl:part name="parameters" element="ns1:getTenantIssuedCertificates"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getTenantIssuedCertificatesResponse">
        <wsdl:part name="parameters" element="ns1:getTenantIssuedCertificatesResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getCertsRequest">
        <wsdl:part name="parameters" element="ns1:getCerts"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getCertsResponse">
        <wsdl:part name="parameters" element="ns1:getCertsResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAllCertsRequest">
        <wsdl:part name="parameters" element="ns1:getAllCerts"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAllCertsResponse">
        <wsdl:part name="parameters" element="ns1:getAllCertsResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getRevokedReasonRequest">
        <wsdl:part name="parameters" element="ns1:getRevokedReason"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getRevokedReasonResponse">
        <wsdl:part name="parameters" element="ns1:getRevokedReasonResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getCertificateRequest">
        <wsdl:part name="parameters" element="ns1:getCertificate"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getCertificateResponse">
        <wsdl:part name="parameters" element="ns1:getCertificateResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getCsrfromCNRequest">
        <wsdl:part name="parameters" element="ns1:getCsrfromCN"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getCsrfromCNResponse">
        <wsdl:part name="parameters" element="ns1:getCsrfromCNResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getCsrfromORGRequest">
        <wsdl:part name="parameters" element="ns1:getCsrfromORG"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getCsrfromORGResponse">
        <wsdl:part name="parameters" element="ns1:getCsrfromORGResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getCsrListWithStatusRequest">
        <wsdl:part name="parameters" element="ns1:getCsrListWithStatus"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getCsrListWithStatusResponse">
        <wsdl:part name="parameters" element="ns1:getCsrListWithStatusResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="listKeyAliasesRequest">
        <wsdl:part name="parameters" element="ns1:listKeyAliases"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="listKeyAliasesResponse">
        <wsdl:part name="parameters" element="ns1:listKeyAliasesResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="rejectCSRRequest">
        <wsdl:part name="parameters" element="ns1:rejectCSR"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getCsrListRequest">
        <wsdl:part name="parameters" element="ns1:getCsrList"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getCsrListResponse">
        <wsdl:part name="parameters" element="ns1:getCsrListResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="signCSRRequest">
        <wsdl:part name="parameters" element="ns1:signCSR"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="CAAdminServicePortType">
        <wsdl:operation name="getCsr">
            <wsdl:input message="tns:getCsrRequest" wsaw:Action="urn:getCsr"></wsdl:input>
            <wsdl:output message="tns:getCsrResponse" wsaw:Action="urn:getCsrResponse"></wsdl:output>
            <wsdl:fault message="tns:CAAdminServiceCaException" name="CAAdminServiceCaException"
                        wsaw:Action="urn:getCsrCAAdminServiceCaException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="revokeCert">
            <wsdl:input message="tns:revokeCertRequest" wsaw:Action="urn:revokeCert"></wsdl:input>
            <wsdl:fault message="tns:CAAdminServiceException" name="CAAdminServiceException"
                        wsaw:Action="urn:revokeCertCAAdminServiceException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteCsr">
            <wsdl:input message="tns:deleteCsrRequest" wsaw:Action="urn:deleteCsr"></wsdl:input>
            <wsdl:fault message="tns:CAAdminServiceCaException" name="CAAdminServiceCaException"
                        wsaw:Action="urn:deleteCsrCAAdminServiceCaException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="setKeyStoreAndAlias">
            <wsdl:input message="tns:setKeyStoreAndAliasRequest" wsaw:Action="urn:setKeyStoreAndAlias"></wsdl:input>
            <wsdl:fault message="tns:CAAdminServiceCaException" name="CAAdminServiceCaException"
                        wsaw:Action="urn:setKeyStoreAndAliasCAAdminServiceCaException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllCsrs">
            <wsdl:input message="tns:getAllCsrsRequest" wsaw:Action="urn:getAllCsrs"></wsdl:input>
            <wsdl:output message="tns:getAllCsrsResponse" wsaw:Action="urn:getAllCsrsResponse"></wsdl:output>
            <wsdl:fault message="tns:CAAdminServiceCaException" name="CAAdminServiceCaException"
                        wsaw:Action="urn:getAllCsrsCAAdminServiceCaException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getTenantIssuedCertificates">
            <wsdl:input message="tns:getTenantIssuedCertificatesRequest"
                        wsaw:Action="urn:getTenantIssuedCertificates"></wsdl:input>
            <wsdl:output message="tns:getTenantIssuedCertificatesResponse"
                         wsaw:Action="urn:getTenantIssuedCertificatesResponse"></wsdl:output>
            <wsdl:fault message="tns:CAAdminServiceCaException" name="CAAdminServiceCaException"
                        wsaw:Action="urn:getTenantIssuedCertificatesCAAdminServiceCaException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getCerts">
            <wsdl:input message="tns:getCertsRequest" wsaw:Action="urn:getCerts"></wsdl:input>
            <wsdl:output message="tns:getCertsResponse" wsaw:Action="urn:getCertsResponse"></wsdl:output>
            <wsdl:fault message="tns:CAAdminServiceCaException" name="CAAdminServiceCaException"
                        wsaw:Action="urn:getCertsCAAdminServiceCaException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllCerts">
            <wsdl:input message="tns:getAllCertsRequest" wsaw:Action="urn:getAllCerts"></wsdl:input>
            <wsdl:output message="tns:getAllCertsResponse" wsaw:Action="urn:getAllCertsResponse"></wsdl:output>
            <wsdl:fault message="tns:CAAdminServiceCaException" name="CAAdminServiceCaException"
                        wsaw:Action="urn:getAllCertsCAAdminServiceCaException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getRevokedReason">
            <wsdl:input message="tns:getRevokedReasonRequest" wsaw:Action="urn:getRevokedReason"></wsdl:input>
            <wsdl:output message="tns:getRevokedReasonResponse"
                         wsaw:Action="urn:getRevokedReasonResponse"></wsdl:output>
            <wsdl:fault message="tns:CAAdminServiceCaException" name="CAAdminServiceCaException"
                        wsaw:Action="urn:getRevokedReasonCAAdminServiceCaException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getCertificate">
            <wsdl:input message="tns:getCertificateRequest" wsaw:Action="urn:getCertificate"></wsdl:input>
            <wsdl:output message="tns:getCertificateResponse" wsaw:Action="urn:getCertificateResponse"></wsdl:output>
            <wsdl:fault message="tns:CAAdminServiceCaException" name="CAAdminServiceCaException"
                        wsaw:Action="urn:getCertificateCAAdminServiceCaException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getCsrfromCN">
            <wsdl:input message="tns:getCsrfromCNRequest" wsaw:Action="urn:getCsrfromCN"></wsdl:input>
            <wsdl:output message="tns:getCsrfromCNResponse" wsaw:Action="urn:getCsrfromCNResponse"></wsdl:output>
            <wsdl:fault message="tns:CAAdminServiceCaException" name="CAAdminServiceCaException"
                        wsaw:Action="urn:getCsrfromCNCAAdminServiceCaException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getCsrfromORG">
            <wsdl:input message="tns:getCsrfromORGRequest" wsaw:Action="urn:getCsrfromORG"></wsdl:input>
            <wsdl:output message="tns:getCsrfromORGResponse" wsaw:Action="urn:getCsrfromORGResponse"></wsdl:output>
            <wsdl:fault message="tns:CAAdminServiceCaException" name="CAAdminServiceCaException"
                        wsaw:Action="urn:getCsrfromORGCAAdminServiceCaException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getCsrListWithStatus">
            <wsdl:input message="tns:getCsrListWithStatusRequest" wsaw:Action="urn:getCsrListWithStatus"></wsdl:input>
            <wsdl:output message="tns:getCsrListWithStatusResponse"
                         wsaw:Action="urn:getCsrListWithStatusResponse"></wsdl:output>
            <wsdl:fault message="tns:CAAdminServiceCaException" name="CAAdminServiceCaException"
                        wsaw:Action="urn:getCsrListWithStatusCAAdminServiceCaException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="listKeyAliases">
            <wsdl:input message="tns:listKeyAliasesRequest" wsaw:Action="urn:listKeyAliases"></wsdl:input>
            <wsdl:output message="tns:listKeyAliasesResponse" wsaw:Action="urn:listKeyAliasesResponse"></wsdl:output>
            <wsdl:fault message="tns:CAAdminServiceCaException" name="CAAdminServiceCaException"
                        wsaw:Action="urn:listKeyAliasesCAAdminServiceCaException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="rejectCSR">
            <wsdl:input message="tns:rejectCSRRequest" wsaw:Action="urn:rejectCSR"></wsdl:input>
            <wsdl:fault message="tns:CAAdminServiceCaException" name="CAAdminServiceCaException"
                        wsaw:Action="urn:rejectCSRCAAdminServiceCaException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getCsrList">
            <wsdl:input message="tns:getCsrListRequest" wsaw:Action="urn:getCsrList"></wsdl:input>
            <wsdl:output message="tns:getCsrListResponse" wsaw:Action="urn:getCsrListResponse"></wsdl:output>
            <wsdl:fault message="tns:CAAdminServiceCaException" name="CAAdminServiceCaException"
                        wsaw:Action="urn:getCsrListCAAdminServiceCaException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="signCSR">
            <wsdl:input message="tns:signCSRRequest" wsaw:Action="urn:signCSR"></wsdl:input>
            <wsdl:fault message="tns:CAAdminServiceCaException" name="CAAdminServiceCaException"
                        wsaw:Action="urn:signCSRCAAdminServiceCaException"></wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CAAdminServiceSoap11Binding" type="tns:CAAdminServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
        <wsdl:operation name="getCsr">
            <soap:operation soapAction="urn:getCsr" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="CAAdminServiceCaException">
                <soap:fault use="literal" name="CAAdminServiceCaException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="revokeCert">
            <soap:operation soapAction="urn:revokeCert" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:fault name="CAAdminServiceException">
                <soap:fault use="literal" name="CAAdminServiceException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getTenantIssuedCertificates">
            <soap:operation soapAction="urn:getTenantIssuedCertificates" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="CAAdminServiceCaException">
                <soap:fault use="literal" name="CAAdminServiceCaException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllCsrs">
            <soap:operation soapAction="urn:getAllCsrs" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="CAAdminServiceCaException">
                <soap:fault use="literal" name="CAAdminServiceCaException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="setKeyStoreAndAlias">
            <soap:operation soapAction="urn:setKeyStoreAndAlias" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:fault name="CAAdminServiceCaException">
                <soap:fault use="literal" name="CAAdminServiceCaException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteCsr">
            <soap:operation soapAction="urn:deleteCsr" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:fault name="CAAdminServiceCaException">
                <soap:fault use="literal" name="CAAdminServiceCaException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getCerts">
            <soap:operation soapAction="urn:getCerts" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="CAAdminServiceCaException">
                <soap:fault use="literal" name="CAAdminServiceCaException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getRevokedReason">
            <soap:operation soapAction="urn:getRevokedReason" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="CAAdminServiceCaException">
                <soap:fault use="literal" name="CAAdminServiceCaException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllCerts">
            <soap:operation soapAction="urn:getAllCerts" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="CAAdminServiceCaException">
                <soap:fault use="literal" name="CAAdminServiceCaException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getCertificate">
            <soap:operation soapAction="urn:getCertificate" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="CAAdminServiceCaException">
                <soap:fault use="literal" name="CAAdminServiceCaException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getCsrfromCN">
            <soap:operation soapAction="urn:getCsrfromCN" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="CAAdminServiceCaException">
                <soap:fault use="literal" name="CAAdminServiceCaException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getCsrfromORG">
            <soap:operation soapAction="urn:getCsrfromORG" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="CAAdminServiceCaException">
                <soap:fault use="literal" name="CAAdminServiceCaException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getCsrListWithStatus">
            <soap:operation soapAction="urn:getCsrListWithStatus" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="CAAdminServiceCaException">
                <soap:fault use="literal" name="CAAdminServiceCaException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="rejectCSR">
            <soap:operation soapAction="urn:rejectCSR" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:fault name="CAAdminServiceCaException">
                <soap:fault use="literal" name="CAAdminServiceCaException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="listKeyAliases">
            <soap:operation soapAction="urn:listKeyAliases" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="CAAdminServiceCaException">
                <soap:fault use="literal" name="CAAdminServiceCaException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="signCSR">
            <soap:operation soapAction="urn:signCSR" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:fault name="CAAdminServiceCaException">
                <soap:fault use="literal" name="CAAdminServiceCaException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getCsrList">
            <soap:operation soapAction="urn:getCsrList" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="CAAdminServiceCaException">
                <soap:fault use="literal" name="CAAdminServiceCaException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CAAdminServiceSoap12Binding" type="tns:CAAdminServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap12:binding>
        <wsdl:operation name="getCsr">
            <soap12:operation soapAction="urn:getCsr" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="CAAdminServiceCaException">
                <soap12:fault use="literal" name="CAAdminServiceCaException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="revokeCert">
            <soap12:operation soapAction="urn:revokeCert" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:fault name="CAAdminServiceException">
                <soap12:fault use="literal" name="CAAdminServiceException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getTenantIssuedCertificates">
            <soap12:operation soapAction="urn:getTenantIssuedCertificates" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="CAAdminServiceCaException">
                <soap12:fault use="literal" name="CAAdminServiceCaException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllCsrs">
            <soap12:operation soapAction="urn:getAllCsrs" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="CAAdminServiceCaException">
                <soap12:fault use="literal" name="CAAdminServiceCaException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="setKeyStoreAndAlias">
            <soap12:operation soapAction="urn:setKeyStoreAndAlias" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:fault name="CAAdminServiceCaException">
                <soap12:fault use="literal" name="CAAdminServiceCaException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteCsr">
            <soap12:operation soapAction="urn:deleteCsr" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:fault name="CAAdminServiceCaException">
                <soap12:fault use="literal" name="CAAdminServiceCaException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getCerts">
            <soap12:operation soapAction="urn:getCerts" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="CAAdminServiceCaException">
                <soap12:fault use="literal" name="CAAdminServiceCaException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getRevokedReason">
            <soap12:operation soapAction="urn:getRevokedReason" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="CAAdminServiceCaException">
                <soap12:fault use="literal" name="CAAdminServiceCaException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllCerts">
            <soap12:operation soapAction="urn:getAllCerts" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="CAAdminServiceCaException">
                <soap12:fault use="literal" name="CAAdminServiceCaException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getCertificate">
            <soap12:operation soapAction="urn:getCertificate" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="CAAdminServiceCaException">
                <soap12:fault use="literal" name="CAAdminServiceCaException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getCsrfromCN">
            <soap12:operation soapAction="urn:getCsrfromCN" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="CAAdminServiceCaException">
                <soap12:fault use="literal" name="CAAdminServiceCaException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getCsrfromORG">
            <soap12:operation soapAction="urn:getCsrfromORG" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="CAAdminServiceCaException">
                <soap12:fault use="literal" name="CAAdminServiceCaException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getCsrListWithStatus">
            <soap12:operation soapAction="urn:getCsrListWithStatus" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="CAAdminServiceCaException">
                <soap12:fault use="literal" name="CAAdminServiceCaException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="rejectCSR">
            <soap12:operation soapAction="urn:rejectCSR" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:fault name="CAAdminServiceCaException">
                <soap12:fault use="literal" name="CAAdminServiceCaException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="listKeyAliases">
            <soap12:operation soapAction="urn:listKeyAliases" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="CAAdminServiceCaException">
                <soap12:fault use="literal" name="CAAdminServiceCaException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="signCSR">
            <soap12:operation soapAction="urn:signCSR" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:fault name="CAAdminServiceCaException">
                <soap12:fault use="literal" name="CAAdminServiceCaException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getCsrList">
            <soap12:operation soapAction="urn:getCsrList" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="CAAdminServiceCaException">
                <soap12:fault use="literal" name="CAAdminServiceCaException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CAAdminServiceHttpBinding" type="tns:CAAdminServicePortType">
        <http:binding verb="POST"></http:binding>
        <wsdl:operation name="getCsr">
            <http:operation location="getCsr"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="revokeCert">
            <http:operation location="revokeCert"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getTenantIssuedCertificates">
            <http:operation location="getTenantIssuedCertificates"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllCsrs">
            <http:operation location="getAllCsrs"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setKeyStoreAndAlias">
            <http:operation location="setKeyStoreAndAlias"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="deleteCsr">
            <http:operation location="deleteCsr"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getCerts">
            <http:operation location="getCerts"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getRevokedReason">
            <http:operation location="getRevokedReason"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllCerts">
            <http:operation location="getAllCerts"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCertificate">
            <http:operation location="getCertificate"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCsrfromCN">
            <http:operation location="getCsrfromCN"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCsrfromORG">
            <http:operation location="getCsrfromORG"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCsrListWithStatus">
            <http:operation location="getCsrListWithStatus"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="rejectCSR">
            <http:operation location="rejectCSR"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="listKeyAliases">
            <http:operation location="listKeyAliases"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="signCSR">
            <http:operation location="signCSR"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getCsrList">
            <http:operation location="getCsrList"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CAAdminService">
        <wsdl:port name="CAAdminServiceHttpsSoap11Endpoint" binding="tns:CAAdminServiceSoap11Binding">
            <soap:address
                    location="https://10.100.5.101:9443/services/CAAdminService.CAAdminServiceHttpsSoap11Endpoint/"></soap:address>
        </wsdl:port>
        <wsdl:port name="CAAdminServiceHttpsSoap12Endpoint" binding="tns:CAAdminServiceSoap12Binding">
            <soap12:address
                    location="https://10.100.5.101:9443/services/CAAdminService.CAAdminServiceHttpsSoap12Endpoint/"></soap12:address>
        </wsdl:port>
        <wsdl:port name="CAAdminServiceHttpsEndpoint" binding="tns:CAAdminServiceHttpBinding">
            <http:address
                    location="https://10.100.5.101:9443/services/CAAdminService.CAAdminServiceHttpsEndpoint/"></http:address>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>