service-stubs/identity/org.wso2.carbon.identity.certificateauthority.stub/src/main/resources/CAClientService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:tns="http://certificateauthority.identity.carbon.wso2.org"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:ax2217="http://data.certificateauthority.identity.carbon.wso2.org/xsd"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  targetNamespace="http://certificateauthority.identity.carbon.wso2.org">
    <wsdl:documentation>CAClientService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified"
                   targetNamespace="http://certificateauthority.identity.carbon.wso2.org/xsd">
            <xs:complexType name="CaException">
                <xs:sequence></xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2218="http://data.certificateauthority.identity.carbon.wso2.org/xsd"
                   xmlns:ax2216="http://certificateauthority.identity.carbon.wso2.org/xsd"
                   attributeFormDefault="qualified" elementFormDefault="qualified"
                   targetNamespace="http://org.apache.axis2/xsd">
            <xs:import namespace="http://certificateauthority.identity.carbon.wso2.org/xsd"></xs:import>
            <xs:import namespace="http://data.certificateauthority.identity.carbon.wso2.org/xsd"></xs:import>
            <xs:element name="CAClientServiceCaException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="CaException" nillable="true"
                                    type="ax2216:CaException"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCsrList">
                <xs:complexType>
                    <xs:sequence></xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCsrListResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true"
                                    type="ax2218:CsrMetaInfo"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCsr">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serial" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCsrResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2218:CsrDTO"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCertificate">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serialNo" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCertificateResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true"
                                    type="ax2218:CertificateDTO"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addCsr">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="csrContent" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addCsrResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified"
                   targetNamespace="http://data.certificateauthority.identity.carbon.wso2.org/xsd">
            <xs:complexType name="CsrMetaInfo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="commonName" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="organization" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="requestedDate" nillable="true" type="xs:date"></xs:element>
                    <xs:element minOccurs="0" name="serialNo" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="status" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="CsrDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="city" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="country" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="csrMetaInfo" nillable="true" type="ax2217:CsrMetaInfo"></xs:element>
                    <xs:element minOccurs="0" name="csrRequest" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="department" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="state" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="tenantID" type="xs:int"></xs:element>
                    <xs:element minOccurs="0" name="userStoreDomain" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="CertificateDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="certificateMetaInfo" nillable="true"
                                type="ax2217:CertificateMetaInfo"></xs:element>
                    <xs:element minOccurs="0" name="encodedCertificate" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="expiryDate" nillable="true" type="xs:date"></xs:element>
                    <xs:element minOccurs="0" name="issuedDate" nillable="true" type="xs:date"></xs:element>
                    <xs:element minOccurs="0" name="serialNo" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="status" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="tenantID" type="xs:int"></xs:element>
                    <xs:element minOccurs="0" name="userStoreDomain" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="CertificateMetaInfo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="expiryDate" nillable="true" type="xs:date"></xs:element>
                    <xs:element minOccurs="0" name="issuedDate" nillable="true" type="xs:date"></xs:element>
                    <xs:element minOccurs="0" name="serialNo" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="status" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getCsrRequest">
        <wsdl:part name="parameters" element="ns1:getCsr"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getCsrResponse">
        <wsdl:part name="parameters" element="ns1:getCsrResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="CAClientServiceCaException">
        <wsdl:part name="parameters" element="ns1:CAClientServiceCaException"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getCertificateRequest">
        <wsdl:part name="parameters" element="ns1:getCertificate"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getCertificateResponse">
        <wsdl:part name="parameters" element="ns1:getCertificateResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="addCsrRequest">
        <wsdl:part name="parameters" element="ns1:addCsr"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="addCsrResponse">
        <wsdl:part name="parameters" element="ns1:addCsrResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getCsrListRequest">
        <wsdl:part name="parameters" element="ns1:getCsrList"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getCsrListResponse">
        <wsdl:part name="parameters" element="ns1:getCsrListResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="CAClientServicePortType">
        <wsdl:operation name="getCsr">
            <wsdl:input message="tns:getCsrRequest" wsaw:Action="urn:getCsr"></wsdl:input>
            <wsdl:output message="tns:getCsrResponse" wsaw:Action="urn:getCsrResponse"></wsdl:output>
            <wsdl:fault message="tns:CAClientServiceCaException" name="CAClientServiceCaException"
                        wsaw:Action="urn:getCsrCAClientServiceCaException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getCertificate">
            <wsdl:input message="tns:getCertificateRequest" wsaw:Action="urn:getCertificate"></wsdl:input>
            <wsdl:output message="tns:getCertificateResponse" wsaw:Action="urn:getCertificateResponse"></wsdl:output>
            <wsdl:fault message="tns:CAClientServiceCaException" name="CAClientServiceCaException"
                        wsaw:Action="urn:getCertificateCAClientServiceCaException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addCsr">
            <wsdl:input message="tns:addCsrRequest" wsaw:Action="urn:addCsr"></wsdl:input>
            <wsdl:output message="tns:addCsrResponse" wsaw:Action="urn:addCsrResponse"></wsdl:output>
            <wsdl:fault message="tns:CAClientServiceCaException" name="CAClientServiceCaException"
                        wsaw:Action="urn:addCsrCAClientServiceCaException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getCsrList">
            <wsdl:input message="tns:getCsrListRequest" wsaw:Action="urn:getCsrList"></wsdl:input>
            <wsdl:output message="tns:getCsrListResponse" wsaw:Action="urn:getCsrListResponse"></wsdl:output>
            <wsdl:fault message="tns:CAClientServiceCaException" name="CAClientServiceCaException"
                        wsaw:Action="urn:getCsrListCAClientServiceCaException"></wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CAClientServiceSoap11Binding" type="tns:CAClientServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
        <wsdl:operation name="getCsr">
            <soap:operation soapAction="urn:getCsr" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="CAClientServiceCaException">
                <soap:fault use="literal" name="CAClientServiceCaException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getCertificate">
            <soap:operation soapAction="urn:getCertificate" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="CAClientServiceCaException">
                <soap:fault use="literal" name="CAClientServiceCaException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addCsr">
            <soap:operation soapAction="urn:addCsr" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="CAClientServiceCaException">
                <soap:fault use="literal" name="CAClientServiceCaException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getCsrList">
            <soap:operation soapAction="urn:getCsrList" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="CAClientServiceCaException">
                <soap:fault use="literal" name="CAClientServiceCaException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CAClientServiceSoap12Binding" type="tns:CAClientServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap12:binding>
        <wsdl:operation name="getCsr">
            <soap12:operation soapAction="urn:getCsr" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="CAClientServiceCaException">
                <soap12:fault use="literal" name="CAClientServiceCaException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getCertificate">
            <soap12:operation soapAction="urn:getCertificate" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="CAClientServiceCaException">
                <soap12:fault use="literal" name="CAClientServiceCaException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addCsr">
            <soap12:operation soapAction="urn:addCsr" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="CAClientServiceCaException">
                <soap12:fault use="literal" name="CAClientServiceCaException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getCsrList">
            <soap12:operation soapAction="urn:getCsrList" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="CAClientServiceCaException">
                <soap12:fault use="literal" name="CAClientServiceCaException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CAClientServiceHttpBinding" type="tns:CAClientServicePortType">
        <http:binding verb="POST"></http:binding>
        <wsdl:operation name="getCsr">
            <http:operation location="getCsr"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCertificate">
            <http:operation location="getCertificate"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addCsr">
            <http:operation location="addCsr"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCsrList">
            <http:operation location="getCsrList"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CAClientService">
        <wsdl:port name="CAClientServiceHttpsSoap11Endpoint" binding="tns:CAClientServiceSoap11Binding">
            <soap:address
                    location="https://10.100.5.101:9443/services/CAClientService.CAClientServiceHttpsSoap11Endpoint/"></soap:address>
        </wsdl:port>
        <wsdl:port name="CAClientServiceHttpsSoap12Endpoint" binding="tns:CAClientServiceSoap12Binding">
            <soap12:address
                    location="https://10.100.5.101:9443/services/CAClientService.CAClientServiceHttpsSoap12Endpoint/"></soap12:address>
        </wsdl:port>
        <wsdl:port name="CAClientServiceHttpsEndpoint" binding="tns:CAClientServiceHttpBinding">
            <http:address
                    location="https://10.100.5.101:9443/services/CAClientService.CAClientServiceHttpsEndpoint/"></http:address>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>