components/workflows/org.wso2.carbon.identity.workflow.mgt.bpel/src/main/resources/HumanTaskTemplate/ApprovalService/ApprovalProcessArtifacts.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
             xmlns:schema="http://schema.bpel.mgt.workflow.carbon.wso2.org/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://bpel.mgt.workflow.carbon.wso2.org/approvalProcess"
             xmlns:wsdl1="http://ht.bpel.mgt.workflow.identity.carbon.wso2.org/wsdl"
             xmlns:wsdl2="http://callback.mgt.workflow.identity.carbon.wso2.org"
             xmlns="http://schemas.xmlsoap.org/wsdl/" name="ApprovalProcess"
             targetNamespace="http://bpel.mgt.workflow.carbon.wso2.org/approvalProcess">

    <plnk:partnerLinkType name="ApprovalProcessPLT">
        <plnk:role name="partnerRole" portType="tns:ApprovalProcess"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="ApprovalTaskPLT">
        <plnk:role name="approvalPartnerRole" portType="wsdl1:ApprovalTaskPT"/>
        <plnk:role name="ApprovalCallbackRole" portType="wsdl1:ApprovalTaskCBPT"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="callbackServicePLT">
        <plnk:role name="callbackServicePartnerRole" portType="wsdl2:WorkflowCallbackServicePortType"/>
    </plnk:partnerLinkType>
    <import location="ApprovalTaskService.wsdl" namespace="http://ht.bpel.mgt.workflow.identity.carbon.wso2.org/wsdl"/>
    <import location="CallbackService.wsdl" namespace="http://callback.mgt.workflow.identity.carbon.wso2.org"/>
    <types>
        <schema xmlns:tns="http://schema.bpel.mgt.workflow.carbon.wso2.org/" xmlns="http://www.w3.org/2001/XMLSchema"
                attributeFormDefault="unqualified" elementFormDefault="qualified"
                targetNamespace="http://schema.bpel.mgt.workflow.carbon.wso2.org/">
            <element name="ProcessRequest">
                <complexType>
                    <sequence>
                        <element name="uuid" type="string"/>
                        <element name="eventType" type="string"/>
                        <element maxOccurs="unbounded" minOccurs="0" name="parameter" type="tns:ParameterType"/>
                    </sequence>
                </complexType>
            </element>
            <complexType name="ParameterType">
                <sequence>
                    <element maxOccurs="1" minOccurs="1" name="value" type="anyType"/>
                </sequence>
                <attribute name="name" type="string"/>
            </complexType>

        </schema>
    </types>

    <message name="ApprovalProcessRequestMessage">
        <part element="schema:ProcessRequest" name="payload"/>
    </message>

    <portType name="ApprovalProcess">
        <operation name="initiate">
            <input message="tns:ApprovalProcessRequestMessage"/>
        </operation>
    </portType>

    <binding name="ApprovalProcessBinding" type="tns:ApprovalProcess">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="initiate">
            <soap:operation soapAction="http://bpel.mgt.workflow.carbon.wso2.org/approvalProcess/initiate"/>
            <input>
                <soap:body use="literal"/>
            </input>
        </operation>
    </binding>
    <service name="ApprovalProcessService">
        <port binding="tns:ApprovalProcessBinding" name="ApprovalProcessPort">
            <soap:address location="${bpelEngineServicesRoot}/${bpelServiceName}"/>
        </port>
    </service>

</definitions>
