service-stubs/identity/org.wso2.carbon.identity.authorization.stub/src/main/resources/AuthorizationAdminService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://core.authorization.identity.carbon.wso2.org" xmlns:ax2268="http://core.authorization.identity.carbon.wso2.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ax2270="http://dto.core.authorization.identity.carbon.wso2.org/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://core.authorization.identity.carbon.wso2.org">
    <wsdl:documentation>AuthorizationAdminService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ns="http://org.apache.axis2/xsd" xmlns:ax2271="http://dto.core.authorization.identity.carbon.wso2.org/xsd" xmlns:ax2269="http://core.authorization.identity.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://org.apache.axis2/xsd">
            <xs:import namespace="http://core.authorization.identity.carbon.wso2.org/xsd"></xs:import>
            <xs:import namespace="http://dto.core.authorization.identity.carbon.wso2.org/xsd"></xs:import>
            <xs:element name="AuthorizationAdminServiceIdentityAuthorizationException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="IdentityAuthorizationException" nillable="true" type="ax2268:IdentityAuthorizationException"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createModule">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="module" nillable="true" type="ax2270:PermissionModule"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createModuleResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addUserPermissions">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="permissions" nillable="true" type="ax2270:UserPermission"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addRolePermissions">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="permissions" nillable="true" type="ax2270:RolePermission"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateUserPermissions">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="permissions" nillable="true" type="ax2270:UserPermission"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateRolePermissions">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="permissions" nillable="true" type="ax2270:RolePermission"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateAuthorizedActions">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="module" nillable="true" type="ax2270:PermissionModule"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteRolePermissions">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="permissions" nillable="true" type="ax2270:RolePermission"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteUserPermissions">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="permissions" nillable="true" type="ax2270:UserPermission"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deletePermission">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="permissions" nillable="true" type="ax2270:PermissionGroup"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPermissionList">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="request" nillable="true" type="ax2270:PermissionRequest"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPermissionListResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2270:PermissionModule"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="clearPermissions">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="clearRequest" nillable="true" type="ax2270:PermissionRequest"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="loadModules">
                <xs:complexType>
                    <xs:sequence></xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="loadModulesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2270:PermissionModule"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createPermissions">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="permissions" nillable="true" type="ax2270:PermissionGroup"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getModule">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="moduleName" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getModuleResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2270:PermissionModule"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="removeModule">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="request" nillable="true" type="ax2270:PermissionRequest"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="isAuthorized">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="request" nillable="true" type="ax2270:PermissionRequest"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="isAuthorizedResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPermission">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="request" nillable="true" type="ax2270:PermissionRequest"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPermissionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2270:Permission"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getVersion">
                <xs:complexType>
                    <xs:sequence></xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getVersionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://core.authorization.identity.carbon.wso2.org/xsd">
            <xs:complexType name="IdentityAuthorizationException">
                <xs:sequence></xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dto.core.authorization.identity.carbon.wso2.org/xsd">
            <xs:complexType name="PermissionModule">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="actions" nillable="true" type="xs:string"></xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="deletedActions" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="moduleId" type="xs:int"></xs:element>
                    <xs:element minOccurs="0" name="moduleName" nillable="true" type="xs:string"></xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="permissions" nillable="true" type="ax2270:Permission"></xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="resources" nillable="true" type="ax2270:Resource"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Permission">
                <xs:sequence>
                    <xs:element minOccurs="0" name="action" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="authorized" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="permissionId" type="xs:int"></xs:element>
                    <xs:element minOccurs="0" name="resourceId" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="rolePermission" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="subject" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="subjectId" type="xs:int"></xs:element>
                    <xs:element minOccurs="0" name="subjectPermissionId" type="xs:int"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Persistable">
                <xs:sequence>
                    <xs:element minOccurs="0" name="state" type="xs:byte"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Resource">
                <xs:complexContent>
                    <xs:extension base="ax2270:Persistable">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="id" type="xs:int"></xs:element>
                            <xs:element minOccurs="0" name="moduleId" type="xs:int"></xs:element>
                            <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"></xs:element>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType abstract="true" name="PermissionAssignment">
                <xs:sequence>
                    <xs:element minOccurs="0" name="authorized" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="id" type="xs:int"></xs:element>
                    <xs:element minOccurs="0" name="permissionId" type="xs:int"></xs:element>
                    <xs:element minOccurs="0" name="tenantId" type="xs:int"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="UserPermission">
                <xs:complexContent>
                    <xs:extension base="ax2270:PermissionAssignment">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string"></xs:element>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="RolePermission">
                <xs:complexContent>
                    <xs:extension base="ax2270:PermissionAssignment">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="roleName" nillable="true" type="xs:string"></xs:element>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="PermissionGroup">
                <xs:sequence>
                    <xs:element minOccurs="0" name="action" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="moduleId" type="xs:int"></xs:element>
                    <xs:element minOccurs="0" name="moduleName" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="permissionId" type="xs:int"></xs:element>
                    <xs:element minOccurs="0" name="resource" nillable="true" type="xs:string"></xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="rolePermissions" nillable="true" type="ax2270:RolePermission"></xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="userPermissions" nillable="true" type="ax2270:UserPermission"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="PermissionRequest">
                <xs:sequence>
                    <xs:element minOccurs="0" name="action" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="module" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="moduleId" type="xs:int"></xs:element>
                    <xs:element minOccurs="0" name="resource" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="subject" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="subjectId" type="xs:int"></xs:element>
                    <xs:element minOccurs="0" name="userPermissions" type="xs:boolean"></xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="deleteUserPermissionsRequest">
        <wsdl:part name="parameters" element="ns1:deleteUserPermissions"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="AuthorizationAdminServiceIdentityAuthorizationException">
        <wsdl:part name="parameters" element="ns1:AuthorizationAdminServiceIdentityAuthorizationException"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="clearPermissionsRequest">
        <wsdl:part name="parameters" element="ns1:clearPermissions"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="isAuthorizedRequest">
        <wsdl:part name="parameters" element="ns1:isAuthorized"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="isAuthorizedResponse">
        <wsdl:part name="parameters" element="ns1:isAuthorizedResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="removeModuleRequest">
        <wsdl:part name="parameters" element="ns1:removeModule"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getPermissionRequest">
        <wsdl:part name="parameters" element="ns1:getPermission"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getPermissionResponse">
        <wsdl:part name="parameters" element="ns1:getPermissionResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="updateAuthorizedActionsRequest">
        <wsdl:part name="parameters" element="ns1:updateAuthorizedActions"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="addRolePermissionsRequest">
        <wsdl:part name="parameters" element="ns1:addRolePermissions"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="deleteRolePermissionsRequest">
        <wsdl:part name="parameters" element="ns1:deleteRolePermissions"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getVersionRequest">
        <wsdl:part name="parameters" element="ns1:getVersion"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getVersionResponse">
        <wsdl:part name="parameters" element="ns1:getVersionResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="createModuleRequest">
        <wsdl:part name="parameters" element="ns1:createModule"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="createModuleResponse">
        <wsdl:part name="parameters" element="ns1:createModuleResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getModuleRequest">
        <wsdl:part name="parameters" element="ns1:getModule"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getModuleResponse">
        <wsdl:part name="parameters" element="ns1:getModuleResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="addUserPermissionsRequest">
        <wsdl:part name="parameters" element="ns1:addUserPermissions"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="updateUserPermissionsRequest">
        <wsdl:part name="parameters" element="ns1:updateUserPermissions"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="updateRolePermissionsRequest">
        <wsdl:part name="parameters" element="ns1:updateRolePermissions"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getPermissionListRequest">
        <wsdl:part name="parameters" element="ns1:getPermissionList"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getPermissionListResponse">
        <wsdl:part name="parameters" element="ns1:getPermissionListResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="createPermissionsRequest">
        <wsdl:part name="parameters" element="ns1:createPermissions"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="deletePermissionRequest">
        <wsdl:part name="parameters" element="ns1:deletePermission"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="loadModulesRequest">
        <wsdl:part name="parameters" element="ns1:loadModules"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="loadModulesResponse">
        <wsdl:part name="parameters" element="ns1:loadModulesResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="AuthorizationAdminServicePortType">
        <wsdl:operation name="deleteUserPermissions">
            <wsdl:input message="tns:deleteUserPermissionsRequest" wsaw:Action="urn:deleteUserPermissions"></wsdl:input>
            <wsdl:fault message="tns:AuthorizationAdminServiceIdentityAuthorizationException" name="AuthorizationAdminServiceIdentityAuthorizationException" wsaw:Action="urn:deleteUserPermissionsAuthorizationAdminServiceIdentityAuthorizationException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="clearPermissions">
            <wsdl:input message="tns:clearPermissionsRequest" wsaw:Action="urn:clearPermissions"></wsdl:input>
            <wsdl:fault message="tns:AuthorizationAdminServiceIdentityAuthorizationException" name="AuthorizationAdminServiceIdentityAuthorizationException" wsaw:Action="urn:clearPermissionsAuthorizationAdminServiceIdentityAuthorizationException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="isAuthorized">
            <wsdl:input message="tns:isAuthorizedRequest" wsaw:Action="urn:isAuthorized"></wsdl:input>
            <wsdl:output message="tns:isAuthorizedResponse" wsaw:Action="urn:isAuthorizedResponse"></wsdl:output>
            <wsdl:fault message="tns:AuthorizationAdminServiceIdentityAuthorizationException" name="AuthorizationAdminServiceIdentityAuthorizationException" wsaw:Action="urn:isAuthorizedAuthorizationAdminServiceIdentityAuthorizationException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="removeModule">
            <wsdl:input message="tns:removeModuleRequest" wsaw:Action="urn:removeModule"></wsdl:input>
            <wsdl:fault message="tns:AuthorizationAdminServiceIdentityAuthorizationException" name="AuthorizationAdminServiceIdentityAuthorizationException" wsaw:Action="urn:removeModuleAuthorizationAdminServiceIdentityAuthorizationException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getPermission">
            <wsdl:input message="tns:getPermissionRequest" wsaw:Action="urn:getPermission"></wsdl:input>
            <wsdl:output message="tns:getPermissionResponse" wsaw:Action="urn:getPermissionResponse"></wsdl:output>
            <wsdl:fault message="tns:AuthorizationAdminServiceIdentityAuthorizationException" name="AuthorizationAdminServiceIdentityAuthorizationException" wsaw:Action="urn:getPermissionAuthorizationAdminServiceIdentityAuthorizationException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateAuthorizedActions">
            <wsdl:input message="tns:updateAuthorizedActionsRequest" wsaw:Action="urn:updateAuthorizedActions"></wsdl:input>
            <wsdl:fault message="tns:AuthorizationAdminServiceIdentityAuthorizationException" name="AuthorizationAdminServiceIdentityAuthorizationException" wsaw:Action="urn:updateAuthorizedActionsAuthorizationAdminServiceIdentityAuthorizationException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addRolePermissions">
            <wsdl:input message="tns:addRolePermissionsRequest" wsaw:Action="urn:addRolePermissions"></wsdl:input>
            <wsdl:fault message="tns:AuthorizationAdminServiceIdentityAuthorizationException" name="AuthorizationAdminServiceIdentityAuthorizationException" wsaw:Action="urn:addRolePermissionsAuthorizationAdminServiceIdentityAuthorizationException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteRolePermissions">
            <wsdl:input message="tns:deleteRolePermissionsRequest" wsaw:Action="urn:deleteRolePermissions"></wsdl:input>
            <wsdl:fault message="tns:AuthorizationAdminServiceIdentityAuthorizationException" name="AuthorizationAdminServiceIdentityAuthorizationException" wsaw:Action="urn:deleteRolePermissionsAuthorizationAdminServiceIdentityAuthorizationException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getVersion">
            <wsdl:input message="tns:getVersionRequest" wsaw:Action="urn:getVersion"></wsdl:input>
            <wsdl:output message="tns:getVersionResponse" wsaw:Action="urn:getVersionResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createModule">
            <wsdl:input message="tns:createModuleRequest" wsaw:Action="urn:createModule"></wsdl:input>
            <wsdl:output message="tns:createModuleResponse" wsaw:Action="urn:createModuleResponse"></wsdl:output>
            <wsdl:fault message="tns:AuthorizationAdminServiceIdentityAuthorizationException" name="AuthorizationAdminServiceIdentityAuthorizationException" wsaw:Action="urn:createModuleAuthorizationAdminServiceIdentityAuthorizationException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getModule">
            <wsdl:input message="tns:getModuleRequest" wsaw:Action="urn:getModule"></wsdl:input>
            <wsdl:output message="tns:getModuleResponse" wsaw:Action="urn:getModuleResponse"></wsdl:output>
            <wsdl:fault message="tns:AuthorizationAdminServiceIdentityAuthorizationException" name="AuthorizationAdminServiceIdentityAuthorizationException" wsaw:Action="urn:getModuleAuthorizationAdminServiceIdentityAuthorizationException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addUserPermissions">
            <wsdl:input message="tns:addUserPermissionsRequest" wsaw:Action="urn:addUserPermissions"></wsdl:input>
            <wsdl:fault message="tns:AuthorizationAdminServiceIdentityAuthorizationException" name="AuthorizationAdminServiceIdentityAuthorizationException" wsaw:Action="urn:addUserPermissionsAuthorizationAdminServiceIdentityAuthorizationException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateUserPermissions">
            <wsdl:input message="tns:updateUserPermissionsRequest" wsaw:Action="urn:updateUserPermissions"></wsdl:input>
            <wsdl:fault message="tns:AuthorizationAdminServiceIdentityAuthorizationException" name="AuthorizationAdminServiceIdentityAuthorizationException" wsaw:Action="urn:updateUserPermissionsAuthorizationAdminServiceIdentityAuthorizationException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateRolePermissions">
            <wsdl:input message="tns:updateRolePermissionsRequest" wsaw:Action="urn:updateRolePermissions"></wsdl:input>
            <wsdl:fault message="tns:AuthorizationAdminServiceIdentityAuthorizationException" name="AuthorizationAdminServiceIdentityAuthorizationException" wsaw:Action="urn:updateRolePermissionsAuthorizationAdminServiceIdentityAuthorizationException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getPermissionList">
            <wsdl:input message="tns:getPermissionListRequest" wsaw:Action="urn:getPermissionList"></wsdl:input>
            <wsdl:output message="tns:getPermissionListResponse" wsaw:Action="urn:getPermissionListResponse"></wsdl:output>
            <wsdl:fault message="tns:AuthorizationAdminServiceIdentityAuthorizationException" name="AuthorizationAdminServiceIdentityAuthorizationException" wsaw:Action="urn:getPermissionListAuthorizationAdminServiceIdentityAuthorizationException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createPermissions">
            <wsdl:input message="tns:createPermissionsRequest" wsaw:Action="urn:createPermissions"></wsdl:input>
            <wsdl:fault message="tns:AuthorizationAdminServiceIdentityAuthorizationException" name="AuthorizationAdminServiceIdentityAuthorizationException" wsaw:Action="urn:createPermissionsAuthorizationAdminServiceIdentityAuthorizationException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deletePermission">
            <wsdl:input message="tns:deletePermissionRequest" wsaw:Action="urn:deletePermission"></wsdl:input>
            <wsdl:fault message="tns:AuthorizationAdminServiceIdentityAuthorizationException" name="AuthorizationAdminServiceIdentityAuthorizationException" wsaw:Action="urn:deletePermissionAuthorizationAdminServiceIdentityAuthorizationException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="loadModules">
            <wsdl:input message="tns:loadModulesRequest" wsaw:Action="urn:loadModules"></wsdl:input>
            <wsdl:output message="tns:loadModulesResponse" wsaw:Action="urn:loadModulesResponse"></wsdl:output>
            <wsdl:fault message="tns:AuthorizationAdminServiceIdentityAuthorizationException" name="AuthorizationAdminServiceIdentityAuthorizationException" wsaw:Action="urn:loadModulesAuthorizationAdminServiceIdentityAuthorizationException"></wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="AuthorizationAdminServiceSoap11Binding" type="tns:AuthorizationAdminServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
        <wsdl:operation name="deleteUserPermissions">
            <soap:operation soapAction="urn:deleteUserPermissions" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:fault name="AuthorizationAdminServiceIdentityAuthorizationException">
                <soap:fault use="literal" name="AuthorizationAdminServiceIdentityAuthorizationException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="clearPermissions">
            <soap:operation soapAction="urn:clearPermissions" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:fault name="AuthorizationAdminServiceIdentityAuthorizationException">
                <soap:fault use="literal" name="AuthorizationAdminServiceIdentityAuthorizationException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="isAuthorized">
            <soap:operation soapAction="urn:isAuthorized" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="AuthorizationAdminServiceIdentityAuthorizationException">
                <soap:fault use="literal" name="AuthorizationAdminServiceIdentityAuthorizationException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="removeModule">
            <soap:operation soapAction="urn:removeModule" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:fault name="AuthorizationAdminServiceIdentityAuthorizationException">
                <soap:fault use="literal" name="AuthorizationAdminServiceIdentityAuthorizationException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getPermission">
            <soap:operation soapAction="urn:getPermission" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="AuthorizationAdminServiceIdentityAuthorizationException">
                <soap:fault use="literal" name="AuthorizationAdminServiceIdentityAuthorizationException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateAuthorizedActions">
            <soap:operation soapAction="urn:updateAuthorizedActions" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:fault name="AuthorizationAdminServiceIdentityAuthorizationException">
                <soap:fault use="literal" name="AuthorizationAdminServiceIdentityAuthorizationException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addRolePermissions">
            <soap:operation soapAction="urn:addRolePermissions" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:fault name="AuthorizationAdminServiceIdentityAuthorizationException">
                <soap:fault use="literal" name="AuthorizationAdminServiceIdentityAuthorizationException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteRolePermissions">
            <soap:operation soapAction="urn:deleteRolePermissions" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:fault name="AuthorizationAdminServiceIdentityAuthorizationException">
                <soap:fault use="literal" name="AuthorizationAdminServiceIdentityAuthorizationException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getVersion">
            <soap:operation soapAction="urn:getVersion" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createModule">
            <soap:operation soapAction="urn:createModule" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="AuthorizationAdminServiceIdentityAuthorizationException">
                <soap:fault use="literal" name="AuthorizationAdminServiceIdentityAuthorizationException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getModule">
            <soap:operation soapAction="urn:getModule" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="AuthorizationAdminServiceIdentityAuthorizationException">
                <soap:fault use="literal" name="AuthorizationAdminServiceIdentityAuthorizationException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addUserPermissions">
            <soap:operation soapAction="urn:addUserPermissions" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:fault name="AuthorizationAdminServiceIdentityAuthorizationException">
                <soap:fault use="literal" name="AuthorizationAdminServiceIdentityAuthorizationException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateUserPermissions">
            <soap:operation soapAction="urn:updateUserPermissions" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:fault name="AuthorizationAdminServiceIdentityAuthorizationException">
                <soap:fault use="literal" name="AuthorizationAdminServiceIdentityAuthorizationException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateRolePermissions">
            <soap:operation soapAction="urn:updateRolePermissions" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:fault name="AuthorizationAdminServiceIdentityAuthorizationException">
                <soap:fault use="literal" name="AuthorizationAdminServiceIdentityAuthorizationException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getPermissionList">
            <soap:operation soapAction="urn:getPermissionList" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="AuthorizationAdminServiceIdentityAuthorizationException">
                <soap:fault use="literal" name="AuthorizationAdminServiceIdentityAuthorizationException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deletePermission">
            <soap:operation soapAction="urn:deletePermission" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:fault name="AuthorizationAdminServiceIdentityAuthorizationException">
                <soap:fault use="literal" name="AuthorizationAdminServiceIdentityAuthorizationException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createPermissions">
            <soap:operation soapAction="urn:createPermissions" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:fault name="AuthorizationAdminServiceIdentityAuthorizationException">
                <soap:fault use="literal" name="AuthorizationAdminServiceIdentityAuthorizationException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="loadModules">
            <soap:operation soapAction="urn:loadModules" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="AuthorizationAdminServiceIdentityAuthorizationException">
                <soap:fault use="literal" name="AuthorizationAdminServiceIdentityAuthorizationException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="AuthorizationAdminServiceSoap12Binding" type="tns:AuthorizationAdminServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap12:binding>
        <wsdl:operation name="deleteUserPermissions">
            <soap12:operation soapAction="urn:deleteUserPermissions" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:fault name="AuthorizationAdminServiceIdentityAuthorizationException">
                <soap12:fault use="literal" name="AuthorizationAdminServiceIdentityAuthorizationException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="clearPermissions">
            <soap12:operation soapAction="urn:clearPermissions" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:fault name="AuthorizationAdminServiceIdentityAuthorizationException">
                <soap12:fault use="literal" name="AuthorizationAdminServiceIdentityAuthorizationException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="isAuthorized">
            <soap12:operation soapAction="urn:isAuthorized" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="AuthorizationAdminServiceIdentityAuthorizationException">
                <soap12:fault use="literal" name="AuthorizationAdminServiceIdentityAuthorizationException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="removeModule">
            <soap12:operation soapAction="urn:removeModule" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:fault name="AuthorizationAdminServiceIdentityAuthorizationException">
                <soap12:fault use="literal" name="AuthorizationAdminServiceIdentityAuthorizationException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getPermission">
            <soap12:operation soapAction="urn:getPermission" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="AuthorizationAdminServiceIdentityAuthorizationException">
                <soap12:fault use="literal" name="AuthorizationAdminServiceIdentityAuthorizationException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateAuthorizedActions">
            <soap12:operation soapAction="urn:updateAuthorizedActions" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:fault name="AuthorizationAdminServiceIdentityAuthorizationException">
                <soap12:fault use="literal" name="AuthorizationAdminServiceIdentityAuthorizationException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addRolePermissions">
            <soap12:operation soapAction="urn:addRolePermissions" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:fault name="AuthorizationAdminServiceIdentityAuthorizationException">
                <soap12:fault use="literal" name="AuthorizationAdminServiceIdentityAuthorizationException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteRolePermissions">
            <soap12:operation soapAction="urn:deleteRolePermissions" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:fault name="AuthorizationAdminServiceIdentityAuthorizationException">
                <soap12:fault use="literal" name="AuthorizationAdminServiceIdentityAuthorizationException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getVersion">
            <soap12:operation soapAction="urn:getVersion" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createModule">
            <soap12:operation soapAction="urn:createModule" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="AuthorizationAdminServiceIdentityAuthorizationException">
                <soap12:fault use="literal" name="AuthorizationAdminServiceIdentityAuthorizationException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getModule">
            <soap12:operation soapAction="urn:getModule" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="AuthorizationAdminServiceIdentityAuthorizationException">
                <soap12:fault use="literal" name="AuthorizationAdminServiceIdentityAuthorizationException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addUserPermissions">
            <soap12:operation soapAction="urn:addUserPermissions" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:fault name="AuthorizationAdminServiceIdentityAuthorizationException">
                <soap12:fault use="literal" name="AuthorizationAdminServiceIdentityAuthorizationException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateUserPermissions">
            <soap12:operation soapAction="urn:updateUserPermissions" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:fault name="AuthorizationAdminServiceIdentityAuthorizationException">
                <soap12:fault use="literal" name="AuthorizationAdminServiceIdentityAuthorizationException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateRolePermissions">
            <soap12:operation soapAction="urn:updateRolePermissions" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:fault name="AuthorizationAdminServiceIdentityAuthorizationException">
                <soap12:fault use="literal" name="AuthorizationAdminServiceIdentityAuthorizationException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getPermissionList">
            <soap12:operation soapAction="urn:getPermissionList" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="AuthorizationAdminServiceIdentityAuthorizationException">
                <soap12:fault use="literal" name="AuthorizationAdminServiceIdentityAuthorizationException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deletePermission">
            <soap12:operation soapAction="urn:deletePermission" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:fault name="AuthorizationAdminServiceIdentityAuthorizationException">
                <soap12:fault use="literal" name="AuthorizationAdminServiceIdentityAuthorizationException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createPermissions">
            <soap12:operation soapAction="urn:createPermissions" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:fault name="AuthorizationAdminServiceIdentityAuthorizationException">
                <soap12:fault use="literal" name="AuthorizationAdminServiceIdentityAuthorizationException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="loadModules">
            <soap12:operation soapAction="urn:loadModules" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="AuthorizationAdminServiceIdentityAuthorizationException">
                <soap12:fault use="literal" name="AuthorizationAdminServiceIdentityAuthorizationException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="AuthorizationAdminServiceHttpBinding" type="tns:AuthorizationAdminServicePortType">
        <http:binding verb="POST"></http:binding>
        <wsdl:operation name="deleteUserPermissions">
            <http:operation location="deleteUserPermissions"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="clearPermissions">
            <http:operation location="clearPermissions"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="isAuthorized">
            <http:operation location="isAuthorized"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="removeModule">
            <http:operation location="removeModule"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getPermission">
            <http:operation location="getPermission"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateAuthorizedActions">
            <http:operation location="updateAuthorizedActions"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="addRolePermissions">
            <http:operation location="addRolePermissions"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="deleteRolePermissions">
            <http:operation location="deleteRolePermissions"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getVersion">
            <http:operation location="getVersion"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createModule">
            <http:operation location="createModule"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getModule">
            <http:operation location="getModule"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addUserPermissions">
            <http:operation location="addUserPermissions"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="updateUserPermissions">
            <http:operation location="updateUserPermissions"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="updateRolePermissions">
            <http:operation location="updateRolePermissions"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getPermissionList">
            <http:operation location="getPermissionList"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deletePermission">
            <http:operation location="deletePermission"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="createPermissions">
            <http:operation location="createPermissions"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="loadModules">
            <http:operation location="loadModules"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="AuthorizationAdminService">
        <wsdl:port name="AuthorizationAdminServiceHttpsSoap11Endpoint" binding="tns:AuthorizationAdminServiceSoap11Binding">
            <soap:address location="https://localhost:9443/services/AuthorizationAdminService.AuthorizationAdminServiceHttpsSoap11Endpoint/"></soap:address>
        </wsdl:port>
        <wsdl:port name="AuthorizationAdminServiceHttpsSoap12Endpoint" binding="tns:AuthorizationAdminServiceSoap12Binding">
            <soap12:address location="https://localhost:9443/services/AuthorizationAdminService.AuthorizationAdminServiceHttpsSoap12Endpoint/"></soap12:address>
        </wsdl:port>
        <wsdl:port name="AuthorizationAdminServiceHttpsEndpoint" binding="tns:AuthorizationAdminServiceHttpBinding">
            <http:address location="https://localhost:9443/services/AuthorizationAdminService.AuthorizationAdminServiceHttpsEndpoint/"></http:address>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>