service-stubs/identity/org.wso2.carbon.identity.user.account.association.stub/src/main/resources/UserAccountAssociationService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax2375="http://exception.association.account.user.identity.carbon.wso2.org/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://association.account.user.identity.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ax2377="http://dto.association.account.user.identity.carbon.wso2.org/xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://association.account.user.identity.carbon.wso2.org">
    <wsdl:documentation>UserAccountAssociationService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dto.association.account.user.identity.carbon.wso2.org/xsd">
            <xs:complexType name="UserAccountAssociationDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="domain" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="tenantDomain" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://exception.association.account.user.identity.carbon.wso2.org/xsd">
            <xs:complexType name="UserAccountAssociationException">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="UserAccountAssociationClientException">
                <xs:complexContent>
                    <xs:extension base="ax2375:UserAccountAssociationException">
                        <xs:sequence/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2376="http://exception.association.account.user.identity.carbon.wso2.org/xsd" xmlns:ax2378="http://dto.association.account.user.identity.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://association.account.user.identity.carbon.wso2.org">
            <xs:import namespace="http://exception.association.account.user.identity.carbon.wso2.org/xsd"/>
            <xs:import namespace="http://dto.association.account.user.identity.carbon.wso2.org/xsd"/>
            <xs:element name="UserAccountAssociationServiceUserAccountAssociationClientException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="UserAccountAssociationClientException" nillable="true" type="ax2375:UserAccountAssociationClientException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createUserAccountAssociation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="password" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="associateTwoAccounts">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userName1" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="userName2" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="associateMyAccounts">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userName1" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="password1" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="userName2" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="password2" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteUserAccountAssociation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteMyAssociations">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteAssociationsOfUser">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteMyAssociationsWithoutLogin">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="initiateUser" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="password" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAccountAssociationsOfUser">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAccountAssociationsOfUserResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2377:UserAccountAssociationDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAccountAssociations">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAccountAssociationsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2377:UserAccountAssociationDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMyAccountAssociationsWithoutLogin">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="password" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMyAccountAssociationsWithoutLoginResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2377:UserAccountAssociationDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="switchLoggedInUser">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="switchLoggedInUserResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getAccountAssociationsRequest">
        <wsdl:part name="parameters" element="ns:getAccountAssociations"/>
    </wsdl:message>
    <wsdl:message name="getAccountAssociationsResponse">
        <wsdl:part name="parameters" element="ns:getAccountAssociationsResponse"/>
    </wsdl:message>
    <wsdl:message name="UserAccountAssociationServiceUserAccountAssociationClientException">
        <wsdl:part name="parameters" element="ns:UserAccountAssociationServiceUserAccountAssociationClientException"/>
    </wsdl:message>
    <wsdl:message name="switchLoggedInUserRequest">
        <wsdl:part name="parameters" element="ns:switchLoggedInUser"/>
    </wsdl:message>
    <wsdl:message name="switchLoggedInUserResponse">
        <wsdl:part name="parameters" element="ns:switchLoggedInUserResponse"/>
    </wsdl:message>
    <wsdl:message name="deleteUserAccountAssociationRequest">
        <wsdl:part name="parameters" element="ns:deleteUserAccountAssociation"/>
    </wsdl:message>
    <wsdl:message name="deleteUserAccountAssociationResponse"/>
    <wsdl:message name="createUserAccountAssociationRequest">
        <wsdl:part name="parameters" element="ns:createUserAccountAssociation"/>
    </wsdl:message>
    <wsdl:message name="createUserAccountAssociationResponse"/>
    <wsdl:message name="deleteMyAssociationsRequest">
        <wsdl:part name="parameters" element="ns:deleteMyAssociations"/>
    </wsdl:message>
    <wsdl:message name="deleteMyAssociationsResponse"/>
    <wsdl:message name="getAccountAssociationsOfUserRequest">
        <wsdl:part name="parameters" element="ns:getAccountAssociationsOfUser"/>
    </wsdl:message>
    <wsdl:message name="getAccountAssociationsOfUserResponse">
        <wsdl:part name="parameters" element="ns:getAccountAssociationsOfUserResponse"/>
    </wsdl:message>
    <wsdl:message name="deleteMyAssociationsWithoutLoginRequest">
        <wsdl:part name="parameters" element="ns:deleteMyAssociationsWithoutLogin"/>
    </wsdl:message>
    <wsdl:message name="deleteMyAssociationsWithoutLoginResponse"/>
    <wsdl:message name="deleteAssociationsOfUserRequest">
        <wsdl:part name="parameters" element="ns:deleteAssociationsOfUser"/>
    </wsdl:message>
    <wsdl:message name="deleteAssociationsOfUserResponse"/>
    <wsdl:message name="associateTwoAccountsRequest">
        <wsdl:part name="parameters" element="ns:associateTwoAccounts"/>
    </wsdl:message>
    <wsdl:message name="getMyAccountAssociationsWithoutLoginRequest">
        <wsdl:part name="parameters" element="ns:getMyAccountAssociationsWithoutLogin"/>
    </wsdl:message>
    <wsdl:message name="getMyAccountAssociationsWithoutLoginResponse">
        <wsdl:part name="parameters" element="ns:getMyAccountAssociationsWithoutLoginResponse"/>
    </wsdl:message>
    <wsdl:message name="associateMyAccountsRequest">
        <wsdl:part name="parameters" element="ns:associateMyAccounts"/>
    </wsdl:message>
    <wsdl:message name="associateMyAccountsResponse"/>
    <wsdl:portType name="UserAccountAssociationServicePortType">
        <wsdl:operation name="getAccountAssociations">
            <wsdl:input message="ns:getAccountAssociationsRequest" wsaw:Action="urn:getAccountAssociations"/>
            <wsdl:output message="ns:getAccountAssociationsResponse" wsaw:Action="urn:getAccountAssociationsResponse"/>
            <wsdl:fault message="ns:UserAccountAssociationServiceUserAccountAssociationClientException" name="UserAccountAssociationServiceUserAccountAssociationClientException" wsaw:Action="urn:getAccountAssociationsUserAccountAssociationServiceUserAccountAssociationClientException"/>
        </wsdl:operation>
        <wsdl:operation name="switchLoggedInUser">
            <wsdl:input message="ns:switchLoggedInUserRequest" wsaw:Action="urn:switchLoggedInUser"/>
            <wsdl:output message="ns:switchLoggedInUserResponse" wsaw:Action="urn:switchLoggedInUserResponse"/>
            <wsdl:fault message="ns:UserAccountAssociationServiceUserAccountAssociationClientException" name="UserAccountAssociationServiceUserAccountAssociationClientException" wsaw:Action="urn:switchLoggedInUserUserAccountAssociationServiceUserAccountAssociationClientException"/>
        </wsdl:operation>
        <wsdl:operation name="deleteUserAccountAssociation">
            <wsdl:input message="ns:deleteUserAccountAssociationRequest" wsaw:Action="urn:deleteUserAccountAssociation"/>
            <wsdl:output message="ns:deleteUserAccountAssociationResponse" wsaw:Action="urn:deleteUserAccountAssociationResponse"/>
            <wsdl:fault message="ns:UserAccountAssociationServiceUserAccountAssociationClientException" name="UserAccountAssociationServiceUserAccountAssociationClientException" wsaw:Action="urn:deleteUserAccountAssociationUserAccountAssociationServiceUserAccountAssociationClientException"/>
        </wsdl:operation>
        <wsdl:operation name="createUserAccountAssociation">
            <wsdl:input message="ns:createUserAccountAssociationRequest" wsaw:Action="urn:createUserAccountAssociation"/>
            <wsdl:output message="ns:createUserAccountAssociationResponse" wsaw:Action="urn:createUserAccountAssociationResponse"/>
            <wsdl:fault message="ns:UserAccountAssociationServiceUserAccountAssociationClientException" name="UserAccountAssociationServiceUserAccountAssociationClientException" wsaw:Action="urn:createUserAccountAssociationUserAccountAssociationServiceUserAccountAssociationClientException"/>
        </wsdl:operation>
        <wsdl:operation name="deleteMyAssociations">
            <wsdl:input message="ns:deleteMyAssociationsRequest" wsaw:Action="urn:deleteMyAssociations"/>
            <wsdl:output message="ns:deleteMyAssociationsResponse" wsaw:Action="urn:deleteMyAssociationsResponse"/>
            <wsdl:fault message="ns:UserAccountAssociationServiceUserAccountAssociationClientException" name="UserAccountAssociationServiceUserAccountAssociationClientException" wsaw:Action="urn:deleteMyAssociationsUserAccountAssociationServiceUserAccountAssociationClientException"/>
        </wsdl:operation>
        <wsdl:operation name="getAccountAssociationsOfUser">
            <wsdl:input message="ns:getAccountAssociationsOfUserRequest" wsaw:Action="urn:getAccountAssociationsOfUser"/>
            <wsdl:output message="ns:getAccountAssociationsOfUserResponse" wsaw:Action="urn:getAccountAssociationsOfUserResponse"/>
            <wsdl:fault message="ns:UserAccountAssociationServiceUserAccountAssociationClientException" name="UserAccountAssociationServiceUserAccountAssociationClientException" wsaw:Action="urn:getAccountAssociationsOfUserUserAccountAssociationServiceUserAccountAssociationClientException"/>
        </wsdl:operation>
        <wsdl:operation name="deleteMyAssociationsWithoutLogin">
            <wsdl:input message="ns:deleteMyAssociationsWithoutLoginRequest" wsaw:Action="urn:deleteMyAssociationsWithoutLogin"/>
            <wsdl:output message="ns:deleteMyAssociationsWithoutLoginResponse" wsaw:Action="urn:deleteMyAssociationsWithoutLoginResponse"/>
            <wsdl:fault message="ns:UserAccountAssociationServiceUserAccountAssociationClientException" name="UserAccountAssociationServiceUserAccountAssociationClientException" wsaw:Action="urn:deleteMyAssociationsWithoutLoginUserAccountAssociationServiceUserAccountAssociationClientException"/>
        </wsdl:operation>
        <wsdl:operation name="deleteAssociationsOfUser">
            <wsdl:input message="ns:deleteAssociationsOfUserRequest" wsaw:Action="urn:deleteAssociationsOfUser"/>
            <wsdl:output message="ns:deleteAssociationsOfUserResponse" wsaw:Action="urn:deleteAssociationsOfUserResponse"/>
            <wsdl:fault message="ns:UserAccountAssociationServiceUserAccountAssociationClientException" name="UserAccountAssociationServiceUserAccountAssociationClientException" wsaw:Action="urn:deleteAssociationsOfUserUserAccountAssociationServiceUserAccountAssociationClientException"/>
        </wsdl:operation>
        <wsdl:operation name="associateTwoAccounts">
            <wsdl:input message="ns:associateTwoAccountsRequest" wsaw:Action="urn:associateTwoAccounts"/>
            <wsdl:fault message="ns:UserAccountAssociationServiceUserAccountAssociationClientException" name="UserAccountAssociationServiceUserAccountAssociationClientException" wsaw:Action="urn:associateTwoAccountsUserAccountAssociationServiceUserAccountAssociationClientException"/>
        </wsdl:operation>
        <wsdl:operation name="getMyAccountAssociationsWithoutLogin">
            <wsdl:input message="ns:getMyAccountAssociationsWithoutLoginRequest" wsaw:Action="urn:getMyAccountAssociationsWithoutLogin"/>
            <wsdl:output message="ns:getMyAccountAssociationsWithoutLoginResponse" wsaw:Action="urn:getMyAccountAssociationsWithoutLoginResponse"/>
            <wsdl:fault message="ns:UserAccountAssociationServiceUserAccountAssociationClientException" name="UserAccountAssociationServiceUserAccountAssociationClientException" wsaw:Action="urn:getMyAccountAssociationsWithoutLoginUserAccountAssociationServiceUserAccountAssociationClientException"/>
        </wsdl:operation>
        <wsdl:operation name="associateMyAccounts">
            <wsdl:input message="ns:associateMyAccountsRequest" wsaw:Action="urn:associateMyAccounts"/>
            <wsdl:output message="ns:associateMyAccountsResponse" wsaw:Action="urn:associateMyAccountsResponse"/>
            <wsdl:fault message="ns:UserAccountAssociationServiceUserAccountAssociationClientException" name="UserAccountAssociationServiceUserAccountAssociationClientException" wsaw:Action="urn:associateMyAccountsUserAccountAssociationServiceUserAccountAssociationClientException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="UserAccountAssociationServiceSoap11Binding" type="ns:UserAccountAssociationServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getAccountAssociations">
            <soap:operation soapAction="urn:getAccountAssociations" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UserAccountAssociationServiceUserAccountAssociationClientException">
                <soap:fault use="literal" name="UserAccountAssociationServiceUserAccountAssociationClientException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="switchLoggedInUser">
            <soap:operation soapAction="urn:switchLoggedInUser" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UserAccountAssociationServiceUserAccountAssociationClientException">
                <soap:fault use="literal" name="UserAccountAssociationServiceUserAccountAssociationClientException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteUserAccountAssociation">
            <soap:operation soapAction="urn:deleteUserAccountAssociation" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UserAccountAssociationServiceUserAccountAssociationClientException">
                <soap:fault use="literal" name="UserAccountAssociationServiceUserAccountAssociationClientException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createUserAccountAssociation">
            <soap:operation soapAction="urn:createUserAccountAssociation" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UserAccountAssociationServiceUserAccountAssociationClientException">
                <soap:fault use="literal" name="UserAccountAssociationServiceUserAccountAssociationClientException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteMyAssociations">
            <soap:operation soapAction="urn:deleteMyAssociations" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UserAccountAssociationServiceUserAccountAssociationClientException">
                <soap:fault use="literal" name="UserAccountAssociationServiceUserAccountAssociationClientException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAccountAssociationsOfUser">
            <soap:operation soapAction="urn:getAccountAssociationsOfUser" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UserAccountAssociationServiceUserAccountAssociationClientException">
                <soap:fault use="literal" name="UserAccountAssociationServiceUserAccountAssociationClientException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteMyAssociationsWithoutLogin">
            <soap:operation soapAction="urn:deleteMyAssociationsWithoutLogin" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UserAccountAssociationServiceUserAccountAssociationClientException">
                <soap:fault use="literal" name="UserAccountAssociationServiceUserAccountAssociationClientException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteAssociationsOfUser">
            <soap:operation soapAction="urn:deleteAssociationsOfUser" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UserAccountAssociationServiceUserAccountAssociationClientException">
                <soap:fault use="literal" name="UserAccountAssociationServiceUserAccountAssociationClientException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getMyAccountAssociationsWithoutLogin">
            <soap:operation soapAction="urn:getMyAccountAssociationsWithoutLogin" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UserAccountAssociationServiceUserAccountAssociationClientException">
                <soap:fault use="literal" name="UserAccountAssociationServiceUserAccountAssociationClientException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="associateTwoAccounts">
            <soap:operation soapAction="urn:associateTwoAccounts" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="UserAccountAssociationServiceUserAccountAssociationClientException">
                <soap:fault use="literal" name="UserAccountAssociationServiceUserAccountAssociationClientException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="associateMyAccounts">
            <soap:operation soapAction="urn:associateMyAccounts" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UserAccountAssociationServiceUserAccountAssociationClientException">
                <soap:fault use="literal" name="UserAccountAssociationServiceUserAccountAssociationClientException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="UserAccountAssociationServiceSoap12Binding" type="ns:UserAccountAssociationServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getAccountAssociations">
            <soap12:operation soapAction="urn:getAccountAssociations" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UserAccountAssociationServiceUserAccountAssociationClientException">
                <soap12:fault use="literal" name="UserAccountAssociationServiceUserAccountAssociationClientException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="switchLoggedInUser">
            <soap12:operation soapAction="urn:switchLoggedInUser" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UserAccountAssociationServiceUserAccountAssociationClientException">
                <soap12:fault use="literal" name="UserAccountAssociationServiceUserAccountAssociationClientException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteUserAccountAssociation">
            <soap12:operation soapAction="urn:deleteUserAccountAssociation" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UserAccountAssociationServiceUserAccountAssociationClientException">
                <soap12:fault use="literal" name="UserAccountAssociationServiceUserAccountAssociationClientException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createUserAccountAssociation">
            <soap12:operation soapAction="urn:createUserAccountAssociation" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UserAccountAssociationServiceUserAccountAssociationClientException">
                <soap12:fault use="literal" name="UserAccountAssociationServiceUserAccountAssociationClientException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteMyAssociations">
            <soap12:operation soapAction="urn:deleteMyAssociations" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UserAccountAssociationServiceUserAccountAssociationClientException">
                <soap12:fault use="literal" name="UserAccountAssociationServiceUserAccountAssociationClientException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAccountAssociationsOfUser">
            <soap12:operation soapAction="urn:getAccountAssociationsOfUser" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UserAccountAssociationServiceUserAccountAssociationClientException">
                <soap12:fault use="literal" name="UserAccountAssociationServiceUserAccountAssociationClientException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteMyAssociationsWithoutLogin">
            <soap12:operation soapAction="urn:deleteMyAssociationsWithoutLogin" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UserAccountAssociationServiceUserAccountAssociationClientException">
                <soap12:fault use="literal" name="UserAccountAssociationServiceUserAccountAssociationClientException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteAssociationsOfUser">
            <soap12:operation soapAction="urn:deleteAssociationsOfUser" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UserAccountAssociationServiceUserAccountAssociationClientException">
                <soap12:fault use="literal" name="UserAccountAssociationServiceUserAccountAssociationClientException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getMyAccountAssociationsWithoutLogin">
            <soap12:operation soapAction="urn:getMyAccountAssociationsWithoutLogin" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UserAccountAssociationServiceUserAccountAssociationClientException">
                <soap12:fault use="literal" name="UserAccountAssociationServiceUserAccountAssociationClientException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="associateTwoAccounts">
            <soap12:operation soapAction="urn:associateTwoAccounts" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="UserAccountAssociationServiceUserAccountAssociationClientException">
                <soap12:fault use="literal" name="UserAccountAssociationServiceUserAccountAssociationClientException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="associateMyAccounts">
            <soap12:operation soapAction="urn:associateMyAccounts" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UserAccountAssociationServiceUserAccountAssociationClientException">
                <soap12:fault use="literal" name="UserAccountAssociationServiceUserAccountAssociationClientException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="UserAccountAssociationServiceHttpBinding" type="ns:UserAccountAssociationServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getAccountAssociations">
            <http:operation location="getAccountAssociations"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="switchLoggedInUser">
            <http:operation location="switchLoggedInUser"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteUserAccountAssociation">
            <http:operation location="deleteUserAccountAssociation"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createUserAccountAssociation">
            <http:operation location="createUserAccountAssociation"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteMyAssociations">
            <http:operation location="deleteMyAssociations"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAccountAssociationsOfUser">
            <http:operation location="getAccountAssociationsOfUser"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteMyAssociationsWithoutLogin">
            <http:operation location="deleteMyAssociationsWithoutLogin"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteAssociationsOfUser">
            <http:operation location="deleteAssociationsOfUser"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMyAccountAssociationsWithoutLogin">
            <http:operation location="getMyAccountAssociationsWithoutLogin"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="associateTwoAccounts">
            <http:operation location="associateTwoAccounts"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="associateMyAccounts">
            <http:operation location="associateMyAccounts"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="UserAccountAssociationService">
        <wsdl:port name="UserAccountAssociationServiceHttpsSoap11Endpoint" binding="ns:UserAccountAssociationServiceSoap11Binding">
            <soap:address location="https://localhost:9443/services/UserAccountAssociationService.UserAccountAssociationServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="UserAccountAssociationServiceHttpsSoap12Endpoint" binding="ns:UserAccountAssociationServiceSoap12Binding">
            <soap12:address location="https://localhost:9443/services/UserAccountAssociationService.UserAccountAssociationServiceHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="UserAccountAssociationServiceHttpsEndpoint" binding="ns:UserAccountAssociationServiceHttpBinding">
            <http:address location="https://localhost:9443/services/UserAccountAssociationService.UserAccountAssociationServiceHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>