components/openid/org.wso2.carbon.identity.provider/src/main/wsdls/IdentityProviderAdminService.wsdl

<!--
  ~ Copyright (c) 2005-2010, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
  ~
  ~  WSO2 Inc. licenses this file to you under the Apache License,
  ~  Version 2.0 (the "License"); you may not use this file except
  ~  in compliance with the License.
  ~  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:axis2="http://provider.identity.carbon.wso2.org"
                  xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  targetNamespace="http://provider.identity.carbon.wso2.org">
    <wsdl:documentation>IdentityProviderAdminService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ns="http://org.apache.axis2/xsd" attributeFormDefault="qualified"
                   elementFormDefault="qualified" targetNamespace="http://org.apache.axis2/xsd">
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Exception" nillable="true" type="xs:anyType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="Exception">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="Exception" nillable="true" type="ns:Exception"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="issueOpenIDInfoCardForUsername">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="requireAppliesTo" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="issueOpenIDInfoCardForUsernameResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="issueOpenIDInfoCardForSelfIssuedCard">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="ppid" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="requireAppliesTo" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="issueOpenIDInfoCardForSelfIssuedCardResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="issueCardForUsername">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="requireAppliesTo" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="issueCardForUsernameResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="issueCardForSelfIssuedCards">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="ppid" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="requireAppliesTo" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="issueCardForSelfIssuedCardsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPrimaryOpenID">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPrimaryOpenIDResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllOpenIDs">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllOpenIDsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="extractPrimaryUserName">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="ppid" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="extractPrimaryUserNameResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="issueOpenIDInfoCardForUsernameRequest">
        <wsdl:part name="parameters" element="ns1:issueOpenIDInfoCardForUsername"/>
    </wsdl:message>
    <wsdl:message name="issueOpenIDInfoCardForUsernameResponse">
        <wsdl:part name="parameters" element="ns1:issueOpenIDInfoCardForUsernameResponse"/>
    </wsdl:message>
    <wsdl:message name="Exception">
        <wsdl:part name="parameters" element="ns1:Exception"/>
    </wsdl:message>
    <wsdl:message name="issueOpenIDInfoCardForSelfIssuedCardRequest">
        <wsdl:part name="parameters" element="ns1:issueOpenIDInfoCardForSelfIssuedCard"/>
    </wsdl:message>
    <wsdl:message name="issueOpenIDInfoCardForSelfIssuedCardResponse">
        <wsdl:part name="parameters" element="ns1:issueOpenIDInfoCardForSelfIssuedCardResponse"/>
    </wsdl:message>
    <wsdl:message name="extractPrimaryUserNameRequest">
        <wsdl:part name="parameters" element="ns1:extractPrimaryUserName"/>
    </wsdl:message>
    <wsdl:message name="extractPrimaryUserNameResponse">
        <wsdl:part name="parameters" element="ns1:extractPrimaryUserNameResponse"/>
    </wsdl:message>
    <wsdl:message name="issueCardForUsernameRequest">
        <wsdl:part name="parameters" element="ns1:issueCardForUsername"/>
    </wsdl:message>
    <wsdl:message name="issueCardForUsernameResponse">
        <wsdl:part name="parameters" element="ns1:issueCardForUsernameResponse"/>
    </wsdl:message>
    <wsdl:message name="getPrimaryOpenIDRequest">
        <wsdl:part name="parameters" element="ns1:getPrimaryOpenID"/>
    </wsdl:message>
    <wsdl:message name="getPrimaryOpenIDResponse">
        <wsdl:part name="parameters" element="ns1:getPrimaryOpenIDResponse"/>
    </wsdl:message>
    <wsdl:message name="issueCardForSelfIssuedCardsRequest">
        <wsdl:part name="parameters" element="ns1:issueCardForSelfIssuedCards"/>
    </wsdl:message>
    <wsdl:message name="issueCardForSelfIssuedCardsResponse">
        <wsdl:part name="parameters" element="ns1:issueCardForSelfIssuedCardsResponse"/>
    </wsdl:message>
    <wsdl:message name="getAllOpenIDsRequest">
        <wsdl:part name="parameters" element="ns1:getAllOpenIDs"/>
    </wsdl:message>
    <wsdl:message name="getAllOpenIDsResponse">
        <wsdl:part name="parameters" element="ns1:getAllOpenIDsResponse"/>
    </wsdl:message>
    <wsdl:portType name="IdentityProviderAdminServicePortType">
        <wsdl:operation name="issueOpenIDInfoCardForUsername">
            <wsdl:input message="axis2:issueOpenIDInfoCardForUsernameRequest"
                        wsaw:Action="urn:issueOpenIDInfoCardForUsername"/>
            <wsdl:output message="axis2:issueOpenIDInfoCardForUsernameResponse"
                         wsaw:Action="urn:issueOpenIDInfoCardForUsernameResponse"/>
            <wsdl:fault message="axis2:Exception" name="Exception"
                        wsaw:Action="urn:issueOpenIDInfoCardForUsernameException"/>
        </wsdl:operation>
        <wsdl:operation name="issueOpenIDInfoCardForSelfIssuedCard">
            <wsdl:input message="axis2:issueOpenIDInfoCardForSelfIssuedCardRequest"
                        wsaw:Action="urn:issueOpenIDInfoCardForSelfIssuedCard"/>
            <wsdl:output message="axis2:issueOpenIDInfoCardForSelfIssuedCardResponse"
                         wsaw:Action="urn:issueOpenIDInfoCardForSelfIssuedCardResponse"/>
            <wsdl:fault message="axis2:Exception" name="Exception"
                        wsaw:Action="urn:issueOpenIDInfoCardForSelfIssuedCardException"/>
        </wsdl:operation>
        <wsdl:operation name="extractPrimaryUserName">
            <wsdl:input message="axis2:extractPrimaryUserNameRequest" wsaw:Action="urn:extractPrimaryUserName"/>
            <wsdl:output message="axis2:extractPrimaryUserNameResponse"
                         wsaw:Action="urn:extractPrimaryUserNameResponse"/>
            <wsdl:fault message="axis2:Exception" name="Exception" wsaw:Action="urn:extractPrimaryUserNameException"/>
        </wsdl:operation>
        <wsdl:operation name="issueCardForUsername">
            <wsdl:input message="axis2:issueCardForUsernameRequest" wsaw:Action="urn:issueCardForUsername"/>
            <wsdl:output message="axis2:issueCardForUsernameResponse" wsaw:Action="urn:issueCardForUsernameResponse"/>
            <wsdl:fault message="axis2:Exception" name="Exception" wsaw:Action="urn:issueCardForUsernameException"/>
        </wsdl:operation>
        <wsdl:operation name="getPrimaryOpenID">
            <wsdl:input message="axis2:getPrimaryOpenIDRequest" wsaw:Action="urn:getPrimaryOpenID"/>
            <wsdl:output message="axis2:getPrimaryOpenIDResponse" wsaw:Action="urn:getPrimaryOpenIDResponse"/>
            <wsdl:fault message="axis2:Exception" name="Exception" wsaw:Action="urn:getPrimaryOpenIDException"/>
        </wsdl:operation>
        <wsdl:operation name="issueCardForSelfIssuedCards">
            <wsdl:input message="axis2:issueCardForSelfIssuedCardsRequest"
                        wsaw:Action="urn:issueCardForSelfIssuedCards"/>
            <wsdl:output message="axis2:issueCardForSelfIssuedCardsResponse"
                         wsaw:Action="urn:issueCardForSelfIssuedCardsResponse"/>
            <wsdl:fault message="axis2:Exception" name="Exception"
                        wsaw:Action="urn:issueCardForSelfIssuedCardsException"/>
        </wsdl:operation>
        <wsdl:operation name="getAllOpenIDs">
            <wsdl:input message="axis2:getAllOpenIDsRequest" wsaw:Action="urn:getAllOpenIDs"/>
            <wsdl:output message="axis2:getAllOpenIDsResponse" wsaw:Action="urn:getAllOpenIDsResponse"/>
            <wsdl:fault message="axis2:Exception" name="Exception" wsaw:Action="urn:getAllOpenIDsException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="IdentityProviderAdminServiceSoap11Binding" type="axis2:IdentityProviderAdminServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="issueOpenIDInfoCardForUsername">
            <soap:operation soapAction="urn:issueOpenIDInfoCardForUsername" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="issueOpenIDInfoCardForSelfIssuedCard">
            <soap:operation soapAction="urn:issueOpenIDInfoCardForSelfIssuedCard" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="extractPrimaryUserName">
            <soap:operation soapAction="urn:extractPrimaryUserName" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="issueCardForUsername">
            <soap:operation soapAction="urn:issueCardForUsername" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getPrimaryOpenID">
            <soap:operation soapAction="urn:getPrimaryOpenID" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="issueCardForSelfIssuedCards">
            <soap:operation soapAction="urn:issueCardForSelfIssuedCards" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllOpenIDs">
            <soap:operation soapAction="urn:getAllOpenIDs" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="IdentityProviderAdminServiceSoap12Binding" type="axis2:IdentityProviderAdminServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="issueOpenIDInfoCardForUsername">
            <soap12:operation soapAction="urn:issueOpenIDInfoCardForUsername" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="issueOpenIDInfoCardForSelfIssuedCard">
            <soap12:operation soapAction="urn:issueOpenIDInfoCardForSelfIssuedCard" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="extractPrimaryUserName">
            <soap12:operation soapAction="urn:extractPrimaryUserName" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="issueCardForUsername">
            <soap12:operation soapAction="urn:issueCardForUsername" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getPrimaryOpenID">
            <soap12:operation soapAction="urn:getPrimaryOpenID" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="issueCardForSelfIssuedCards">
            <soap12:operation soapAction="urn:issueCardForSelfIssuedCards" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllOpenIDs">
            <soap12:operation soapAction="urn:getAllOpenIDs" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="IdentityProviderAdminServiceHttpBinding" type="axis2:IdentityProviderAdminServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="issueOpenIDInfoCardForUsername">
            <http:operation location="issueOpenIDInfoCardForUsername"/>
            <wsdl:input>
                <mime:content type="text/xml" part="issueOpenIDInfoCardForUsername"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="issueOpenIDInfoCardForUsername"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="issueOpenIDInfoCardForSelfIssuedCard">
            <http:operation location="issueOpenIDInfoCardForSelfIssuedCard"/>
            <wsdl:input>
                <mime:content type="text/xml" part="issueOpenIDInfoCardForSelfIssuedCard"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="issueOpenIDInfoCardForSelfIssuedCard"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="extractPrimaryUserName">
            <http:operation location="extractPrimaryUserName"/>
            <wsdl:input>
                <mime:content type="text/xml" part="extractPrimaryUserName"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="extractPrimaryUserName"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="issueCardForUsername">
            <http:operation location="issueCardForUsername"/>
            <wsdl:input>
                <mime:content type="text/xml" part="issueCardForUsername"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="issueCardForUsername"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPrimaryOpenID">
            <http:operation location="getPrimaryOpenID"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getPrimaryOpenID"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getPrimaryOpenID"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="issueCardForSelfIssuedCards">
            <http:operation location="issueCardForSelfIssuedCards"/>
            <wsdl:input>
                <mime:content type="text/xml" part="issueCardForSelfIssuedCards"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="issueCardForSelfIssuedCards"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllOpenIDs">
            <http:operation location="getAllOpenIDs"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getAllOpenIDs"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getAllOpenIDs"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="IdentityProviderAdminService">
        <wsdl:port name="IdentityProviderAdminServiceHttpsSoap11Endpoint"
                   binding="axis2:IdentityProviderAdminServiceSoap11Binding">
            <soap:address
                    location="https://localhost:9443/services/IdentityProviderAdminService.IdentityProviderAdminServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="IdentityProviderAdminServiceHttpsSoap12Endpoint"
                   binding="axis2:IdentityProviderAdminServiceSoap12Binding">
            <soap12:address
                    location="https://localhost:9443/services/IdentityProviderAdminService.IdentityProviderAdminServiceHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="IdentityProviderAdminServiceHttpsEndpoint"
                   binding="axis2:IdentityProviderAdminServiceHttpBinding">
            <http:address
                    location="https://localhost:9443/services/IdentityProviderAdminService.IdentityProviderAdminServiceHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>