components/workflow-mgt/org.wso2.carbon.identity.workflow.impl/src/main/resources/templates/bpel/SimpleApprovalService/CallbackService.wsdl

<!--
  ~ Copyright (c) 2015, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
  ~
  ~ WSO2 Inc. licenses this file to you under the Apache License,
  ~ Version 2.0 (the "License"); you may not use this file except
  ~ in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:ns="http://callback.mgt.workflow.identity.carbon.wso2.org/xsd"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:tns="http://callback.mgt.workflow.identity.carbon.wso2.org"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  targetNamespace="http://callback.mgt.workflow.identity.carbon.wso2.org">
    <wsdl:documentation>WorkflowCallbackService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified"
                   targetNamespace="http://callback.mgt.workflow.identity.carbon.wso2.org/xsd">
            <xs:element name="onCallback">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="response" nillable="true" type="ns:WSWorkflowResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="WSWorkflowResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="outputParams" nillable="true"
                                type="ns:WSParameter"/>
                    <xs:element minOccurs="0" name="status" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="uuid" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="WSParameter">
                <xs:sequence>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="value" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="onCallbackRequest">
        <wsdl:part name="parameters" element="ns:onCallback"/>
    </wsdl:message>
    <wsdl:portType name="WorkflowCallbackServicePortType">
        <wsdl:operation name="onCallback">
            <wsdl:input message="tns:onCallbackRequest" wsaw:Action="urn:onCallback"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="WorkflowCallbackServiceSoap11Binding" type="tns:WorkflowCallbackServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="onCallback">
            <soap:operation soapAction="urn:onCallback" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="WorkflowCallbackServiceSoap12Binding" type="tns:WorkflowCallbackServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="onCallback">
            <soap12:operation soapAction="urn:onCallback" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="WorkflowCallbackServiceHttpBinding" type="tns:WorkflowCallbackServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="onCallback">
            <http:operation location="onCallback"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="WorkflowCallbackService">
        <wsdl:port name="WorkflowCallbackServiceHttpsSoap11Endpoint" binding="tns:WorkflowCallbackServiceSoap11Binding">
            <soap:address
                    location="https://localhost:9443/services/WorkflowCallbackService.WorkflowCallbackServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="WorkflowCallbackServiceHttpsSoap12Endpoint" binding="tns:WorkflowCallbackServiceSoap12Binding">
            <soap12:address
                    location="https://localhost:9443/services/WorkflowCallbackService.WorkflowCallbackServiceHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="WorkflowCallbackServiceHttpsEndpoint" binding="tns:WorkflowCallbackServiceHttpBinding">
            <http:address
                    location="https://localhost:9443/services/WorkflowCallbackService.WorkflowCallbackServiceHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
