components/workflows/org.wso2.carbon.identity.workflow.mgt.ui/src/main/resources/templates/bpel/SimpleApprovalService/Artifacts.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--
  ~ Copyright (c) 2015 WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
  ~
  ~ WSO2 Inc. licenses this file to you under the Apache License,
  ~ Version 2.0 (the "License"); you may not use this file except
  ~ in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<definitions xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
             xmlns:schema="http://schema.bpel.mgt.workflow.carbon.wso2.org/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://bpel.mgt.workflow.carbon.wso2.org/approvalProcess"
             xmlns:wsdl1="http://ht.bpel.mgt.workflow.identity.carbon.wso2.org/wsdl"
             xmlns:wsdl2="http://callback.mgt.workflow.identity.carbon.wso2.org"
             xmlns="http://schemas.xmlsoap.org/wsdl/" name="${bpelProcessName}"
             targetNamespace="http://bpel.mgt.workflow.carbon.wso2.org/approvalProcess">

    <plnk:partnerLinkType name="${bpelProcessName}PLT">
        <plnk:role name="partnerRole"
                   portType="tns:${bpelProcessName}"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="${htServiceName}PLT">
        <plnk:role name="approvalPartnerRole"
                   portType="wsdl1:${htServiceName}PT"/>
        <plnk:role name="ApprovalCallbackRole"
                   portType="wsdl1:${htServiceName}CBPT"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="callbackServicePLT">
        <plnk:role name="callbackServicePartnerRole"
                   portType="wsdl2:WorkflowCallbackServicePortType"/>
    </plnk:partnerLinkType>

    <import location="${htServiceName}.wsdl"
            namespace="http://ht.bpel.mgt.workflow.identity.carbon.wso2.org/wsdl"/>
    <import location="CallbackService.wsdl" namespace="http://callback.mgt.workflow.identity.carbon.wso2.org"/>
    <types>
        <schema xmlns:tns="http://schema.bpel.mgt.workflow.carbon.wso2.org/" xmlns="http://www.w3.org/2001/XMLSchema"
                attributeFormDefault="unqualified" elementFormDefault="qualified"
                targetNamespace="http://schema.bpel.mgt.workflow.carbon.wso2.org/">
            <element name="ProcessRequest">
                <complexType>
                    <sequence>
                        <element name="uuid" type="string"/>
                        <element name="eventType" type="string"/>
                        <element name="parameters" type="tns:parameterList"></element>
                    </sequence>
                </complexType>
            </element>
            <complexType name="parameterList">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" name="parameter" type="tns:ParameterType"/>
                </sequence>
            </complexType>
            <complexType name="ParameterType">
                <sequence>
                    <element name="value" type="tns:paraItem" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="name" type="string"></attribute>
            </complexType>
            <complexType name="paraItem">
                <sequence>
                    <element name="itemValue" type="string"></element>
                    <element name="itemName" minOccurs="0" type="string"></element>
                </sequence>
            </complexType>

        </schema>
    </types>

    <message name="${bpelProcessName}RequestMessage">
        <part element="schema:ProcessRequest" name="payload"/>
    </message>

    <portType name="${bpelProcessName}">
        <operation name="initiate">
            <input message="tns:${bpelProcessName}RequestMessage"/>
        </operation>
    </portType>

    <binding name="${bpelProcessName}Binding" type="tns:${bpelProcessName}">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="initiate">
            <soap:operation soapAction="http://bpel.mgt.workflow.carbon.wso2.org/approvalProcess/initiate"/>
            <input>
                <soap:body use="literal"/>
            </input>
        </operation>
    </binding>
    <service name="${bpelProcessName}Service">
        <port binding="tns:${bpelProcessName}Binding" name="${bpelProcessName}Port">
            <soap:address location="https://${bpsHostName}:${bpsPort}/services/${bpelProcessName}Service"/>
        </port>
    </service>

</definitions>
