components/workflows/org.wso2.carbon.identity.workflow.mgt.ui/src/main/resources/templates/bpel/SimpleApprovalService/TaskService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--
  ~ Copyright (c) 2015 WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
  ~
  ~ WSO2 Inc. licenses this file to you under the Apache License,
  ~ Version 2.0 (the "License"); you may not use this file except
  ~ in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://ht.bpel.mgt.workflow.identity.carbon.wso2.org/wsdl"
                  xmlns:sch="http://ht.bpel.mgt.workflow.identity.carbon.wso2.org/wsdl/schema"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="${htServiceName}Service"
                  targetNamespace="http://ht.bpel.mgt.workflow.identity.carbon.wso2.org/wsdl">
    <wsdl:types>
        <xsd:schema xmlns:tns="http://ht.bpel.mgt.workflow.identity.carbon.wso2.org/wsdl/schema"
                    targetNamespace="http://ht.bpel.mgt.workflow.identity.carbon.wso2.org/wsdl/schema">
            <xsd:element name="ApprovalCBData" type="tns:ApproveResponseType">
            </xsd:element>
            <xsd:element name="ApprovalData" type="tns:ApprovalDataType">
            </xsd:element>

            <xsd:complexType name="ApprovalDataType">
                <xsd:sequence>
                    <xsd:element name="taskSubject" type="xsd:string" maxOccurs="1" minOccurs="1"/>
                    <xsd:element name="taskDescription" type="xsd:string" maxOccurs="1" minOccurs="1"/>
                    <xsd:element name="priority" type="xsd:int" maxOccurs="1" minOccurs="1"/>
                    <xsd:element name="htParameters" type="tns:HTParameter" maxOccurs="unbounded" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>


            <xsd:complexType name="ApproveResponseType">
                <xsd:sequence>
                    <xsd:element name="approvalStatus" type="xsd:string"
                                 maxOccurs="1" minOccurs="1">
                    </xsd:element>
                    <xsd:element name="params" type="tns:HTParameter" maxOccurs="unbounded" minOccurs="0">
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="HTParameter">
                <xsd:sequence>
                    <xsd:element name="paramValue" type="xsd:string"></xsd:element>
                </xsd:sequence>
                <xsd:attribute name="paramName" type="xsd:string"></xsd:attribute>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="ApprovalRequest">
        <wsdl:part element="sch:ApprovalData" name="ApprovalRequest"/>
    </wsdl:message>
    <wsdl:message name="ApprovalResponse">
        <wsdl:part element="sch:ApprovalCBData" name="ApprovalResponse"/>
    </wsdl:message>
    <wsdl:portType name="${htServiceName}PT">
        <wsdl:operation name="approve">
            <wsdl:input message="tns:ApprovalRequest"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="${htServiceName}CBPT">
        <wsdl:operation name="approvalResponse">
            <wsdl:input message="tns:ApprovalResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="${htServiceName}ServiceSOAP" type="tns:${htServiceName}PT">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="approve">
            <soap:operation soapAction="http://ht.bpel.mgt.workflow.identity.carbon.wso2.org/approve"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="${htServiceName}ServiceCBSOAP" type="tns:${htServiceName}CBPT">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="approvalResponse">
            <soap:operation
                    soapAction="http://ht.bpel.mgt.workflow.identity.carbon.wso2.org/approvalResponse"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="${htServiceName}Service">
        <wsdl:port binding="tns:${htServiceName}ServiceSOAP" name="${htServiceName}Port">
            <soap:address location="${bpsHostName}/services/${htServiceName}Service"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:service name="${htServiceName}ServiceCB">
        <wsdl:port name="${htServiceName}CBPort" binding="tns:${htServiceName}ServiceCBSOAP">
            <soap:address location="${bpsHostName}/services/${htServiceName}ServiceCB"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
