service-stubs/identity/org.wso2.carbon.identity.sso.saml.stub/src/main/resources/IdentitySAMLSSOService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ax2367="http://model.framework.authentication.application.identity.carbon.wso2.org/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ax2368="http://model.common.application.identity.carbon.wso2.org/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:tns="http://saml.sso.identity.carbon.wso2.org" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax2370="http://util.java/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ax2363="http://base.identity.carbon.wso2.org/xsd" xmlns:ax2365="http://dto.saml.sso.identity.carbon.wso2.org/xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://saml.sso.identity.carbon.wso2.org">
    <wsdl:documentation>IdentitySAMLSSOService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax2369="http://model.common.application.identity.carbon.wso2.org/xsd" xmlns:ax2371="http://util.java/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://model.framework.authentication.application.identity.carbon.wso2.org/xsd">
            <xs:import namespace="http://model.common.application.identity.carbon.wso2.org/xsd"></xs:import>
            <xs:import namespace="http://util.java/xsd"></xs:import>
            <xs:complexType name="AuthenticatedUser">
                <xs:complexContent>
                    <xs:extension base="ax2369:User">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="authenticatedSubjectIdentifier" nillable="true" type="xs:string"></xs:element>
                            <xs:element minOccurs="0" name="userAttributes" nillable="true" type="ax2371:Map"></xs:element>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://util.java/xsd">
            <xs:complexType abstract="true" name="Map">
                <xs:sequence>
                    <xs:element minOccurs="0" name="empty" type="xs:boolean"></xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2366="http://dto.saml.sso.identity.carbon.wso2.org/xsd" xmlns:ns="http://org.apache.axis2/xsd" xmlns:ax2364="http://base.identity.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://org.apache.axis2/xsd">
            <xs:import namespace="http://base.identity.carbon.wso2.org/xsd"></xs:import>
            <xs:import namespace="http://dto.saml.sso.identity.carbon.wso2.org/xsd"></xs:import>
            <xs:element name="IdentitySAMLSSOServiceIdentityException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="IdentityException" nillable="true" type="ax2363:IdentityException"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="validateSPInitSSORequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="samlReq" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="queryString" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="rpSessionId" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="authnMode" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="isPost" type="xs:boolean"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="validateSPInitSSORequestResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2366:SAMLSSOReqValidationResponseDTO"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="validateIdPInitSSORequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="httpServletRequest" nillable="true" type="xs:anyType"></xs:element>
                        <xs:element minOccurs="0" name="httpServletResponse" nillable="true" type="xs:anyType"></xs:element>
                        <xs:element minOccurs="0" name="spEntityID" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="relayState" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="queryString" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="rpSessionId" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="authnMode" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="validateIdPInitSSORequestResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2366:SAMLSSOReqValidationResponseDTO"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="isSAMLSSOLoginAccepted">
                <xs:complexType>
                    <xs:sequence></xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="isSAMLSSOLoginAcceptedResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="isOpenIDLoginAccepted">
                <xs:complexType>
                    <xs:sequence></xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="isOpenIDLoginAcceptedResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="doSingleLogout">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="doSingleLogoutResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2366:SAMLSSOReqValidationResponseDTO"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="authenticate">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="authReqDTO" nillable="true" type="ax2366:SAMLSSOAuthnReqDTO"></xs:element>
                        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="authenticated" type="xs:boolean"></xs:element>
                        <xs:element minOccurs="0" name="authenticators" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="authMode" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="authenticateResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2366:SAMLSSORespDTO"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://model.common.application.identity.carbon.wso2.org/xsd">
            <xs:complexType name="User">
                <xs:sequence>
                    <xs:element minOccurs="0" name="tenantDomain" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="userStoreDomain" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2372="http://model.framework.authentication.application.identity.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dto.saml.sso.identity.carbon.wso2.org/xsd">
            <xs:import namespace="http://model.framework.authentication.application.identity.carbon.wso2.org/xsd"></xs:import>
            <xs:complexType name="SAMLSSOReqValidationResponseDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="assertionConsumerURL" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="destination" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="doSingleLogout" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="forceAuthn" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="id" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="idPInitSSO" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="issuer" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="logOutReq" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="loginPageURL" nillable="true" type="xs:string"></xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="logoutRespDTO" nillable="true" type="ax2365:SingleLogoutRequestDTO"></xs:element>
                    <xs:element minOccurs="0" name="logoutResponse" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="passive" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="queryString" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="requestMessageString" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="response" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="rpSessionId" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="subject" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="valid" type="xs:boolean"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SingleLogoutRequestDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="assertionConsumerURL" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="logoutResponse" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="rpSessionId" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SAMLSSOAuthnReqDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="assertionConsumerURL" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="attributeConsumingServiceIndex" type="xs:int"></xs:element>
                    <xs:element minOccurs="0" name="audience" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="certAlias" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="claim" nillable="true" type="xs:string"></xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="claimMapping" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="destination" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="doEnableEncryptedAssertion" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="doSignAssertions" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="doSignResponse" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="doSingleLogout" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="doValidateSignatureInRequests" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="id" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="idPInitSSO" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="issuer" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="issuerWithDomain" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="loginPageURL" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="logoutURL" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="nameIDFormat" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="nameIdClaimUri" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="queryString" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="recipient" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="requestMessageString" nillable="true" type="xs:string"></xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="requestedAudiences" nillable="true" type="xs:string"></xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="requestedClaims" nillable="true" type="xs:string"></xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="requestedRecipients" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="rpSessionId" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="stratosDeployment" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="subject" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="tenantDomain" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="useFullyQualifiedUsernameAsSubject" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="user" nillable="true" type="ax2367:AuthenticatedUser"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SAMLSSORespDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="assertionConsumerURL" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="errorMsg" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="loginPageURL" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="respString" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="sessionEstablished" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="subject" nillable="true" type="ax2367:AuthenticatedUser"></xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://base.identity.carbon.wso2.org/xsd">
            <xs:complexType name="IdentityException">
                <xs:sequence></xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="authenticateRequest">
        <wsdl:part name="parameters" element="ns1:authenticate"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="authenticateResponse">
        <wsdl:part name="parameters" element="ns1:authenticateResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="IdentitySAMLSSOServiceIdentityException">
        <wsdl:part name="parameters" element="ns1:IdentitySAMLSSOServiceIdentityException"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="isOpenIDLoginAcceptedRequest">
        <wsdl:part name="parameters" element="ns1:isOpenIDLoginAccepted"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="isOpenIDLoginAcceptedResponse">
        <wsdl:part name="parameters" element="ns1:isOpenIDLoginAcceptedResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="doSingleLogoutRequest">
        <wsdl:part name="parameters" element="ns1:doSingleLogout"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="doSingleLogoutResponse">
        <wsdl:part name="parameters" element="ns1:doSingleLogoutResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="isSAMLSSOLoginAcceptedRequest">
        <wsdl:part name="parameters" element="ns1:isSAMLSSOLoginAccepted"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="isSAMLSSOLoginAcceptedResponse">
        <wsdl:part name="parameters" element="ns1:isSAMLSSOLoginAcceptedResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="validateSPInitSSORequestRequest">
        <wsdl:part name="parameters" element="ns1:validateSPInitSSORequest"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="validateSPInitSSORequestResponse">
        <wsdl:part name="parameters" element="ns1:validateSPInitSSORequestResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="validateIdPInitSSORequestRequest">
        <wsdl:part name="parameters" element="ns1:validateIdPInitSSORequest"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="validateIdPInitSSORequestResponse">
        <wsdl:part name="parameters" element="ns1:validateIdPInitSSORequestResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="IdentitySAMLSSOServicePortType">
        <wsdl:operation name="authenticate">
            <wsdl:input message="tns:authenticateRequest" wsaw:Action="urn:authenticate"></wsdl:input>
            <wsdl:output message="tns:authenticateResponse" wsaw:Action="urn:authenticateResponse"></wsdl:output>
            <wsdl:fault message="tns:IdentitySAMLSSOServiceIdentityException" name="IdentitySAMLSSOServiceIdentityException" wsaw:Action="urn:authenticateIdentitySAMLSSOServiceIdentityException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="isOpenIDLoginAccepted">
            <wsdl:input message="tns:isOpenIDLoginAcceptedRequest" wsaw:Action="urn:isOpenIDLoginAccepted"></wsdl:input>
            <wsdl:output message="tns:isOpenIDLoginAcceptedResponse" wsaw:Action="urn:isOpenIDLoginAcceptedResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="doSingleLogout">
            <wsdl:input message="tns:doSingleLogoutRequest" wsaw:Action="urn:doSingleLogout"></wsdl:input>
            <wsdl:output message="tns:doSingleLogoutResponse" wsaw:Action="urn:doSingleLogoutResponse"></wsdl:output>
            <wsdl:fault message="tns:IdentitySAMLSSOServiceIdentityException" name="IdentitySAMLSSOServiceIdentityException" wsaw:Action="urn:doSingleLogoutIdentitySAMLSSOServiceIdentityException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="isSAMLSSOLoginAccepted">
            <wsdl:input message="tns:isSAMLSSOLoginAcceptedRequest" wsaw:Action="urn:isSAMLSSOLoginAccepted"></wsdl:input>
            <wsdl:output message="tns:isSAMLSSOLoginAcceptedResponse" wsaw:Action="urn:isSAMLSSOLoginAcceptedResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="validateSPInitSSORequest">
            <wsdl:input message="tns:validateSPInitSSORequestRequest" wsaw:Action="urn:validateSPInitSSORequest"></wsdl:input>
            <wsdl:output message="tns:validateSPInitSSORequestResponse" wsaw:Action="urn:validateSPInitSSORequestResponse"></wsdl:output>
            <wsdl:fault message="tns:IdentitySAMLSSOServiceIdentityException" name="IdentitySAMLSSOServiceIdentityException" wsaw:Action="urn:validateSPInitSSORequestIdentitySAMLSSOServiceIdentityException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="validateIdPInitSSORequest">
            <wsdl:input message="tns:validateIdPInitSSORequestRequest" wsaw:Action="urn:validateIdPInitSSORequest"></wsdl:input>
            <wsdl:output message="tns:validateIdPInitSSORequestResponse" wsaw:Action="urn:validateIdPInitSSORequestResponse"></wsdl:output>
            <wsdl:fault message="tns:IdentitySAMLSSOServiceIdentityException" name="IdentitySAMLSSOServiceIdentityException" wsaw:Action="urn:validateIdPInitSSORequestIdentitySAMLSSOServiceIdentityException"></wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="IdentitySAMLSSOServiceSoap11Binding" type="tns:IdentitySAMLSSOServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
        <wsdl:operation name="authenticate">
            <soap:operation soapAction="urn:authenticate" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="IdentitySAMLSSOServiceIdentityException">
                <soap:fault use="literal" name="IdentitySAMLSSOServiceIdentityException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="isOpenIDLoginAccepted">
            <soap:operation soapAction="urn:isOpenIDLoginAccepted" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="doSingleLogout">
            <soap:operation soapAction="urn:doSingleLogout" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="IdentitySAMLSSOServiceIdentityException">
                <soap:fault use="literal" name="IdentitySAMLSSOServiceIdentityException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="isSAMLSSOLoginAccepted">
            <soap:operation soapAction="urn:isSAMLSSOLoginAccepted" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="validateIdPInitSSORequest">
            <soap:operation soapAction="urn:validateIdPInitSSORequest" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="IdentitySAMLSSOServiceIdentityException">
                <soap:fault use="literal" name="IdentitySAMLSSOServiceIdentityException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="validateSPInitSSORequest">
            <soap:operation soapAction="urn:validateSPInitSSORequest" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="IdentitySAMLSSOServiceIdentityException">
                <soap:fault use="literal" name="IdentitySAMLSSOServiceIdentityException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="IdentitySAMLSSOServiceSoap12Binding" type="tns:IdentitySAMLSSOServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap12:binding>
        <wsdl:operation name="authenticate">
            <soap12:operation soapAction="urn:authenticate" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="IdentitySAMLSSOServiceIdentityException">
                <soap12:fault use="literal" name="IdentitySAMLSSOServiceIdentityException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="isOpenIDLoginAccepted">
            <soap12:operation soapAction="urn:isOpenIDLoginAccepted" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="doSingleLogout">
            <soap12:operation soapAction="urn:doSingleLogout" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="IdentitySAMLSSOServiceIdentityException">
                <soap12:fault use="literal" name="IdentitySAMLSSOServiceIdentityException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="isSAMLSSOLoginAccepted">
            <soap12:operation soapAction="urn:isSAMLSSOLoginAccepted" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="validateIdPInitSSORequest">
            <soap12:operation soapAction="urn:validateIdPInitSSORequest" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="IdentitySAMLSSOServiceIdentityException">
                <soap12:fault use="literal" name="IdentitySAMLSSOServiceIdentityException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="validateSPInitSSORequest">
            <soap12:operation soapAction="urn:validateSPInitSSORequest" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="IdentitySAMLSSOServiceIdentityException">
                <soap12:fault use="literal" name="IdentitySAMLSSOServiceIdentityException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="IdentitySAMLSSOServiceHttpBinding" type="tns:IdentitySAMLSSOServicePortType">
        <http:binding verb="POST"></http:binding>
        <wsdl:operation name="authenticate">
            <http:operation location="authenticate"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="isOpenIDLoginAccepted">
            <http:operation location="isOpenIDLoginAccepted"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="doSingleLogout">
            <http:operation location="doSingleLogout"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="isSAMLSSOLoginAccepted">
            <http:operation location="isSAMLSSOLoginAccepted"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="validateIdPInitSSORequest">
            <http:operation location="validateIdPInitSSORequest"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="validateSPInitSSORequest">
            <http:operation location="validateSPInitSSORequest"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="IdentitySAMLSSOService">
        <wsdl:port name="IdentitySAMLSSOServiceHttpsSoap11Endpoint" binding="tns:IdentitySAMLSSOServiceSoap11Binding">
            <soap:address location="https://localhost:9443/services/IdentitySAMLSSOService.IdentitySAMLSSOServiceHttpsSoap11Endpoint/"></soap:address>
        </wsdl:port>
        <wsdl:port name="IdentitySAMLSSOServiceHttpsSoap12Endpoint" binding="tns:IdentitySAMLSSOServiceSoap12Binding">
            <soap12:address location="https://localhost:9443/services/IdentitySAMLSSOService.IdentitySAMLSSOServiceHttpsSoap12Endpoint/"></soap12:address>
        </wsdl:port>
        <wsdl:port name="IdentitySAMLSSOServiceHttpsEndpoint" binding="tns:IdentitySAMLSSOServiceHttpBinding">
            <http:address location="https://localhost:9443/services/IdentitySAMLSSOService.IdentitySAMLSSOServiceHttpsEndpoint/"></http:address>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>