service-stubs/identity/org.wso2.carbon.identity.sso.saml.stub/src/main/resources/IdentitySAMLSSOConfigService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax2366="http://base.identity.carbon.wso2.org/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ax2368="http://dto.saml.sso.identity.carbon.wso2.org/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://saml.sso.identity.carbon.wso2.org" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://saml.sso.identity.carbon.wso2.org">
    <wsdl:documentation>IdentitySAMLSSOConfigService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax2367="http://base.identity.carbon.wso2.org/xsd" xmlns:ns="http://org.apache.axis2/xsd" xmlns:ax2369="http://dto.saml.sso.identity.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://org.apache.axis2/xsd">
            <xs:import namespace="http://base.identity.carbon.wso2.org/xsd"></xs:import>
            <xs:import namespace="http://dto.saml.sso.identity.carbon.wso2.org/xsd"></xs:import>
            <xs:element name="IdentitySAMLSSOConfigServiceIdentityException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="IdentityException" nillable="true" type="ax2367:IdentityException"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="removeServiceProvider">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="issuer" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="removeServiceProviderResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getServiceProviders">
                <xs:complexType>
                    <xs:sequence></xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getServiceProvidersResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2369:SAMLSSOServiceProviderInfoDTO"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getClaimURIs">
                <xs:complexType>
                    <xs:sequence></xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getClaimURIsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCertAliasOfPrimaryKeyStore">
                <xs:complexType>
                    <xs:sequence></xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCertAliasOfPrimaryKeyStoreResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addRPServiceProvider">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="spDto" nillable="true" type="ax2369:SAMLSSOServiceProviderDTO"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addRPServiceProviderResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dto.saml.sso.identity.carbon.wso2.org/xsd">
            <xs:complexType name="SAMLSSOServiceProviderInfoDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="pubCertFilePath" nillable="true" type="xs:string"></xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="serviceProviders" nillable="true" type="ax2368:SAMLSSOServiceProviderDTO"></xs:element>
                    <xs:element minOccurs="0" name="tenantZero" type="xs:boolean"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SAMLSSOServiceProviderDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="assertionConsumerUrl" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="attributeConsumingServiceIndex" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="certAlias" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="doEnableEncryptedAssertion" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="doSignAssertions" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="doSignResponse" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="doSingleLogout" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="doValidateSignatureInRequests" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="enableAttributeProfile" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="enableAttributesByDefault" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="idPInitSSOEnabled" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="issuer" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="loginPageURL" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="logoutURL" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="nameIDFormat" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="nameIdClaimUri" nillable="true" type="xs:string"></xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="requestedAudiences" nillable="true" type="xs:string"></xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="requestedClaims" nillable="true" type="xs:string"></xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="requestedRecipients" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="useFullyQualifiedUsername" type="xs:boolean"></xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://base.identity.carbon.wso2.org/xsd">
            <xs:complexType name="IdentityException">
                <xs:sequence></xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="removeServiceProviderRequest">
        <wsdl:part name="parameters" element="ns1:removeServiceProvider"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="removeServiceProviderResponse">
        <wsdl:part name="parameters" element="ns1:removeServiceProviderResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="IdentitySAMLSSOConfigServiceIdentityException">
        <wsdl:part name="parameters" element="ns1:IdentitySAMLSSOConfigServiceIdentityException"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getCertAliasOfPrimaryKeyStoreRequest">
        <wsdl:part name="parameters" element="ns1:getCertAliasOfPrimaryKeyStore"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getCertAliasOfPrimaryKeyStoreResponse">
        <wsdl:part name="parameters" element="ns1:getCertAliasOfPrimaryKeyStoreResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getClaimURIsRequest">
        <wsdl:part name="parameters" element="ns1:getClaimURIs"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getClaimURIsResponse">
        <wsdl:part name="parameters" element="ns1:getClaimURIsResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getServiceProvidersRequest">
        <wsdl:part name="parameters" element="ns1:getServiceProviders"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getServiceProvidersResponse">
        <wsdl:part name="parameters" element="ns1:getServiceProvidersResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="addRPServiceProviderRequest">
        <wsdl:part name="parameters" element="ns1:addRPServiceProvider"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="addRPServiceProviderResponse">
        <wsdl:part name="parameters" element="ns1:addRPServiceProviderResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="IdentitySAMLSSOConfigServicePortType">
        <wsdl:operation name="removeServiceProvider">
            <wsdl:input message="tns:removeServiceProviderRequest" wsaw:Action="urn:removeServiceProvider"></wsdl:input>
            <wsdl:output message="tns:removeServiceProviderResponse" wsaw:Action="urn:removeServiceProviderResponse"></wsdl:output>
            <wsdl:fault message="tns:IdentitySAMLSSOConfigServiceIdentityException" name="IdentitySAMLSSOConfigServiceIdentityException" wsaw:Action="urn:removeServiceProviderIdentitySAMLSSOConfigServiceIdentityException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getCertAliasOfPrimaryKeyStore">
            <wsdl:input message="tns:getCertAliasOfPrimaryKeyStoreRequest" wsaw:Action="urn:getCertAliasOfPrimaryKeyStore"></wsdl:input>
            <wsdl:output message="tns:getCertAliasOfPrimaryKeyStoreResponse" wsaw:Action="urn:getCertAliasOfPrimaryKeyStoreResponse"></wsdl:output>
            <wsdl:fault message="tns:IdentitySAMLSSOConfigServiceIdentityException" name="IdentitySAMLSSOConfigServiceIdentityException" wsaw:Action="urn:getCertAliasOfPrimaryKeyStoreIdentitySAMLSSOConfigServiceIdentityException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getClaimURIs">
            <wsdl:input message="tns:getClaimURIsRequest" wsaw:Action="urn:getClaimURIs"></wsdl:input>
            <wsdl:output message="tns:getClaimURIsResponse" wsaw:Action="urn:getClaimURIsResponse"></wsdl:output>
            <wsdl:fault message="tns:IdentitySAMLSSOConfigServiceIdentityException" name="IdentitySAMLSSOConfigServiceIdentityException" wsaw:Action="urn:getClaimURIsIdentitySAMLSSOConfigServiceIdentityException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getServiceProviders">
            <wsdl:input message="tns:getServiceProvidersRequest" wsaw:Action="urn:getServiceProviders"></wsdl:input>
            <wsdl:output message="tns:getServiceProvidersResponse" wsaw:Action="urn:getServiceProvidersResponse"></wsdl:output>
            <wsdl:fault message="tns:IdentitySAMLSSOConfigServiceIdentityException" name="IdentitySAMLSSOConfigServiceIdentityException" wsaw:Action="urn:getServiceProvidersIdentitySAMLSSOConfigServiceIdentityException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addRPServiceProvider">
            <wsdl:input message="tns:addRPServiceProviderRequest" wsaw:Action="urn:addRPServiceProvider"></wsdl:input>
            <wsdl:output message="tns:addRPServiceProviderResponse" wsaw:Action="urn:addRPServiceProviderResponse"></wsdl:output>
            <wsdl:fault message="tns:IdentitySAMLSSOConfigServiceIdentityException" name="IdentitySAMLSSOConfigServiceIdentityException" wsaw:Action="urn:addRPServiceProviderIdentitySAMLSSOConfigServiceIdentityException"></wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="IdentitySAMLSSOConfigServiceSoap11Binding" type="tns:IdentitySAMLSSOConfigServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
        <wsdl:operation name="getCertAliasOfPrimaryKeyStore">
            <soap:operation soapAction="urn:getCertAliasOfPrimaryKeyStore" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="IdentitySAMLSSOConfigServiceIdentityException">
                <soap:fault use="literal" name="IdentitySAMLSSOConfigServiceIdentityException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="removeServiceProvider">
            <soap:operation soapAction="urn:removeServiceProvider" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="IdentitySAMLSSOConfigServiceIdentityException">
                <soap:fault use="literal" name="IdentitySAMLSSOConfigServiceIdentityException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getClaimURIs">
            <soap:operation soapAction="urn:getClaimURIs" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="IdentitySAMLSSOConfigServiceIdentityException">
                <soap:fault use="literal" name="IdentitySAMLSSOConfigServiceIdentityException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getServiceProviders">
            <soap:operation soapAction="urn:getServiceProviders" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="IdentitySAMLSSOConfigServiceIdentityException">
                <soap:fault use="literal" name="IdentitySAMLSSOConfigServiceIdentityException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addRPServiceProvider">
            <soap:operation soapAction="urn:addRPServiceProvider" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="IdentitySAMLSSOConfigServiceIdentityException">
                <soap:fault use="literal" name="IdentitySAMLSSOConfigServiceIdentityException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="IdentitySAMLSSOConfigServiceSoap12Binding" type="tns:IdentitySAMLSSOConfigServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap12:binding>
        <wsdl:operation name="getCertAliasOfPrimaryKeyStore">
            <soap12:operation soapAction="urn:getCertAliasOfPrimaryKeyStore" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="IdentitySAMLSSOConfigServiceIdentityException">
                <soap12:fault use="literal" name="IdentitySAMLSSOConfigServiceIdentityException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="removeServiceProvider">
            <soap12:operation soapAction="urn:removeServiceProvider" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="IdentitySAMLSSOConfigServiceIdentityException">
                <soap12:fault use="literal" name="IdentitySAMLSSOConfigServiceIdentityException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getClaimURIs">
            <soap12:operation soapAction="urn:getClaimURIs" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="IdentitySAMLSSOConfigServiceIdentityException">
                <soap12:fault use="literal" name="IdentitySAMLSSOConfigServiceIdentityException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getServiceProviders">
            <soap12:operation soapAction="urn:getServiceProviders" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="IdentitySAMLSSOConfigServiceIdentityException">
                <soap12:fault use="literal" name="IdentitySAMLSSOConfigServiceIdentityException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addRPServiceProvider">
            <soap12:operation soapAction="urn:addRPServiceProvider" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="IdentitySAMLSSOConfigServiceIdentityException">
                <soap12:fault use="literal" name="IdentitySAMLSSOConfigServiceIdentityException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="IdentitySAMLSSOConfigServiceHttpBinding" type="tns:IdentitySAMLSSOConfigServicePortType">
        <http:binding verb="POST"></http:binding>
        <wsdl:operation name="getCertAliasOfPrimaryKeyStore">
            <http:operation location="getCertAliasOfPrimaryKeyStore"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="removeServiceProvider">
            <http:operation location="removeServiceProvider"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getClaimURIs">
            <http:operation location="getClaimURIs"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getServiceProviders">
            <http:operation location="getServiceProviders"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addRPServiceProvider">
            <http:operation location="addRPServiceProvider"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="IdentitySAMLSSOConfigService">
        <wsdl:port name="IdentitySAMLSSOConfigServiceHttpsSoap11Endpoint" binding="tns:IdentitySAMLSSOConfigServiceSoap11Binding">
            <soap:address location="https://localhost:9443/services/IdentitySAMLSSOConfigService.IdentitySAMLSSOConfigServiceHttpsSoap11Endpoint/"></soap:address>
        </wsdl:port>
        <wsdl:port name="IdentitySAMLSSOConfigServiceHttpsSoap12Endpoint" binding="tns:IdentitySAMLSSOConfigServiceSoap12Binding">
            <soap12:address location="https://localhost:9443/services/IdentitySAMLSSOConfigService.IdentitySAMLSSOConfigServiceHttpsSoap12Endpoint/"></soap12:address>
        </wsdl:port>
        <wsdl:port name="IdentitySAMLSSOConfigServiceHttpsEndpoint" binding="tns:IdentitySAMLSSOConfigServiceHttpBinding">
            <http:address location="https://localhost:9443/services/IdentitySAMLSSOConfigService.IdentitySAMLSSOConfigServiceHttpsEndpoint/"></http:address>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>