components/provisioning/org.wso2.carbon.identity.provisioning.connector.spml/src/main/resources/spmlHeader.xsd.xml

<?xml version="1.0" encoding="UTF-8"?>
<!--
 ~ Copyright (c) 2010, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
 ~
 ~ WSO2 Inc. licenses this file to you under the Apache License,
 ~ Version 2.0 (the "License"); you may not use this file except
 ~ in compliance with the License.
 ~ You may obtain a copy of the License at
 ~
 ~    http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing,
 ~ software distributed under the License is distributed on an
 ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~ KIND, either express or implied.  See the License for the
 ~ specific language governing permissions and limitations
 ~ under the License.
 -->
<xs:schema 
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
    xmlns:wh="urn:oasis:names:tc:ws:header:1:0"
    targetNamespace="urn:oasis:names:tc:ws:header:1:0">            
    <xs:import namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
         schemaLocation=" http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd " />
    <xs:complexType name="serviceHeaderType">
        <xs:sequence>
            <xs:element  ref="wsse:Security" />
            <xs:element name="serviceId"  type="xs:string" />
    <xs:any namespace="##other" minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>	
    <xs:element name="ServiceHeader" type="wh:serviceHeaderType"  />
</xs:schema >
