components/provisioning/org.wso2.carbon.identity.provisioning.connector.spml/src/main/resources/spml.wsdl.xml

<?xml version="1.0" encoding="UTF-8"?>
<!--
 ~ Copyright (c) 2010, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
 ~
 ~ WSO2 Inc. licenses this file to you under the Apache License,
 ~ Version 2.0 (the "License"); you may not use this file except
 ~ in compliance with the License.
 ~ You may obtain a copy of the License at
 ~
 ~    http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing,
 ~ software distributed under the License is distributed on an
 ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~ KIND, either express or implied.  See the License for the
 ~ specific language governing permissions and limitations
 ~ under the License.
 -->
<wsdl:definitions xmlns:xs="http://www.w3.org/2001/XMLSchema"

	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"

	xmlns:soap-env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:wsco="urn:names:spml20:ws:core"
	xmlns:spml="urn:oasis:names:tc:SPML:2:0" xmlns:wsh="urn:names:spml:ws:header"
	targetNamespace="urn:names:spml20:ws:core">

	<wsdl:types>

		<xs:schema>

			<xs:import namespace="urn:oasis:names:tc:SPML:2:0"
				schemaLocation="spmlv2.xsd.xml" />

		</xs:schema>

	</wsdl:types>

	<wsdl:message name="SPMLAddRequestMessage">

		<wsdl:part name="body" element="spml:addRequest"></wsdl:part>

	</wsdl:message>

	<wsdl:message name="SPMLAddResponseMessage">

		<wsdl:part name="body" element="spml:addResponse"></wsdl:part>

	</wsdl:message>

	<wsdl:message name="SPMLModifyRequestMessage">

		<wsdl:part name="body" element="spml:modifyRequest"></wsdl:part>

	</wsdl:message>

	<wsdl:message name="SPMLModifyResponseMessage">

		<wsdl:part name="body" element="spml:modifyResponse"></wsdl:part>

	</wsdl:message>

	<wsdl:message name="SPMLDeleteRequestMessage">

		<wsdl:part name="body" element="spml:deleteRequest"></wsdl:part>

	</wsdl:message>

	<wsdl:message name="SPMLDeleteResponseMessage">

		<wsdl:part name="body" element="spml:deleteResponse"></wsdl:part>

	</wsdl:message>

	<wsdl:message name="SPMLLookupRequestMessage">

		<wsdl:part name="body" element="spml:lookupRequest"></wsdl:part>

	</wsdl:message>

	<wsdl:message name="SPMLLookupResponseMessage">

		<wsdl:part name="body" element="spml:lookupResponse"></wsdl:part>

	</wsdl:message>

	<wsdl:message name="SPMLListTargetsRequestMessage">

		<wsdl:part name="body" element="spml:listTargetsRequest"></wsdl:part>

	</wsdl:message>

	<wsdl:message name="SPMLListTargetsResponseMessage">

		<wsdl:part name="body" element="spml:listTargetsResponse"></wsdl:part>

	</wsdl:message>

	<wsdl:message name="ServiceHeader">

		<wsdl:part name="ServiceHeader" element="wsh:ServiceHeader"></wsdl:part>

	</wsdl:message>

	<wsdl:message name="SPMLFault">

		<wsdl:part name="SPMLFault" element="soap-env:Fault"></wsdl:part>

	</wsdl:message>



	<wsdl:portType name="SPMLCoreRequestPortType">

		<wsdl:operation name="SPMLAddRequest">

			<wsdl:input name="SPMLAddRequestInput" message="wsco:SPMLAddRequestMessage"></wsdl:input>

			<wsdl:output name="SPMLAddRequestOutput" message="wsco:SPMLAddResponseMessage"></wsdl:output>

			<wsdl:fault name="Fault" message="wsco:SPMLFault"></wsdl:fault>

		</wsdl:operation>

		<wsdl:operation name="SPMLModifyRequest">

			<wsdl:input name="SPMLModifyRequestInput" message="wsco:SPMLModifyRequestMessage"></wsdl:input>

			<wsdl:output name="SPMLModifyRequestOutput" message="wsco:SPMLModifyResponseMessage"></wsdl:output>

			<wsdl:fault name="Fault" message="wsco:SPMLFault"></wsdl:fault>

		</wsdl:operation>

		<wsdl:operation name="SPMLDeleteRequest">

			<wsdl:input name="SPMLDeleteRequestInput" message="wsco:SPMLDeleteRequestMessage"></wsdl:input>

			<wsdl:output name="SPMLDeleteRequestOutput" message="wsco:SPMLDeleteResponseMessage"></wsdl:output>

			<wsdl:fault name="Fault" message="wsco:SPMLFault"></wsdl:fault>

		</wsdl:operation>

		<wsdl:operation name="SPMLListTargetsRequest">

			<wsdl:input name="SPMLListTargetsRequestInput" message="wsco:SPMLListTargetsRequestMessage"></wsdl:input>

			<wsdl:output name="SPMLListTargetsRequestOutput" message="wsco:SPMLListTargetsResponseMessage"></wsdl:output>

			<wsdl:fault name="Fault" message="wsco:SPMLFault"></wsdl:fault>

		</wsdl:operation>

	</wsdl:portType>

	<wsdl:binding name="SPMLCoreSoapBinding" type="wsco:SPMLCoreRequestPortType">

		<soap:binding style="document"

			transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>

		<wsdl:operation name="SPMLAddRequest">

			<soap:operation style="document"></soap:operation>

			<wsdl:input name="SPMLAddRequestInput">

				<soap:header message="wsco:ServiceHeader" part="ServiceHeader"
					use="literal"></soap:header>

				<soap:body use="literal"></soap:body>

			</wsdl:input>

			<wsdl:output name="SPMLAddRequestOutput">

				<soap:body use="literal"></soap:body>

			</wsdl:output>

			<wsdl:fault name="RequestFault">

				<soap:fault name="RequestFault" use="literal"></soap:fault>

			</wsdl:fault>

		</wsdl:operation>

		<wsdl:operation name="SPMLModifyRequest">

			<soap:operation style="document"></soap:operation>

			<wsdl:input name="SPMLModifyRequestInput">

				<soap:header message="wsco:ServiceHeader" part="ServiceHeader"
					use="literal"></soap:header>

				<soap:body use="literal"></soap:body>

			</wsdl:input>

			<wsdl:output name="SPMLModifyRequestOutput">

				<soap:body use="literal"></soap:body>

			</wsdl:output>

			<wsdl:fault name="RequestFault">

				<soap:fault name="RequestFault" use="literal"></soap:fault>

			</wsdl:fault>

		</wsdl:operation>

		<wsdl:operation name="SPMLDeleteRequest">

			<soap:operation style="document"></soap:operation>

			<wsdl:input name="SPMLDeleteRequestInput">

				<soap:header message="wsco:ServiceHeader" part="ServiceHeader"
					use="literal"></soap:header>

				<soap:body use="literal"></soap:body>

			</wsdl:input>

			<wsdl:output name="SPMLDeleteRequestOutput">

				<soap:body use="literal"></soap:body>

			</wsdl:output>

			<wsdl:fault name="RequestFault">

				<soap:fault name="RequestFault" use="literal"></soap:fault>

			</wsdl:fault>

		</wsdl:operation>

		<wsdl:operation name="SPMLListTargetsRequest">

			<soap:operation style="document"></soap:operation>

			<wsdl:input name="SPMLListTargetsRequestInput">

				<soap:header message="wsco:ServiceHeader" part="ServiceHeader"
					use="literal"></soap:header>

				<soap:body use="literal"></soap:body>

			</wsdl:input>

			<wsdl:output name="SPMLListTargetsRequestOutput">

				<soap:body use="literal"></soap:body>

			</wsdl:output>

			<wsdl:fault name="RequestFault">

				<soap:fault name="RequestFault" use="literal"></soap:fault>

			</wsdl:fault>

		</wsdl:operation>

	</wsdl:binding>

	<wsdl:service name="SPMLPasswordService">

		<wsdl:port name="SPMLCoreServiceProviderSoap" binding="wsco:SPMLCoreSoapBinding">

			<soap:address location="http://..."></soap:address>

		</wsdl:port>

	</wsdl:service>

</wsdl:definitions>