components/identity/org.wso2.carbon.identity.samples.oauth/src/main/resources/OAuthAdminService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:tns="http://oauth.identity.carbon.wso2.org" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax2197="http://dto.oauth.identity.carbon.wso2.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://oauth.identity.carbon.wso2.org">
    <wsdl:documentation>OAuthAdminService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax2198="http://dto.oauth.identity.carbon.wso2.org/xsd" xmlns:ns="http://org.apache.axis2/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://org.apache.axis2/xsd">
            <xs:import namespace="http://dto.oauth.identity.carbon.wso2.org/xsd" />
            <xs:element name="OAuthAdminServiceException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="OAuthAdminServiceException" nillable="true" type="ns1:Exception" />

                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="updateConsumerApplication">

                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="consumerAppDTO" nillable="true" type="ax2198:OAuthConsumerAppDTO" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="removeOAuthApplicationData">
                <xs:complexType>
                    <xs:sequence>

                        <xs:element minOccurs="0" name="consumerKey" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="registerOAuthConsumer">
                <xs:complexType>
                    <xs:sequence />
                </xs:complexType>
            </xs:element>

            <xs:element name="registerOAuthConsumerResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="registerOAuthApplicationData">
                <xs:complexType>

                    <xs:sequence>
                        <xs:element minOccurs="0" name="application" nillable="true" type="ax2198:OAuthConsumerAppDTO" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getOAuthApplicationData">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="consumerKey" nillable="true" type="xs:string" />

                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getOAuthApplicationDataResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2198:OAuthConsumerAppDTO" />
                    </xs:sequence>
                </xs:complexType>

            </xs:element>
            <xs:element name="getAllOAuthApplicationData">
                <xs:complexType>
                    <xs:sequence />
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllOAuthApplicationDataResponse">
                <xs:complexType>
                    <xs:sequence>

                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2198:OAuthConsumerAppDTO" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dto.oauth.identity.carbon.wso2.org/xsd">
            <xs:complexType name="OAuthConsumerAppDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="OAuthVersion" nillable="true" type="xs:string" />

                    <xs:element minOccurs="0" name="applicationName" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="callbackUrl" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="oauthConsumerKey" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="oauthConsumerSecret" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="registerOAuthConsumerRequest">

        <wsdl:part name="parameters" element="ns1:registerOAuthConsumer" />
    </wsdl:message>
    <wsdl:message name="registerOAuthConsumerResponse">
        <wsdl:part name="parameters" element="ns1:registerOAuthConsumerResponse" />
    </wsdl:message>
    <wsdl:message name="OAuthAdminServiceException">
        <wsdl:part name="parameters" element="ns1:OAuthAdminServiceException" />
    </wsdl:message>
    <wsdl:message name="getOAuthApplicationDataRequest">

        <wsdl:part name="parameters" element="ns1:getOAuthApplicationData" />
    </wsdl:message>
    <wsdl:message name="getOAuthApplicationDataResponse">
        <wsdl:part name="parameters" element="ns1:getOAuthApplicationDataResponse" />
    </wsdl:message>
    <wsdl:message name="updateConsumerApplicationRequest">
        <wsdl:part name="parameters" element="ns1:updateConsumerApplication" />
    </wsdl:message>
    <wsdl:message name="getAllOAuthApplicationDataRequest">

        <wsdl:part name="parameters" element="ns1:getAllOAuthApplicationData" />
    </wsdl:message>
    <wsdl:message name="getAllOAuthApplicationDataResponse">
        <wsdl:part name="parameters" element="ns1:getAllOAuthApplicationDataResponse" />
    </wsdl:message>
    <wsdl:message name="removeOAuthApplicationDataRequest">
        <wsdl:part name="parameters" element="ns1:removeOAuthApplicationData" />
    </wsdl:message>
    <wsdl:message name="registerOAuthApplicationDataRequest">

        <wsdl:part name="parameters" element="ns1:registerOAuthApplicationData" />
    </wsdl:message>
    <wsdl:portType name="OAuthAdminServicePortType">
        <wsdl:operation name="registerOAuthConsumer">
            <wsdl:input message="tns:registerOAuthConsumerRequest" wsaw:Action="urn:registerOAuthConsumer" />
            <wsdl:output message="tns:registerOAuthConsumerResponse" wsaw:Action="urn:registerOAuthConsumerResponse" />
            <wsdl:fault message="tns:OAuthAdminServiceException" name="OAuthAdminServiceException" wsaw:Action="urn:registerOAuthConsumerOAuthAdminServiceException" />
        </wsdl:operation>
        <wsdl:operation name="getOAuthApplicationData">

            <wsdl:input message="tns:getOAuthApplicationDataRequest" wsaw:Action="urn:getOAuthApplicationData" />
            <wsdl:output message="tns:getOAuthApplicationDataResponse" wsaw:Action="urn:getOAuthApplicationDataResponse" />
            <wsdl:fault message="tns:OAuthAdminServiceException" name="OAuthAdminServiceException" wsaw:Action="urn:getOAuthApplicationDataOAuthAdminServiceException" />
        </wsdl:operation>
        <wsdl:operation name="updateConsumerApplication">
            <wsdl:input message="tns:updateConsumerApplicationRequest" wsaw:Action="urn:updateConsumerApplication" />
            <wsdl:fault message="tns:OAuthAdminServiceException" name="OAuthAdminServiceException" wsaw:Action="urn:updateConsumerApplicationOAuthAdminServiceException" />
        </wsdl:operation>
        <wsdl:operation name="getAllOAuthApplicationData">

            <wsdl:input message="tns:getAllOAuthApplicationDataRequest" wsaw:Action="urn:getAllOAuthApplicationData" />
            <wsdl:output message="tns:getAllOAuthApplicationDataResponse" wsaw:Action="urn:getAllOAuthApplicationDataResponse" />
            <wsdl:fault message="tns:OAuthAdminServiceException" name="OAuthAdminServiceException" wsaw:Action="urn:getAllOAuthApplicationDataOAuthAdminServiceException" />
        </wsdl:operation>
        <wsdl:operation name="removeOAuthApplicationData">
            <wsdl:input message="tns:removeOAuthApplicationDataRequest" wsaw:Action="urn:removeOAuthApplicationData" />
            <wsdl:fault message="tns:OAuthAdminServiceException" name="OAuthAdminServiceException" wsaw:Action="urn:removeOAuthApplicationDataOAuthAdminServiceException" />
        </wsdl:operation>
        <wsdl:operation name="registerOAuthApplicationData">

            <wsdl:input message="tns:registerOAuthApplicationDataRequest" wsaw:Action="urn:registerOAuthApplicationData" />
            <wsdl:fault message="tns:OAuthAdminServiceException" name="OAuthAdminServiceException" wsaw:Action="urn:registerOAuthApplicationDataOAuthAdminServiceException" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="OAuthAdminServiceSoap11Binding" type="tns:OAuthAdminServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="registerOAuthConsumer">
            <soap:operation soapAction="urn:registerOAuthConsumer" style="document" />
            <wsdl:input>

                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="OAuthAdminServiceException">
                <soap:fault use="literal" name="OAuthAdminServiceException" />
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="getOAuthApplicationData">
            <soap:operation soapAction="urn:getOAuthApplicationData" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="OAuthAdminServiceException">

                <soap:fault use="literal" name="OAuthAdminServiceException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateConsumerApplication">
            <soap:operation soapAction="urn:updateConsumerApplication" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="OAuthAdminServiceException">

                <soap:fault use="literal" name="OAuthAdminServiceException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllOAuthApplicationData">
            <soap:operation soapAction="urn:getAllOAuthApplicationData" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>

                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="OAuthAdminServiceException">
                <soap:fault use="literal" name="OAuthAdminServiceException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="removeOAuthApplicationData">
            <soap:operation soapAction="urn:removeOAuthApplicationData" style="document" />
            <wsdl:input>

                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="OAuthAdminServiceException">
                <soap:fault use="literal" name="OAuthAdminServiceException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="registerOAuthApplicationData">
            <soap:operation soapAction="urn:registerOAuthApplicationData" style="document" />
            <wsdl:input>

                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="OAuthAdminServiceException">
                <soap:fault use="literal" name="OAuthAdminServiceException" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="OAuthAdminServiceSoap12Binding" type="tns:OAuthAdminServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />

        <wsdl:operation name="registerOAuthConsumer">
            <soap12:operation soapAction="urn:registerOAuthConsumer" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="OAuthAdminServiceException">

                <soap12:fault use="literal" name="OAuthAdminServiceException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getOAuthApplicationData">
            <soap12:operation soapAction="urn:getOAuthApplicationData" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>

                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="OAuthAdminServiceException">
                <soap12:fault use="literal" name="OAuthAdminServiceException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateConsumerApplication">
            <soap12:operation soapAction="urn:updateConsumerApplication" style="document" />
            <wsdl:input>

                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="OAuthAdminServiceException">
                <soap12:fault use="literal" name="OAuthAdminServiceException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllOAuthApplicationData">
            <soap12:operation soapAction="urn:getAllOAuthApplicationData" style="document" />
            <wsdl:input>

                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="OAuthAdminServiceException">
                <soap12:fault use="literal" name="OAuthAdminServiceException" />
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="removeOAuthApplicationData">
            <soap12:operation soapAction="urn:removeOAuthApplicationData" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="OAuthAdminServiceException">
                <soap12:fault use="literal" name="OAuthAdminServiceException" />
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="registerOAuthApplicationData">
            <soap12:operation soapAction="urn:registerOAuthApplicationData" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="OAuthAdminServiceException">
                <soap12:fault use="literal" name="OAuthAdminServiceException" />
            </wsdl:fault>
        </wsdl:operation>

    </wsdl:binding>
    <wsdl:binding name="OAuthAdminServiceHttpBinding" type="tns:OAuthAdminServicePortType">
        <http:binding verb="POST" />
        <wsdl:operation name="registerOAuthConsumer">
            <http:operation location="registerOAuthConsumer" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>

                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getOAuthApplicationData">
            <http:operation location="getOAuthApplicationData" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>

                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateConsumerApplication">
            <http:operation location="updateConsumerApplication" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
        </wsdl:operation>

        <wsdl:operation name="getAllOAuthApplicationData">
            <http:operation location="getAllOAuthApplicationData" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="removeOAuthApplicationData">
            <http:operation location="removeOAuthApplicationData" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="registerOAuthApplicationData">
            <http:operation location="registerOAuthApplicationData" />
            <wsdl:input>

                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="OAuthAdminService">
        <wsdl:port name="OAuthAdminServiceHttpsSoap11Endpoint" binding="tns:OAuthAdminServiceSoap11Binding">
            <soap:address location="https://localhost:9443/services/OAuthAdminService.OAuthAdminServiceHttpsSoap11Endpoint/" />
        </wsdl:port>
        <wsdl:port name="OAuthAdminServiceHttpsSoap12Endpoint" binding="tns:OAuthAdminServiceSoap12Binding">

            <soap12:address location="https://localhost:9443/services/OAuthAdminService.OAuthAdminServiceHttpsSoap12Endpoint/" />
        </wsdl:port>
        <wsdl:port name="OAuthAdminServiceHttpsEndpoint" binding="tns:OAuthAdminServiceHttpBinding">
            <http:address location="https://localhost:9443/services/OAuthAdminService.OAuthAdminServiceHttpsEndpoint/" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>