components/sts/org.wso2.carbon.identity.sts/src/main/resources/META-INF/service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2015, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
  ~
  ~  WSO2 Inc. licenses this file to you under the Apache License,
  ~  Version 2.0 (the "License"); you may not use this file except
  ~  in compliance with the License.
  ~  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:wst='http://schemas.xmlsoap.org/ws/2005/02/trust'
                  xmlns:tns="http://ws.apache.org/axis2"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  targetNamespace="http://ws.apache.org/axis2">
    <wsdl:documentation>wso2carbon-sts</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema'
                   xmlns:wst='http://schemas.xmlsoap.org/ws/2005/02/trust'
                   targetNamespace='http://schemas.xmlsoap.org/ws/2005/02/trust'
                   elementFormDefault='qualified'>
            <xs:element name='RequestSecurityToken' type='wst:RequestSecurityTokenType'/>
            <xs:complexType name='RequestSecurityTokenType'>
                <xs:sequence>
                    <xs:any namespace='##any' processContents='lax' minOccurs='0' maxOccurs='unbounded'/>
                </xs:sequence>
                <xs:anyAttribute namespace='##other' processContents='lax'/>
            </xs:complexType>

            <xs:element name='RequestSecurityTokenResponse' type='wst:RequestSecurityTokenResponseType'/>
            <xs:complexType name='RequestSecurityTokenResponseType'>
                <xs:sequence>
                    <xs:any namespace='##any' processContents='lax' minOccurs='0' maxOccurs='unbounded'/>
                </xs:sequence>
                <xs:anyAttribute namespace='##other' processContents='lax'/>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="RequestSecurityTokenMsg">
        <wsdl:part name="parameters" element="wst:RequestSecurityToken"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="RequestSecurityTokenResponseMsg">
        <wsdl:part name="parameters" element="wst:RequestSecurityTokenResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="wso2carbon-stsPortType">
        <wsdl:operation name="IssueToken">
            <wsdl:input message="tns:RequestSecurityTokenMsg"
                        wsaw:Action="http://schemas.xmlsoap.org/ws/2005/02/trust/RST/Issue"/>
            <wsdl:output message="tns:RequestSecurityTokenResponseMsg" wsaw:Action="urn:IssueTokenResponse"/>
        </wsdl:operation>
        <wsdl:operation name="CancelToken">
            <wsdl:input message="tns:RequestSecurityTokenMsg"
                        wsaw:Action="http://schemas.xmlsoap.org/ws/2005/02/trust/RST/Cancel"/>
            <wsdl:output message="tns:RequestSecurityTokenResponseMsg" wsaw:Action="urn:CancelTokenResponse"/>
        </wsdl:operation>
        <wsdl:operation name="RenewToken">
            <wsdl:input message="tns:RequestSecurityTokenMsg"
                        wsaw:Action="http://schemas.xmlsoap.org/ws/2005/02/trust/RST/Renew"/>
            <wsdl:output message="tns:RequestSecurityTokenResponseMsg" wsaw:Action="urn:RenewTokenResponse"/>
        </wsdl:operation>
        <wsdl:operation name="ValidateToken">
            <wsdl:input message="tns:RequestSecurityTokenMsg"
                        wsaw:Action="http://schemas.xmlsoap.org/ws/2005/02/trust/RST/Validate"/>
            <wsdl:output message="tns:RequestSecurityTokenResponseMsg" wsaw:Action="urn:ValidateTokenResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="wso2carbon-stsSoap11Binding" type="tns:wso2carbon-stsPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="IssueToken">
            <soap:operation soapAction="http://schemas.xmlsoap.org/ws/2005/02/trust/RST/Issue" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="CancelToken">
            <soap:operation soapAction="http://schemas.xmlsoap.org/ws/2005/02/trust/RST/Cancel" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="RenewToken">
            <soap:operation soapAction="http://schemas.xmlsoap.org/ws/2005/02/trust/RST/Renew" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ValidateToken">
            <soap:operation soapAction="http://schemas.xmlsoap.org/ws/2005/02/trust/RST/Validate" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="wso2carbon-stsSoap12Binding" type="tns:wso2carbon-stsPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="IssueToken">
            <soap12:operation soapAction="http://schemas.xmlsoap.org/ws/2005/02/trust/RST/Issue" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="CancelToken">
            <soap12:operation soapAction="http://schemas.xmlsoap.org/ws/2005/02/trust/RST/Cancel" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="RenewToken">
            <soap12:operation soapAction="http://schemas.xmlsoap.org/ws/2005/02/trust/RST/Renew" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ValidateToken">
            <soap12:operation soapAction="http://schemas.xmlsoap.org/ws/2005/02/trust/RST/Validate" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="wso2carbon-sts">
        <wsdl:port name="wso2carbon-stsHttpsSoap11Endpoint" binding="tns:wso2carbon-stsSoap11Binding">
            <soap:address location="https://localhost:9443/services/wso2carbon-sts.wso2carbon-stsHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="wso2carbon-stsHttpsSoap12Endpoint" binding="tns:wso2carbon-stsSoap12Binding">
            <soap12:address
                    location="https://localhost:9443/services/wso2carbon-sts.wso2carbon-stsHttpsSoap12Endpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>