components/sts/org.wso2.carbon.identity.sts.mgt.ui/src/main/resources/IdentitySTSAdminService.wsdl

<!--
 ~ Copyright (c) 2005-2010, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
 ~
 ~ WSO2 Inc. licenses this file to you under the Apache License,
 ~ Version 2.0 (the "License"); you may not use this file except
 ~ in compliance with the License.
 ~ You may obtain a copy of the License at
 ~
 ~    http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing,
 ~ software distributed under the License is distributed on an
 ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~ KIND, either express or implied.  See the License for the
 ~ specific language governing permissions and limitations
 ~ under the License.
 -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:axis2="http://mgt.sts.identity.carbon.wso2.org" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ax26="http://dto.mgt.sts.identity.carbon.wso2.org/xsd" targetNamespace="http://mgt.sts.identity.carbon.wso2.org">
    <wsdl:documentation>IdentitySTSAdminService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ns="http://org.apache.axis2/xsd" attributeFormDefault="qualified"
                   elementFormDefault="qualified" targetNamespace="http://org.apache.axis2/xsd">
    <xs:import namespace="http://dto.mgt.sts.identity.carbon.wso2.org/xsd" />
    <xs:complexType name="Exception">
        <xs:all>
            <xs:element minOccurs="0" name="Exception" nillable="true" type="xs:anyType" />
        </xs:all>
    </xs:complexType>
    <xs:element name="Exception">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="Exception" nillable="true" type="ns:Exception" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="readCardIssuerConfigurationResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="return" nillable="true" type="ax26:CardIssuerDTO" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="updateCardIssueConfiguration">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="issuer" nillable="true" type="ax26:CardIssuerDTO" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dto.mgt.sts.identity.carbon.wso2.org/xsd">
    <xs:complexType name="CardIssuerDTO">
        <xs:all>
            <xs:element minOccurs="0" name="cardName" nillable="true" type="xs:string" />
            <xs:element maxOccurs="unbounded" minOccurs="0" name="supportedTokenTypes" nillable="true" type="ax26:CardIssuerTokenDTO" />
            <xs:element minOccurs="0" name="symmetricBinding" type="xs:boolean" />
            <xs:element minOccurs="0" name="validPeriodInDays" type="xs:int" />
        </xs:all>
    </xs:complexType>
    <xs:complexType name="CardIssuerTokenDTO">
        <xs:all>
            <xs:element minOccurs="0" name="supported" type="xs:boolean" />
            <xs:element minOccurs="0" name="tokenType" nillable="true" type="xs:string" />
        </xs:all>
    </xs:complexType>
</xs:schema>
    </wsdl:types>
    <wsdl:message name="readCardIssuerConfigurationRequest" />
    <wsdl:message name="readCardIssuerConfigurationResponse">
        <wsdl:part name="parameters" element="ns1:readCardIssuerConfigurationResponse" />
    </wsdl:message>
    <wsdl:message name="Exception">
        <wsdl:part name="parameters" element="ns1:Exception" />
    </wsdl:message>
    <wsdl:message name="updateCardIssueConfigurationRequest">
        <wsdl:part name="parameters" element="ns1:updateCardIssueConfiguration" />
    </wsdl:message>
    <wsdl:portType name="IdentitySTSAdminServicePortType">
        <wsdl:operation name="readCardIssuerConfiguration">
            <wsdl:input message="axis2:readCardIssuerConfigurationRequest" wsaw:Action="urn:readCardIssuerConfiguration" />
            <wsdl:output message="axis2:readCardIssuerConfigurationResponse" wsaw:Action="urn:readCardIssuerConfigurationResponse" />
            <wsdl:fault message="axis2:Exception" name="Exception" wsaw:Action="urn:readCardIssuerConfigurationException" />
        </wsdl:operation>
        <wsdl:operation name="updateCardIssueConfiguration">
            <wsdl:input message="axis2:updateCardIssueConfigurationRequest" wsaw:Action="urn:updateCardIssueConfiguration" />
            <wsdl:fault message="axis2:Exception" name="Exception" wsaw:Action="urn:updateCardIssueConfigurationException" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="IdentitySTSAdminServiceSoap11Binding" type="axis2:IdentitySTSAdminServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="readCardIssuerConfiguration">
            <soap:operation soapAction="urn:readCardIssuerConfiguration" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateCardIssueConfiguration">
            <soap:operation soapAction="urn:updateCardIssueConfiguration" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="IdentitySTSAdminServiceSoap12Binding" type="axis2:IdentitySTSAdminServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="readCardIssuerConfiguration">
            <soap12:operation soapAction="urn:readCardIssuerConfiguration" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateCardIssueConfiguration">
            <soap12:operation soapAction="urn:updateCardIssueConfiguration" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="IdentitySTSAdminServiceHttpBinding" type="axis2:IdentitySTSAdminServicePortType">
        <http:binding verb="POST" />
        <wsdl:operation name="readCardIssuerConfiguration">
            <http:operation location="IdentitySTSAdminService/readCardIssuerConfiguration" />
            <wsdl:input>
                <mime:content type="text/xml" part="readCardIssuerConfiguration" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="readCardIssuerConfiguration" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateCardIssueConfiguration">
            <http:operation location="IdentitySTSAdminService/updateCardIssueConfiguration" />
            <wsdl:input>
                <mime:content type="text/xml" part="updateCardIssueConfiguration" />
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="IdentitySTSAdminService">
        <wsdl:port name="IdentitySTSAdminServiceHttpsSoap11Endpoint" binding="axis2:IdentitySTSAdminServiceSoap11Binding">
            <soap:address location="https://192.168.1.2:9443/services/IdentitySTSAdminService.IdentitySTSAdminServiceHttpsSoap11Endpoint" />
        </wsdl:port>
        <wsdl:port name="IdentitySTSAdminServiceHttpsSoap12Endpoint" binding="axis2:IdentitySTSAdminServiceSoap12Binding">
            <soap12:address location="https://192.168.1.2:9443/services/IdentitySTSAdminService.IdentitySTSAdminServiceHttpsSoap12Endpoint" />
        </wsdl:port>
        <wsdl:port name="IdentitySTSAdminServiceHttpsEndpoint" binding="axis2:IdentitySTSAdminServiceHttpBinding">
            <http:address location="https://192.168.1.2:9443/services/IdentitySTSAdminService.IdentitySTSAdminServiceHttpsEndpoint" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>