service-stubs/identity/org.wso2.carbon.identity.application.mgt.stub/src/main/resources/ApplicationManagementService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax2116="http://dto.mgt.application.identity.carbon.wso2.org/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ax2114="http://base.identity.carbon.wso2.org/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:tns="http://mgt.application.identity.carbon.wso2.org" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://mgt.application.identity.carbon.wso2.org">
    <wsdl:documentation>ApplicationManagementService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax2115="http://base.identity.carbon.wso2.org/xsd" xmlns:ns="http://org.apache.axis2/xsd" xmlns:ax2117="http://dto.mgt.application.identity.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://org.apache.axis2/xsd">
            <xs:import namespace="http://base.identity.carbon.wso2.org/xsd"></xs:import>
            <xs:import namespace="http://dto.mgt.application.identity.carbon.wso2.org/xsd"></xs:import>
            <xs:element name="ApplicationManagementServiceIdentityException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="IdentityException" nillable="true" type="ax2115:IdentityException"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getApplicationData">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="clientId" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getApplicationDataResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2116:ApplicationConfigDTO"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getApplicationDataFromID">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="appID" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getApplicationDataFromIDResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2116:ApplicationConfigDTO"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllApplicationData">
                <xs:complexType>
                    <xs:sequence></xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllApplicationDataResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2116:ApplicationConfigDTO"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getIDPData">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="idpID" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getIDPDataResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2116:TrustedIDPConfigDTO"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="storeApplicationData">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="appConfiDto" nillable="true" type="ax2116:ApplicationConfigDTO"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateApplication">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="appConfiDto" nillable="true" type="ax2116:ApplicationConfigDTO"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateApplicationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2116:ApplicationConfigDTO"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteApplication">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="appID" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllIDPData">
                <xs:complexType>
                    <xs:sequence></xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllIDPDataResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2116:TrustedIDPConfigDTO"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dto.mgt.application.identity.carbon.wso2.org/xsd">
            <xs:complexType name="ApplicationConfigDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="applicatIdentifier" nillable="true" type="xs:string"></xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="authenticationSteps" nillable="true" type="ax2116:AuthenticationStepConfigDTO"></xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="clientConfig" nillable="true" type="ax2116:ClientConfigDTO"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="AuthenticationStepConfigDTO">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="authenticators" nillable="true" type="ax2116:AuthenticatorConfigDTO"></xs:element>
                    <xs:element minOccurs="0" name="stepIdentifier" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="AuthenticatorConfigDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="authnticatorIdentifier" nillable="true" type="xs:string"></xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="idps" nillable="true" type="ax2116:TrustedIDPConfigDTO"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="TrustedIDPConfigDTO">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="endpoints" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="endpointsString" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="idpIdentifier" nillable="true" type="xs:string"></xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="types" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="typesString" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ClientConfigDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="callbackUrl" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="clientID" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="clientSecrete" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="type" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://base.identity.carbon.wso2.org/xsd">
            <xs:complexType name="IdentityException">
                <xs:sequence></xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getApplicationDataFromIDRequest">
        <wsdl:part name="parameters" element="ns1:getApplicationDataFromID"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getApplicationDataFromIDResponse">
        <wsdl:part name="parameters" element="ns1:getApplicationDataFromIDResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="ApplicationManagementServiceIdentityException">
        <wsdl:part name="parameters" element="ns1:ApplicationManagementServiceIdentityException"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="deleteApplicationRequest">
        <wsdl:part name="parameters" element="ns1:deleteApplication"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getIDPDataRequest">
        <wsdl:part name="parameters" element="ns1:getIDPData"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getIDPDataResponse">
        <wsdl:part name="parameters" element="ns1:getIDPDataResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAllApplicationDataRequest">
        <wsdl:part name="parameters" element="ns1:getAllApplicationData"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAllApplicationDataResponse">
        <wsdl:part name="parameters" element="ns1:getAllApplicationDataResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getApplicationDataRequest">
        <wsdl:part name="parameters" element="ns1:getApplicationData"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getApplicationDataResponse">
        <wsdl:part name="parameters" element="ns1:getApplicationDataResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAllIDPDataRequest">
        <wsdl:part name="parameters" element="ns1:getAllIDPData"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAllIDPDataResponse">
        <wsdl:part name="parameters" element="ns1:getAllIDPDataResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="storeApplicationDataRequest">
        <wsdl:part name="parameters" element="ns1:storeApplicationData"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="updateApplicationRequest">
        <wsdl:part name="parameters" element="ns1:updateApplication"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="updateApplicationResponse">
        <wsdl:part name="parameters" element="ns1:updateApplicationResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="ApplicationManagementServicePortType">
        <wsdl:operation name="getApplicationDataFromID">
            <wsdl:input message="tns:getApplicationDataFromIDRequest" wsaw:Action="urn:getApplicationDataFromID"></wsdl:input>
            <wsdl:output message="tns:getApplicationDataFromIDResponse" wsaw:Action="urn:getApplicationDataFromIDResponse"></wsdl:output>
            <wsdl:fault message="tns:ApplicationManagementServiceIdentityException" name="ApplicationManagementServiceIdentityException" wsaw:Action="urn:getApplicationDataFromIDApplicationManagementServiceIdentityException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteApplication">
            <wsdl:input message="tns:deleteApplicationRequest" wsaw:Action="urn:deleteApplication"></wsdl:input>
            <wsdl:fault message="tns:ApplicationManagementServiceIdentityException" name="ApplicationManagementServiceIdentityException" wsaw:Action="urn:deleteApplicationApplicationManagementServiceIdentityException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getIDPData">
            <wsdl:input message="tns:getIDPDataRequest" wsaw:Action="urn:getIDPData"></wsdl:input>
            <wsdl:output message="tns:getIDPDataResponse" wsaw:Action="urn:getIDPDataResponse"></wsdl:output>
            <wsdl:fault message="tns:ApplicationManagementServiceIdentityException" name="ApplicationManagementServiceIdentityException" wsaw:Action="urn:getIDPDataApplicationManagementServiceIdentityException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllApplicationData">
            <wsdl:input message="tns:getAllApplicationDataRequest" wsaw:Action="urn:getAllApplicationData"></wsdl:input>
            <wsdl:output message="tns:getAllApplicationDataResponse" wsaw:Action="urn:getAllApplicationDataResponse"></wsdl:output>
            <wsdl:fault message="tns:ApplicationManagementServiceIdentityException" name="ApplicationManagementServiceIdentityException" wsaw:Action="urn:getAllApplicationDataApplicationManagementServiceIdentityException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getApplicationData">
            <wsdl:input message="tns:getApplicationDataRequest" wsaw:Action="urn:getApplicationData"></wsdl:input>
            <wsdl:output message="tns:getApplicationDataResponse" wsaw:Action="urn:getApplicationDataResponse"></wsdl:output>
            <wsdl:fault message="tns:ApplicationManagementServiceIdentityException" name="ApplicationManagementServiceIdentityException" wsaw:Action="urn:getApplicationDataApplicationManagementServiceIdentityException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllIDPData">
            <wsdl:input message="tns:getAllIDPDataRequest" wsaw:Action="urn:getAllIDPData"></wsdl:input>
            <wsdl:output message="tns:getAllIDPDataResponse" wsaw:Action="urn:getAllIDPDataResponse"></wsdl:output>
            <wsdl:fault message="tns:ApplicationManagementServiceIdentityException" name="ApplicationManagementServiceIdentityException" wsaw:Action="urn:getAllIDPDataApplicationManagementServiceIdentityException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="storeApplicationData">
            <wsdl:input message="tns:storeApplicationDataRequest" wsaw:Action="urn:storeApplicationData"></wsdl:input>
            <wsdl:fault message="tns:ApplicationManagementServiceIdentityException" name="ApplicationManagementServiceIdentityException" wsaw:Action="urn:storeApplicationDataApplicationManagementServiceIdentityException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateApplication">
            <wsdl:input message="tns:updateApplicationRequest" wsaw:Action="urn:updateApplication"></wsdl:input>
            <wsdl:output message="tns:updateApplicationResponse" wsaw:Action="urn:updateApplicationResponse"></wsdl:output>
            <wsdl:fault message="tns:ApplicationManagementServiceIdentityException" name="ApplicationManagementServiceIdentityException" wsaw:Action="urn:updateApplicationApplicationManagementServiceIdentityException"></wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ApplicationManagementServiceSoap11Binding" type="tns:ApplicationManagementServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
        <wsdl:operation name="getApplicationDataFromID">
            <soap:operation soapAction="urn:getApplicationDataFromID" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="ApplicationManagementServiceIdentityException">
                <soap:fault use="literal" name="ApplicationManagementServiceIdentityException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteApplication">
            <soap:operation soapAction="urn:deleteApplication" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:fault name="ApplicationManagementServiceIdentityException">
                <soap:fault use="literal" name="ApplicationManagementServiceIdentityException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getIDPData">
            <soap:operation soapAction="urn:getIDPData" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="ApplicationManagementServiceIdentityException">
                <soap:fault use="literal" name="ApplicationManagementServiceIdentityException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllApplicationData">
            <soap:operation soapAction="urn:getAllApplicationData" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="ApplicationManagementServiceIdentityException">
                <soap:fault use="literal" name="ApplicationManagementServiceIdentityException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getApplicationData">
            <soap:operation soapAction="urn:getApplicationData" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="ApplicationManagementServiceIdentityException">
                <soap:fault use="literal" name="ApplicationManagementServiceIdentityException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllIDPData">
            <soap:operation soapAction="urn:getAllIDPData" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="ApplicationManagementServiceIdentityException">
                <soap:fault use="literal" name="ApplicationManagementServiceIdentityException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="storeApplicationData">
            <soap:operation soapAction="urn:storeApplicationData" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:fault name="ApplicationManagementServiceIdentityException">
                <soap:fault use="literal" name="ApplicationManagementServiceIdentityException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateApplication">
            <soap:operation soapAction="urn:updateApplication" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="ApplicationManagementServiceIdentityException">
                <soap:fault use="literal" name="ApplicationManagementServiceIdentityException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ApplicationManagementServiceSoap12Binding" type="tns:ApplicationManagementServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap12:binding>
        <wsdl:operation name="getApplicationDataFromID">
            <soap12:operation soapAction="urn:getApplicationDataFromID" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="ApplicationManagementServiceIdentityException">
                <soap12:fault use="literal" name="ApplicationManagementServiceIdentityException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteApplication">
            <soap12:operation soapAction="urn:deleteApplication" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:fault name="ApplicationManagementServiceIdentityException">
                <soap12:fault use="literal" name="ApplicationManagementServiceIdentityException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getIDPData">
            <soap12:operation soapAction="urn:getIDPData" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="ApplicationManagementServiceIdentityException">
                <soap12:fault use="literal" name="ApplicationManagementServiceIdentityException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllApplicationData">
            <soap12:operation soapAction="urn:getAllApplicationData" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="ApplicationManagementServiceIdentityException">
                <soap12:fault use="literal" name="ApplicationManagementServiceIdentityException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getApplicationData">
            <soap12:operation soapAction="urn:getApplicationData" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="ApplicationManagementServiceIdentityException">
                <soap12:fault use="literal" name="ApplicationManagementServiceIdentityException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllIDPData">
            <soap12:operation soapAction="urn:getAllIDPData" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="ApplicationManagementServiceIdentityException">
                <soap12:fault use="literal" name="ApplicationManagementServiceIdentityException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="storeApplicationData">
            <soap12:operation soapAction="urn:storeApplicationData" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:fault name="ApplicationManagementServiceIdentityException">
                <soap12:fault use="literal" name="ApplicationManagementServiceIdentityException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateApplication">
            <soap12:operation soapAction="urn:updateApplication" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="ApplicationManagementServiceIdentityException">
                <soap12:fault use="literal" name="ApplicationManagementServiceIdentityException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ApplicationManagementServiceHttpBinding" type="tns:ApplicationManagementServicePortType">
        <http:binding verb="POST"></http:binding>
        <wsdl:operation name="getApplicationDataFromID">
            <http:operation location="getApplicationDataFromID"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteApplication">
            <http:operation location="deleteApplication"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getIDPData">
            <http:operation location="getIDPData"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllApplicationData">
            <http:operation location="getAllApplicationData"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getApplicationData">
            <http:operation location="getApplicationData"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllIDPData">
            <http:operation location="getAllIDPData"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="storeApplicationData">
            <http:operation location="storeApplicationData"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="updateApplication">
            <http:operation location="updateApplication"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ApplicationManagementService">
        <wsdl:port name="ApplicationManagementServiceHttpsSoap11Endpoint" binding="tns:ApplicationManagementServiceSoap11Binding">
            <soap:address location="https://localhost:9443/services/ApplicationManagementService.ApplicationManagementServiceHttpsSoap11Endpoint/"></soap:address>
        </wsdl:port>
        <wsdl:port name="ApplicationManagementServiceHttpsSoap12Endpoint" binding="tns:ApplicationManagementServiceSoap12Binding">
            <soap12:address location="https://localhost:9443/services/ApplicationManagementService.ApplicationManagementServiceHttpsSoap12Endpoint/"></soap12:address>
        </wsdl:port>
        <wsdl:port name="ApplicationManagementServiceHttpsEndpoint" binding="tns:ApplicationManagementServiceHttpBinding">
            <http:address location="https://localhost:9443/services/ApplicationManagementService.ApplicationManagementServiceHttpsEndpoint/"></http:address>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>