service-stubs/identity/org.wso2.carbon.identity.application.mgt.stub/src/main/resources/ApplicationManagementService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax2116="http://model.common.application.identity.carbon.wso2.org/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ax2114="http://base.identity.carbon.wso2.org/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:tns="http://mgt.application.identity.carbon.wso2.org" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://mgt.application.identity.carbon.wso2.org">
    <wsdl:documentation>ApplicationManagementService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax2115="http://base.identity.carbon.wso2.org/xsd" xmlns:ns="http://org.apache.axis2/xsd" xmlns:ax2117="http://model.common.application.identity.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://org.apache.axis2/xsd">
            <xs:import namespace="http://base.identity.carbon.wso2.org/xsd"></xs:import>
            <xs:import namespace="http://model.common.application.identity.carbon.wso2.org/xsd"></xs:import>
            <xs:element name="ApplicationManagementServiceIdentityException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="IdentityException" nillable="true" type="ax2115:IdentityException"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateApplication">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serviceProvider" nillable="true" type="ax2116:ServiceProvider"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getFederatedIdentityProvider">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="federatedIdPName" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getFederatedIdentityProviderResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2116:FederatedIdentityProvider"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getApplication">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="applicationName" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getApplicationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2116:ServiceProvider"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllRequestPathAuthenticators">
                <xs:complexType>
                    <xs:sequence></xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllRequestPathAuthenticatorsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2116:RequestPathAuthenticator"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllLocalClaimUris">
                <xs:complexType>
                    <xs:sequence></xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllLocalClaimUrisResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllLocalAuthenticators">
                <xs:complexType>
                    <xs:sequence></xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllLocalAuthenticatorsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2116:LocalAuthenticator"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllFederatedIdentityProviders">
                <xs:complexType>
                    <xs:sequence></xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllFederatedIdentityProvidersResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2116:FederatedIdentityProvider"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllApplicationBasicInfo">
                <xs:complexType>
                    <xs:sequence></xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllApplicationBasicInfoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2116:ApplicationBasicInfo"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteApplication">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="applicationName" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createApplication">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serviceProvider" nillable="true" type="ax2116:ServiceProvider"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createApplicationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://model.common.application.identity.carbon.wso2.org/xsd">
            <xs:complexType name="ServiceProvider">
                <xs:sequence>
                    <xs:element minOccurs="0" name="applicationID" type="xs:int"></xs:element>
                    <xs:element minOccurs="0" name="applicationName" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="claimConfiguration" nillable="true" type="ax2116:ClaimConfiguration"></xs:element>
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="inboundAuthenticationConfig" nillable="true" type="ax2116:InboundAuthenticationConfig"></xs:element>
                    <xs:element minOccurs="0" name="inboundProvisioningConfiguration" nillable="true" type="ax2116:InboundProvisioningConfiguration"></xs:element>
                    <xs:element minOccurs="0" name="localAndOutBoundAuthenticationConfig" nillable="true" type="ax2116:LocalAndOutboundAuthenticationConfig"></xs:element>
                    <xs:element minOccurs="0" name="outboundProvisioningConfiguration" nillable="true" type="ax2116:OutboundProvisioningConfiguration"></xs:element>
                    <xs:element minOccurs="0" name="owner" nillable="true" type="ax2116:ServiceProviderOwner"></xs:element>
                    <xs:element minOccurs="0" name="permissionAndRoleConfiguration" nillable="true" type="ax2116:PermissionsAndRoleConfiguration"></xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="requestPathAuthenticators" nillable="true" type="ax2116:RequestPathAuthenticator"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ClaimConfiguration">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="claimMappings" nillable="true" type="ax2116:ClaimMapping"></xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="idpClaims" nillable="true" type="ax2116:Claim"></xs:element>
                    <xs:element minOccurs="0" name="roleClaimURI" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="userClaimURI" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ClaimMapping">
                <xs:sequence>
                    <xs:element minOccurs="0" name="idpClaim" nillable="true" type="ax2116:Claim"></xs:element>
                    <xs:element minOccurs="0" name="localClaim" nillable="true" type="ax2116:Claim"></xs:element>
                    <xs:element minOccurs="0" name="spClaim" nillable="true" type="ax2116:Claim"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Claim">
                <xs:sequence>
                    <xs:element minOccurs="0" name="claimId" type="xs:int"></xs:element>
                    <xs:element minOccurs="0" name="claimUri" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="requested" type="xs:boolean"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="InboundAuthenticationConfig">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="inboundAuthenticationRequests" nillable="true" type="ax2116:InboundAuthenticationRequest"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="InboundAuthenticationRequest">
                <xs:sequence>
                    <xs:element minOccurs="0" name="clientID" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="type" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="InboundProvisioningConfiguration">
                <xs:sequence>
                    <xs:element minOccurs="0" name="provisioningEnabled" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="provisioningUserStore" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="LocalAndOutboundAuthenticationConfig">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="authenticationSteps" nillable="true" type="ax2116:AuthenticationStep"></xs:element>
                    <xs:element minOccurs="0" name="authenticationType" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="AuthenticationStep">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="federatedIdentityProviders" nillable="true" type="ax2116:FederatedIdentityProvider"></xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="localAuthenticators" nillable="true" type="ax2116:LocalAuthenticator"></xs:element>
                    <xs:element minOccurs="0" name="stepOrder" type="xs:int"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="FederatedIdentityProvider">
                <xs:sequence>
                    <xs:element minOccurs="0" name="alias" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="certificate" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="claimConfiguration" nillable="true" type="ax2116:ClaimConfiguration"></xs:element>
                    <xs:element minOccurs="0" name="defaultAuthenticator" nillable="true" type="ax2116:FederatedAuthenticator"></xs:element>
                    <xs:element minOccurs="0" name="defaultProvisioinongConnector" nillable="true" type="ax2116:ProvisioningConnector"></xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="federatedAuthenticators" nillable="true" type="ax2116:FederatedAuthenticator"></xs:element>
                    <xs:element minOccurs="0" name="homeRealmId" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="identityProviderName" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="justInTimeProvisioningConfiguration" nillable="true" type="ax2116:JustInTimeProvisioningConfiguration"></xs:element>
                    <xs:element minOccurs="0" name="permissionAndRoleConfiguration" nillable="true" type="ax2116:PermissionsAndRoleConfiguration"></xs:element>
                    <xs:element minOccurs="0" name="primary" type="xs:boolean"></xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="provisoningConnectors" nillable="true" type="ax2116:ProvisioningConnector"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="LocalAuthenticator">
                <xs:sequence>
                    <xs:element minOccurs="0" name="enabled" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="FederatedAuthenticator">
                <xs:complexContent>
                    <xs:extension base="ax2116:LocalAuthenticator">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"></xs:element>
                            <xs:element minOccurs="0" name="usetIdInClaim" type="xs:boolean"></xs:element>
                            <xs:element minOccurs="0" name="valid" type="xs:boolean"></xs:element>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="ProvisioningConnector">
                <xs:sequence>
                    <xs:element minOccurs="0" name="enabled" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"></xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="provisioningProperties" nillable="true" type="ax2116:ProvisioningProperty"></xs:element>
                    <xs:element minOccurs="0" name="valid" type="xs:boolean"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ProvisioningProperty">
                <xs:sequence>
                    <xs:element minOccurs="0" name="base64EncodedStringValue" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="confidential" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="defaultValue" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="value" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="JustInTimeProvisioningConfiguration">
                <xs:complexContent>
                    <xs:extension base="ax2116:InboundProvisioningConfiguration">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="userStoreClaimUri" nillable="true" type="xs:string"></xs:element>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="PermissionsAndRoleConfiguration">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="idpRoles" nillable="true" type="xs:string"></xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="permissions" nillable="true" type="ax2116:ApplicationPermission"></xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="roleMappings" nillable="true" type="ax2116:RoleMapping"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ApplicationPermission">
                <xs:sequence>
                    <xs:element minOccurs="0" name="value" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="RoleMapping">
                <xs:sequence>
                    <xs:element minOccurs="0" name="localRole" nillable="true" type="ax2116:LocalRole"></xs:element>
                    <xs:element minOccurs="0" name="remoteRole" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="LocalRole">
                <xs:sequence>
                    <xs:element minOccurs="0" name="localRoleName" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="userStoreId" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="OutboundProvisioningConfiguration">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="provisioningIdentityProviders" nillable="true" type="ax2116:FederatedIdentityProvider"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ServiceProviderOwner">
                <xs:sequence>
                    <xs:element minOccurs="0" name="tenantId" type="xs:int"></xs:element>
                    <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="userStoreDomain" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="RequestPathAuthenticator">
                <xs:complexContent>
                    <xs:extension base="ax2116:LocalAuthenticator">
                        <xs:sequence></xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="ApplicationBasicInfo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="applicationName" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://base.identity.carbon.wso2.org/xsd">
            <xs:complexType name="IdentityException">
                <xs:sequence></xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="createApplicationRequest">
        <wsdl:part name="parameters" element="ns1:createApplication"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="createApplicationResponse">
        <wsdl:part name="parameters" element="ns1:createApplicationResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="ApplicationManagementServiceIdentityException">
        <wsdl:part name="parameters" element="ns1:ApplicationManagementServiceIdentityException"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getApplicationRequest">
        <wsdl:part name="parameters" element="ns1:getApplication"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getApplicationResponse">
        <wsdl:part name="parameters" element="ns1:getApplicationResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAllLocalClaimUrisRequest">
        <wsdl:part name="parameters" element="ns1:getAllLocalClaimUris"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAllLocalClaimUrisResponse">
        <wsdl:part name="parameters" element="ns1:getAllLocalClaimUrisResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="deleteApplicationRequest">
        <wsdl:part name="parameters" element="ns1:deleteApplication"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAllRequestPathAuthenticatorsRequest">
        <wsdl:part name="parameters" element="ns1:getAllRequestPathAuthenticators"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAllRequestPathAuthenticatorsResponse">
        <wsdl:part name="parameters" element="ns1:getAllRequestPathAuthenticatorsResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAllLocalAuthenticatorsRequest">
        <wsdl:part name="parameters" element="ns1:getAllLocalAuthenticators"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAllLocalAuthenticatorsResponse">
        <wsdl:part name="parameters" element="ns1:getAllLocalAuthenticatorsResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAllApplicationBasicInfoRequest">
        <wsdl:part name="parameters" element="ns1:getAllApplicationBasicInfo"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAllApplicationBasicInfoResponse">
        <wsdl:part name="parameters" element="ns1:getAllApplicationBasicInfoResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getFederatedIdentityProviderRequest">
        <wsdl:part name="parameters" element="ns1:getFederatedIdentityProvider"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getFederatedIdentityProviderResponse">
        <wsdl:part name="parameters" element="ns1:getFederatedIdentityProviderResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="updateApplicationRequest">
        <wsdl:part name="parameters" element="ns1:updateApplication"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAllFederatedIdentityProvidersRequest">
        <wsdl:part name="parameters" element="ns1:getAllFederatedIdentityProviders"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAllFederatedIdentityProvidersResponse">
        <wsdl:part name="parameters" element="ns1:getAllFederatedIdentityProvidersResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="ApplicationManagementServicePortType">
        <wsdl:operation name="createApplication">
            <wsdl:input message="tns:createApplicationRequest" wsaw:Action="urn:createApplication"></wsdl:input>
            <wsdl:output message="tns:createApplicationResponse" wsaw:Action="urn:createApplicationResponse"></wsdl:output>
            <wsdl:fault message="tns:ApplicationManagementServiceIdentityException" name="ApplicationManagementServiceIdentityException" wsaw:Action="urn:createApplicationApplicationManagementServiceIdentityException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getApplication">
            <wsdl:input message="tns:getApplicationRequest" wsaw:Action="urn:getApplication"></wsdl:input>
            <wsdl:output message="tns:getApplicationResponse" wsaw:Action="urn:getApplicationResponse"></wsdl:output>
            <wsdl:fault message="tns:ApplicationManagementServiceIdentityException" name="ApplicationManagementServiceIdentityException" wsaw:Action="urn:getApplicationApplicationManagementServiceIdentityException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllLocalClaimUris">
            <wsdl:input message="tns:getAllLocalClaimUrisRequest" wsaw:Action="urn:getAllLocalClaimUris"></wsdl:input>
            <wsdl:output message="tns:getAllLocalClaimUrisResponse" wsaw:Action="urn:getAllLocalClaimUrisResponse"></wsdl:output>
            <wsdl:fault message="tns:ApplicationManagementServiceIdentityException" name="ApplicationManagementServiceIdentityException" wsaw:Action="urn:getAllLocalClaimUrisApplicationManagementServiceIdentityException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteApplication">
            <wsdl:input message="tns:deleteApplicationRequest" wsaw:Action="urn:deleteApplication"></wsdl:input>
            <wsdl:fault message="tns:ApplicationManagementServiceIdentityException" name="ApplicationManagementServiceIdentityException" wsaw:Action="urn:deleteApplicationApplicationManagementServiceIdentityException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllRequestPathAuthenticators">
            <wsdl:input message="tns:getAllRequestPathAuthenticatorsRequest" wsaw:Action="urn:getAllRequestPathAuthenticators"></wsdl:input>
            <wsdl:output message="tns:getAllRequestPathAuthenticatorsResponse" wsaw:Action="urn:getAllRequestPathAuthenticatorsResponse"></wsdl:output>
            <wsdl:fault message="tns:ApplicationManagementServiceIdentityException" name="ApplicationManagementServiceIdentityException" wsaw:Action="urn:getAllRequestPathAuthenticatorsApplicationManagementServiceIdentityException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllLocalAuthenticators">
            <wsdl:input message="tns:getAllLocalAuthenticatorsRequest" wsaw:Action="urn:getAllLocalAuthenticators"></wsdl:input>
            <wsdl:output message="tns:getAllLocalAuthenticatorsResponse" wsaw:Action="urn:getAllLocalAuthenticatorsResponse"></wsdl:output>
            <wsdl:fault message="tns:ApplicationManagementServiceIdentityException" name="ApplicationManagementServiceIdentityException" wsaw:Action="urn:getAllLocalAuthenticatorsApplicationManagementServiceIdentityException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllApplicationBasicInfo">
            <wsdl:input message="tns:getAllApplicationBasicInfoRequest" wsaw:Action="urn:getAllApplicationBasicInfo"></wsdl:input>
            <wsdl:output message="tns:getAllApplicationBasicInfoResponse" wsaw:Action="urn:getAllApplicationBasicInfoResponse"></wsdl:output>
            <wsdl:fault message="tns:ApplicationManagementServiceIdentityException" name="ApplicationManagementServiceIdentityException" wsaw:Action="urn:getAllApplicationBasicInfoApplicationManagementServiceIdentityException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getFederatedIdentityProvider">
            <wsdl:input message="tns:getFederatedIdentityProviderRequest" wsaw:Action="urn:getFederatedIdentityProvider"></wsdl:input>
            <wsdl:output message="tns:getFederatedIdentityProviderResponse" wsaw:Action="urn:getFederatedIdentityProviderResponse"></wsdl:output>
            <wsdl:fault message="tns:ApplicationManagementServiceIdentityException" name="ApplicationManagementServiceIdentityException" wsaw:Action="urn:getFederatedIdentityProviderApplicationManagementServiceIdentityException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateApplication">
            <wsdl:input message="tns:updateApplicationRequest" wsaw:Action="urn:updateApplication"></wsdl:input>
            <wsdl:fault message="tns:ApplicationManagementServiceIdentityException" name="ApplicationManagementServiceIdentityException" wsaw:Action="urn:updateApplicationApplicationManagementServiceIdentityException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllFederatedIdentityProviders">
            <wsdl:input message="tns:getAllFederatedIdentityProvidersRequest" wsaw:Action="urn:getAllFederatedIdentityProviders"></wsdl:input>
            <wsdl:output message="tns:getAllFederatedIdentityProvidersResponse" wsaw:Action="urn:getAllFederatedIdentityProvidersResponse"></wsdl:output>
            <wsdl:fault message="tns:ApplicationManagementServiceIdentityException" name="ApplicationManagementServiceIdentityException" wsaw:Action="urn:getAllFederatedIdentityProvidersApplicationManagementServiceIdentityException"></wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ApplicationManagementServiceSoap11Binding" type="tns:ApplicationManagementServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
        <wsdl:operation name="createApplication">
            <soap:operation soapAction="urn:createApplication" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="ApplicationManagementServiceIdentityException">
                <soap:fault use="literal" name="ApplicationManagementServiceIdentityException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getApplication">
            <soap:operation soapAction="urn:getApplication" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="ApplicationManagementServiceIdentityException">
                <soap:fault use="literal" name="ApplicationManagementServiceIdentityException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllLocalClaimUris">
            <soap:operation soapAction="urn:getAllLocalClaimUris" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="ApplicationManagementServiceIdentityException">
                <soap:fault use="literal" name="ApplicationManagementServiceIdentityException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteApplication">
            <soap:operation soapAction="urn:deleteApplication" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:fault name="ApplicationManagementServiceIdentityException">
                <soap:fault use="literal" name="ApplicationManagementServiceIdentityException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllRequestPathAuthenticators">
            <soap:operation soapAction="urn:getAllRequestPathAuthenticators" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="ApplicationManagementServiceIdentityException">
                <soap:fault use="literal" name="ApplicationManagementServiceIdentityException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllLocalAuthenticators">
            <soap:operation soapAction="urn:getAllLocalAuthenticators" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="ApplicationManagementServiceIdentityException">
                <soap:fault use="literal" name="ApplicationManagementServiceIdentityException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllApplicationBasicInfo">
            <soap:operation soapAction="urn:getAllApplicationBasicInfo" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="ApplicationManagementServiceIdentityException">
                <soap:fault use="literal" name="ApplicationManagementServiceIdentityException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getFederatedIdentityProvider">
            <soap:operation soapAction="urn:getFederatedIdentityProvider" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="ApplicationManagementServiceIdentityException">
                <soap:fault use="literal" name="ApplicationManagementServiceIdentityException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllFederatedIdentityProviders">
            <soap:operation soapAction="urn:getAllFederatedIdentityProviders" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="ApplicationManagementServiceIdentityException">
                <soap:fault use="literal" name="ApplicationManagementServiceIdentityException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateApplication">
            <soap:operation soapAction="urn:updateApplication" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:fault name="ApplicationManagementServiceIdentityException">
                <soap:fault use="literal" name="ApplicationManagementServiceIdentityException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ApplicationManagementServiceSoap12Binding" type="tns:ApplicationManagementServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap12:binding>
        <wsdl:operation name="createApplication">
            <soap12:operation soapAction="urn:createApplication" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="ApplicationManagementServiceIdentityException">
                <soap12:fault use="literal" name="ApplicationManagementServiceIdentityException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getApplication">
            <soap12:operation soapAction="urn:getApplication" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="ApplicationManagementServiceIdentityException">
                <soap12:fault use="literal" name="ApplicationManagementServiceIdentityException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllLocalClaimUris">
            <soap12:operation soapAction="urn:getAllLocalClaimUris" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="ApplicationManagementServiceIdentityException">
                <soap12:fault use="literal" name="ApplicationManagementServiceIdentityException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteApplication">
            <soap12:operation soapAction="urn:deleteApplication" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:fault name="ApplicationManagementServiceIdentityException">
                <soap12:fault use="literal" name="ApplicationManagementServiceIdentityException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllRequestPathAuthenticators">
            <soap12:operation soapAction="urn:getAllRequestPathAuthenticators" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="ApplicationManagementServiceIdentityException">
                <soap12:fault use="literal" name="ApplicationManagementServiceIdentityException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllLocalAuthenticators">
            <soap12:operation soapAction="urn:getAllLocalAuthenticators" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="ApplicationManagementServiceIdentityException">
                <soap12:fault use="literal" name="ApplicationManagementServiceIdentityException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllApplicationBasicInfo">
            <soap12:operation soapAction="urn:getAllApplicationBasicInfo" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="ApplicationManagementServiceIdentityException">
                <soap12:fault use="literal" name="ApplicationManagementServiceIdentityException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getFederatedIdentityProvider">
            <soap12:operation soapAction="urn:getFederatedIdentityProvider" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="ApplicationManagementServiceIdentityException">
                <soap12:fault use="literal" name="ApplicationManagementServiceIdentityException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllFederatedIdentityProviders">
            <soap12:operation soapAction="urn:getAllFederatedIdentityProviders" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="ApplicationManagementServiceIdentityException">
                <soap12:fault use="literal" name="ApplicationManagementServiceIdentityException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateApplication">
            <soap12:operation soapAction="urn:updateApplication" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:fault name="ApplicationManagementServiceIdentityException">
                <soap12:fault use="literal" name="ApplicationManagementServiceIdentityException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ApplicationManagementServiceHttpBinding" type="tns:ApplicationManagementServicePortType">
        <http:binding verb="POST"></http:binding>
        <wsdl:operation name="createApplication">
            <http:operation location="createApplication"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getApplication">
            <http:operation location="getApplication"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllLocalClaimUris">
            <http:operation location="getAllLocalClaimUris"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteApplication">
            <http:operation location="deleteApplication"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getAllRequestPathAuthenticators">
            <http:operation location="getAllRequestPathAuthenticators"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllLocalAuthenticators">
            <http:operation location="getAllLocalAuthenticators"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllApplicationBasicInfo">
            <http:operation location="getAllApplicationBasicInfo"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getFederatedIdentityProvider">
            <http:operation location="getFederatedIdentityProvider"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllFederatedIdentityProviders">
            <http:operation location="getAllFederatedIdentityProviders"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateApplication">
            <http:operation location="updateApplication"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ApplicationManagementService">
        <wsdl:port name="ApplicationManagementServiceHttpsSoap11Endpoint" binding="tns:ApplicationManagementServiceSoap11Binding">
            <soap:address location="https://localhost:9443/services/ApplicationManagementService.ApplicationManagementServiceHttpsSoap11Endpoint/"></soap:address>
        </wsdl:port>
        <wsdl:port name="ApplicationManagementServiceHttpsSoap12Endpoint" binding="tns:ApplicationManagementServiceSoap12Binding">
            <soap12:address location="https://localhost:9443/services/ApplicationManagementService.ApplicationManagementServiceHttpsSoap12Endpoint/"></soap12:address>
        </wsdl:port>
        <wsdl:port name="ApplicationManagementServiceHttpsEndpoint" binding="tns:ApplicationManagementServiceHttpBinding">
            <http:address location="https://localhost:9443/services/ApplicationManagementService.ApplicationManagementServiceHttpsEndpoint/"></http:address>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>