service-stubs/identity/org.wso2.carbon.identity.sts.passive.stub/src/main/resources/IdentityPassiveSTSService.wsdl

<!--
 ~ Copyright (c) 2005-2010, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
 ~
 ~ WSO2 Inc. licenses this file to you under the Apache License,
 ~ Version 2.0 (the "License"); you may not use this file except
 ~ in compliance with the License.
 ~ You may obtain a copy of the License at
 ~
 ~    http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing,
 ~ software distributed under the License is distributed on an
 ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~ KIND, either express or implied.  See the License for the
 ~ specific language governing permissions and limitations
 ~ under the License.
 -->


<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:ax2366="http://passive.sts.identity.carbon.wso2.org/xsd"
                  xmlns:ns1="http://org.apache.axis2/xsd"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:tns="http://passive.sts.identity.carbon.wso2.org"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  targetNamespace="http://passive.sts.identity.carbon.wso2.org">
    <wsdl:documentation>IdentityPassiveSTSService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax2367="http://passive.sts.identity.carbon.wso2.org/xsd"
                   xmlns:ns="http://org.apache.axis2/xsd" attributeFormDefault="qualified"
                   elementFormDefault="qualified" targetNamespace="http://org.apache.axis2/xsd">
            <xs:import namespace="http://passive.sts.identity.carbon.wso2.org/xsd"/>
            <xs:element name="IdentityPassiveSTSServiceException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="IdentityPassiveSTSServiceException"
                                    nillable="true" type="ns1:Exception"/>

                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="addTrustedService">

                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="realmName" nillable="true"
                                    type="xs:string"/>
                        <xs:element minOccurs="0" name="claimDialect" nillable="true"
                                    type="xs:string"/>
                        <xs:element minOccurs="0" name="claims" nillable="true"
                                    type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="removeTrustedService">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="realmName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllTrustedServices">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllTrustedServicesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true"
                                    type="ax2367:ClaimDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTrustedServiceClaims">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="realmName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTrustedServiceClaimsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2367:ClaimDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="request" nillable="true" type="ax2367:RequestToken"/>
                    </xs:sequence>
                </xs:complexType>

            </xs:element>
            <xs:element name="getResponseResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2367:ResponseToken"/>
                    </xs:sequence>
                </xs:complexType>

            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified"
                   targetNamespace="http://passive.sts.identity.carbon.wso2.org/xsd">
            <xs:complexType name="ClaimDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="claimDialect" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="defaultClaims"
                                nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="realm" nillable="true" type="xs:string"/>
                </xs:sequence>

            </xs:complexType>
            <xs:complexType name="RequestToken">
                <xs:sequence>
                    <xs:element minOccurs="0" name="action" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="attributes" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="context" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="currentTimeAtRecepient" nillable="true"
                                type="xs:string"/>
                    <xs:element minOccurs="0" name="dialect" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="policy" nillable="true" type="xs:string"/>

                    <xs:element minOccurs="0" name="pseudo" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="realm" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="replyTo" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="request" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="requestPointer" nillable="true"
                                type="xs:string"/>
                    <xs:element minOccurs="0" name="responseTo" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="tenantDomain" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="ResponseToken">
                <xs:sequence>
                    <xs:element minOccurs="0" name="authenticated" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="context" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="replyTo" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="responsePointer" nillable="true"
                                type="xs:string"/>
                    <xs:element minOccurs="0" name="results" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

        </xs:schema>
    </wsdl:types>
    <wsdl:message name="removeTrustedServiceRequest">
        <wsdl:part name="parameters" element="ns1:removeTrustedService"/>
    </wsdl:message>
    <wsdl:message name="IdentityPassiveSTSServiceException">
        <wsdl:part name="parameters" element="ns1:IdentityPassiveSTSServiceException"/>
    </wsdl:message>
    <wsdl:message name="addTrustedServiceRequest">

        <wsdl:part name="parameters" element="ns1:addTrustedService"/>
    </wsdl:message>
    <wsdl:message name="getAllTrustedServicesRequest">
        <wsdl:part name="parameters" element="ns1:getAllTrustedServices"/>
    </wsdl:message>
    <wsdl:message name="getAllTrustedServicesResponse">
        <wsdl:part name="parameters" element="ns1:getAllTrustedServicesResponse"/>
    </wsdl:message>
    <wsdl:message name="getResponseRequest">

        <wsdl:part name="parameters" element="ns1:getResponse"/>
    </wsdl:message>
    <wsdl:message name="getResponseResponse">
        <wsdl:part name="parameters" element="ns1:getResponseResponse"/>
    </wsdl:message>
    <wsdl:message name="getTrustedServiceClaimsRequest">
        <wsdl:part name="parameters" element="ns1:getTrustedServiceClaims"/>
    </wsdl:message>
    <wsdl:message name="getTrustedServiceClaimsResponse">

        <wsdl:part name="parameters" element="ns1:getTrustedServiceClaimsResponse"/>
    </wsdl:message>
    <wsdl:portType name="IdentityPassiveSTSServicePortType">
        <wsdl:operation name="removeTrustedService">
            <wsdl:input message="tns:removeTrustedServiceRequest"
                        wsaw:Action="urn:removeTrustedService"/>
            <wsdl:fault message="tns:IdentityPassiveSTSServiceException"
                        name="IdentityPassiveSTSServiceException"
                        wsaw:Action="urn:removeTrustedServiceIdentityPassiveSTSServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="addTrustedService">
            <wsdl:input message="tns:addTrustedServiceRequest" wsaw:Action="urn:addTrustedService"/>

            <wsdl:fault message="tns:IdentityPassiveSTSServiceException"
                        name="IdentityPassiveSTSServiceException"
                        wsaw:Action="urn:addTrustedServiceIdentityPassiveSTSServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="getAllTrustedServices">
            <wsdl:input message="tns:getAllTrustedServicesRequest"
                        wsaw:Action="urn:getAllTrustedServices"/>
            <wsdl:output message="tns:getAllTrustedServicesResponse"
                         wsaw:Action="urn:getAllTrustedServicesResponse"/>
            <wsdl:fault message="tns:IdentityPassiveSTSServiceException"
                        name="IdentityPassiveSTSServiceException"
                        wsaw:Action="urn:getAllTrustedServicesIdentityPassiveSTSServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="getResponse">
            <wsdl:input message="tns:getResponseRequest" wsaw:Action="urn:getResponse"/>

            <wsdl:output message="tns:getResponseResponse" wsaw:Action="urn:getResponseResponse"/>
            <wsdl:fault message="tns:IdentityPassiveSTSServiceException"
                        name="IdentityPassiveSTSServiceException"
                        wsaw:Action="urn:getResponseIdentityPassiveSTSServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="getTrustedServiceClaims">
            <wsdl:input message="tns:getTrustedServiceClaimsRequest"
                        wsaw:Action="urn:getTrustedServiceClaims"/>
            <wsdl:output message="tns:getTrustedServiceClaimsResponse"
                         wsaw:Action="urn:getTrustedServiceClaimsResponse"/>
            <wsdl:fault message="tns:IdentityPassiveSTSServiceException"
                        name="IdentityPassiveSTSServiceException"
                        wsaw:Action="urn:getTrustedServiceClaimsIdentityPassiveSTSServiceException"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="IdentityPassiveSTSServiceSoap11Binding"
                  type="tns:IdentityPassiveSTSServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="removeTrustedService">
            <soap:operation soapAction="urn:removeTrustedService" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="IdentityPassiveSTSServiceException">
                <soap:fault use="literal" name="IdentityPassiveSTSServiceException"/>

            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addTrustedService">
            <soap:operation soapAction="urn:addTrustedService" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="IdentityPassiveSTSServiceException">
                <soap:fault use="literal" name="IdentityPassiveSTSServiceException"/>

            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllTrustedServices">
            <soap:operation soapAction="urn:getAllTrustedServices" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>

            </wsdl:output>
            <wsdl:fault name="IdentityPassiveSTSServiceException">
                <soap:fault use="literal" name="IdentityPassiveSTSServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getResponse">
            <soap:operation soapAction="urn:getResponse" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>

            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IdentityPassiveSTSServiceException">
                <soap:fault use="literal" name="IdentityPassiveSTSServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getTrustedServiceClaims">
            <soap:operation soapAction="urn:getTrustedServiceClaims" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IdentityPassiveSTSServiceException">
                <soap:fault use="literal" name="IdentityPassiveSTSServiceException"/>

            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="IdentityPassiveSTSServiceSoap12Binding"
                  type="tns:IdentityPassiveSTSServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="removeTrustedService">
            <soap12:operation soapAction="urn:removeTrustedService" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>

            </wsdl:input>
            <wsdl:fault name="IdentityPassiveSTSServiceException">
                <soap12:fault use="literal" name="IdentityPassiveSTSServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addTrustedService">
            <soap12:operation soapAction="urn:addTrustedService" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>

            </wsdl:input>
            <wsdl:fault name="IdentityPassiveSTSServiceException">
                <soap12:fault use="literal" name="IdentityPassiveSTSServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllTrustedServices">
            <soap12:operation soapAction="urn:getAllTrustedServices" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>

            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IdentityPassiveSTSServiceException">
                <soap12:fault use="literal" name="IdentityPassiveSTSServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getResponse">
            <soap12:operation soapAction="urn:getResponse" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IdentityPassiveSTSServiceException">
                <soap12:fault use="literal" name="IdentityPassiveSTSServiceException"/>

            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getTrustedServiceClaims">
            <soap12:operation soapAction="urn:getTrustedServiceClaims" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>

            </wsdl:output>
            <wsdl:fault name="IdentityPassiveSTSServiceException">
                <soap12:fault use="literal" name="IdentityPassiveSTSServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="IdentityPassiveSTSServiceHttpBinding"
                  type="tns:IdentityPassiveSTSServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="removeTrustedService">

            <http:operation location="removeTrustedService"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="addTrustedService">
            <http:operation location="addTrustedService"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>

            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getAllTrustedServices">
            <http:operation location="getAllTrustedServices"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>

            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getResponse">
            <http:operation location="getResponse"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>

            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTrustedServiceClaims">
            <http:operation location="getTrustedServiceClaims"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>

            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="IdentityPassiveSTSService">
        <wsdl:port name="IdentityPassiveSTSServiceHttpsSoap11Endpoint"
                   binding="tns:IdentityPassiveSTSServiceSoap11Binding">
            <soap:address
                    location="https://localhost:9443/services/IdentityPassiveSTSService.IdentityPassiveSTSServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="IdentityPassiveSTSServiceHttpsSoap12Endpoint"
                   binding="tns:IdentityPassiveSTSServiceSoap12Binding">
            <soap12:address
                    location="https://localhost:9443/services/IdentityPassiveSTSService.IdentityPassiveSTSServiceHttpsSoap12Endpoint/"/>

        </wsdl:port>
        <wsdl:port name="IdentityPassiveSTSServiceHttpsEndpoint"
                   binding="tns:IdentityPassiveSTSServiceHttpBinding">
            <http:address
                    location="https://localhost:9443/services/IdentityPassiveSTSService.IdentityPassiveSTSServiceHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>