components/sso-saml/org.wso2.carbon.identity.sso.saml.ui/src/main/resources/IdentitySAMLSSOService.wsdl


<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://saml.sso.identity.carbon.wso2.org"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ax2199="http://dto.saml.sso.identity.carbon.wso2.org/xsd" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://saml.sso.identity.carbon.wso2.org">
    <wsdl:documentation>IdentitySAMLSSOService</wsdl:documentation> 
    <wsdl:types>
        <xs:schema xmlns:ax2198="http://base.identity.carbon.wso2.org/xsd" attributeFormDefault="qualified"
                   elementFormDefault="qualified" targetNamespace="http://org.apache.axis2/xsd">
            <xs:import namespace="http://base.identity.carbon.wso2.org/xsd" /> 
            <xs:import namespace="http://dto.saml.sso.identity.carbon.wso2.org/xsd" /> 
            <xs:element name="validateRequestIdentityException"> 
                <xs:complexType> 
                    <xs:sequence> 
                        <xs:element minOccurs="0" name="IdentityException" nillable="true" type="ax2198:IdentityException" /> 
                    </xs:sequence> 
                </xs:complexType> 
            </xs:element> 
            <xs:element name="validateRequest"> 
                <xs:complexType> 
                    <xs:sequence> 
                        <xs:element minOccurs="0" name="authReq" nillable="true" type="xs:string" /> 
                        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" /> 
                        <xs:element minOccurs="0" name="rpSessionId" nillable="true" type="xs:string" /> 
                        <xs:element minOccurs="0" name="authnMode" nillable="true" type="xs:string" /> 
                    </xs:sequence> 
                </xs:complexType> 
            </xs:element> 
            <xs:element name="validateRequestResponse"> 
                <xs:complexType> 
                    <xs:sequence> 
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2199:SAMLSSOReqValidationResponseDTO" /> 
                    </xs:sequence> 
                </xs:complexType> 
            </xs:element> 
            <xs:element name="doSingleLogoutIdentityException"> 
                <xs:complexType> 
                    <xs:sequence> 
                        <xs:element minOccurs="0" name="IdentityException" nillable="true" type="ax2198:IdentityException" /> 
                    </xs:sequence> 
                </xs:complexType> 
            </xs:element> 
            <xs:element name="doSingleLogout"> 
                <xs:complexType> 
                    <xs:sequence> 
                        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" /> 
                    </xs:sequence> 
                </xs:complexType> 
            </xs:element> 
            <xs:element name="doSingleLogoutResponse"> 
                <xs:complexType> 
                    <xs:sequence> 
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2199:SAMLSSOReqValidationResponseDTO" /> 
                    </xs:sequence> 
                </xs:complexType> 
            </xs:element> 
            <xs:element name="authenticateIdentityException"> 
                <xs:complexType> 
                    <xs:sequence> 
                        <xs:element minOccurs="0" name="IdentityException" nillable="true" type="ax2198:IdentityException" /> 
                    </xs:sequence> 
                </xs:complexType> 
            </xs:element> 
            <xs:element name="authenticate"> 
                <xs:complexType> 
                    <xs:sequence> 
                        <xs:element minOccurs="0" name="authReqDTO" nillable="true" type="ax2199:SAMLSSOAuthnReqDTO" /> 
                        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" /> 
                    </xs:sequence> 
                </xs:complexType> 
            </xs:element> 
            <xs:element name="authenticateResponse"> 
                <xs:complexType> 
                    <xs:sequence> 
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2199:SAMLSSORespDTO" /> 
                    </xs:sequence> 
                </xs:complexType> 
            </xs:element> 
        </xs:schema> 
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dto.saml.sso.identity.carbon.wso2.org/xsd"> 
            <xs:complexType name="SAMLSSOReqValidationResponseDTO"> 
                <xs:sequence> 
                    <xs:element minOccurs="0" name="assertionConsumerURL" nillable="true" type="xs:string" /> 
                    <xs:element minOccurs="0" name="assertionString" nillable="true" type="xs:string" /> 
                    <xs:element minOccurs="0" name="doSingleLogout" type="xs:boolean" /> 
                    <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" /> 
                    <xs:element minOccurs="0" name="issuer" nillable="true" type="xs:string" /> 
                    <xs:element minOccurs="0" name="logOutReq" type="xs:boolean" /> 
                    <xs:element minOccurs="0" name="loginPageURL" nillable="true" type="xs:string" /> 
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="logoutRespDTO" nillable="true" type="ax2199:SingleLogoutRequestDTO" /> 
                    <xs:element minOccurs="0" name="logoutResponse" nillable="true" type="xs:string" /> 
                    <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" /> 
                    <xs:element minOccurs="0" name="rpSessionId" nillable="true" type="xs:string" /> 
                    <xs:element minOccurs="0" name="subject" nillable="true" type="xs:string" /> 
                    <xs:element minOccurs="0" name="valid" type="xs:boolean" /> 
                </xs:sequence> 
            </xs:complexType> 
            <xs:complexType name="SingleLogoutRequestDTO"> 
                <xs:sequence> 
                    <xs:element minOccurs="0" name="assertionConsumerURL" nillable="true" type="xs:string" /> 
                    <xs:element minOccurs="0" name="logoutResponse" nillable="true" type="xs:string" /> 
                    <xs:element minOccurs="0" name="rpSessionId" nillable="true" type="xs:string" /> 
                </xs:sequence> 
            </xs:complexType> 
            <xs:complexType name="SAMLSSOAuthnReqDTO"> 
                <xs:sequence> 
                    <xs:element minOccurs="0" name="assertionConsumerURL" nillable="true" type="xs:string" /> 
                    <xs:element minOccurs="0" name="assertionString" nillable="true" type="xs:string" /> 
                    <xs:element minOccurs="0" name="certAlias" nillable="true" type="xs:string" /> 
                    <xs:element minOccurs="0" name="claim" nillable="true" type="xs:string" /> 
                    <xs:element minOccurs="0" name="doSignAssertions" type="xs:boolean" /> 
                    <xs:element minOccurs="0" name="doSingleLogout" type="xs:boolean" /> 
                    <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" /> 
                    <xs:element minOccurs="0" name="issuer" nillable="true" type="xs:string" /> 
                    <xs:element minOccurs="0" name="loginPageURL" nillable="true" type="xs:string" /> 
                    <xs:element minOccurs="0" name="logoutURL" nillable="true" type="xs:string" /> 
                    <xs:element minOccurs="0" name="nameIDFormat" nillable="true" type="xs:string" /> 
                    <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" /> 
                    <xs:element minOccurs="0" name="rpSessionId" nillable="true" type="xs:string" /> 
                    <xs:element minOccurs="0" name="subject" nillable="true" type="xs:string" /> 
                    <xs:element minOccurs="0" name="useFullyQualifiedUsernameAsSubject" type="xs:boolean" /> 
                    <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" /> 
                </xs:sequence> 
            </xs:complexType> 
            <xs:complexType name="SAMLSSORespDTO"> 
                <xs:sequence> 
                    <xs:element minOccurs="0" name="assertionConsumerURL" nillable="true" type="xs:string" /> 
                    <xs:element minOccurs="0" name="loginPageURL" nillable="true" type="xs:string" /> 
                    <xs:element minOccurs="0" name="respString" nillable="true" type="xs:string" /> 
                    <xs:element minOccurs="0" name="sessionEstablished" type="xs:boolean" /> 
                </xs:sequence> 
            </xs:complexType> 
        </xs:schema> 
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://base.identity.carbon.wso2.org/xsd"> 
            <xs:complexType name="IdentityException"> 
                <xs:sequence /> 
            </xs:complexType> 
        </xs:schema> 
    </wsdl:types> 
    <wsdl:message name="authenticateRequest"> 
        <wsdl:part name="parameters" element="ns1:authenticate" /> 
    </wsdl:message> 
    <wsdl:message name="authenticateResponse"> 
        <wsdl:part name="parameters" element="ns1:authenticateResponse" /> 
    </wsdl:message> 
    <wsdl:message name="authenticateIdentityException"> 
        <wsdl:part name="parameters" element="ns1:authenticateIdentityException" /> 
    </wsdl:message> 
    <wsdl:message name="validateRequestRequest"> 
        <wsdl:part name="parameters" element="ns1:validateRequest" /> 
    </wsdl:message> 
    <wsdl:message name="validateRequestResponse"> 
        <wsdl:part name="parameters" element="ns1:validateRequestResponse" /> 
    </wsdl:message> 
    <wsdl:message name="validateRequestIdentityException"> 
        <wsdl:part name="parameters" element="ns1:validateRequestIdentityException" /> 
    </wsdl:message> 
    <wsdl:message name="doSingleLogoutRequest"> 
        <wsdl:part name="parameters" element="ns1:doSingleLogout" /> 
    </wsdl:message> 
    <wsdl:message name="doSingleLogoutResponse"> 
        <wsdl:part name="parameters" element="ns1:doSingleLogoutResponse" /> 
    </wsdl:message> 
    <wsdl:message name="doSingleLogoutIdentityException"> 
        <wsdl:part name="parameters" element="ns1:doSingleLogoutIdentityException" /> 
    </wsdl:message> 
    <wsdl:portType name="IdentitySAMLSSOServicePortType"> 
        <wsdl:operation name="authenticate"> 
            <wsdl:input message="tns:authenticateRequest" wsaw:Action="urn:authenticate" /> 
            <wsdl:output message="tns:authenticateResponse" wsaw:Action="urn:authenticateResponse" /> 
            <wsdl:fault message="tns:authenticateIdentityException" name="authenticateIdentityException" wsaw:Action="urn:authenticateauthenticateIdentityException" /> 
        </wsdl:operation> 
        <wsdl:operation name="validateRequest"> 
            <wsdl:input message="tns:validateRequestRequest" wsaw:Action="urn:validateRequest" /> 
            <wsdl:output message="tns:validateRequestResponse" wsaw:Action="urn:validateRequestResponse" /> 
            <wsdl:fault message="tns:validateRequestIdentityException" name="validateRequestIdentityException" wsaw:Action="urn:validateRequestvalidateRequestIdentityException" /> 
        </wsdl:operation> 
        <wsdl:operation name="doSingleLogout"> 
            <wsdl:input message="tns:doSingleLogoutRequest" wsaw:Action="urn:doSingleLogout" /> 
            <wsdl:output message="tns:doSingleLogoutResponse" wsaw:Action="urn:doSingleLogoutResponse" /> 
            <wsdl:fault message="tns:doSingleLogoutIdentityException" name="doSingleLogoutIdentityException" wsaw:Action="urn:doSingleLogoutdoSingleLogoutIdentityException" /> 
        </wsdl:operation> 
    </wsdl:portType> 
    <wsdl:binding name="IdentitySAMLSSOServiceSoap11Binding" type="tns:IdentitySAMLSSOServicePortType"> 
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" /> 
        <wsdl:operation name="authenticate"> 
            <soap:operation soapAction="urn:authenticate" style="document" /> 
            <wsdl:input> 
                <soap:body use="literal" /> 
            </wsdl:input> 
            <wsdl:output> 
                <soap:body use="literal" /> 
            </wsdl:output> 
            <wsdl:fault name="authenticateIdentityException"> 
                <soap:fault use="literal" name="authenticateIdentityException" /> 
            </wsdl:fault> 
        </wsdl:operation> 
        <wsdl:operation name="validateRequest"> 
            <soap:operation soapAction="urn:validateRequest" style="document" /> 
            <wsdl:input> 
                <soap:body use="literal" /> 
            </wsdl:input> 
            <wsdl:output> 
                <soap:body use="literal" /> 
            </wsdl:output> 
            <wsdl:fault name="validateRequestIdentityException"> 
                <soap:fault use="literal" name="validateRequestIdentityException" /> 
            </wsdl:fault> 
        </wsdl:operation> 
        <wsdl:operation name="doSingleLogout"> 
            <soap:operation soapAction="urn:doSingleLogout" style="document" /> 
            <wsdl:input> 
                <soap:body use="literal" /> 
            </wsdl:input> 
            <wsdl:output> 
                <soap:body use="literal" /> 
            </wsdl:output> 
            <wsdl:fault name="doSingleLogoutIdentityException"> 
                <soap:fault use="literal" name="doSingleLogoutIdentityException" /> 
            </wsdl:fault> 
        </wsdl:operation> 
    </wsdl:binding> 
    <wsdl:binding name="IdentitySAMLSSOServiceSoap12Binding" type="tns:IdentitySAMLSSOServicePortType"> 
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" /> 
        <wsdl:operation name="authenticate"> 
            <soap12:operation soapAction="urn:authenticate" style="document" /> 
            <wsdl:input> 
                <soap12:body use="literal" /> 
            </wsdl:input> 
            <wsdl:output> 
                <soap12:body use="literal" /> 
            </wsdl:output> 
            <wsdl:fault name="authenticateIdentityException"> 
                <soap12:fault use="literal" name="authenticateIdentityException" /> 
            </wsdl:fault> 
        </wsdl:operation> 
        <wsdl:operation name="validateRequest"> 
            <soap12:operation soapAction="urn:validateRequest" style="document" /> 
            <wsdl:input> 
                <soap12:body use="literal" /> 
            </wsdl:input> 
            <wsdl:output> 
                <soap12:body use="literal" /> 
            </wsdl:output> 
            <wsdl:fault name="validateRequestIdentityException"> 
                <soap12:fault use="literal" name="validateRequestIdentityException" /> 
            </wsdl:fault> 
        </wsdl:operation> 
        <wsdl:operation name="doSingleLogout"> 
            <soap12:operation soapAction="urn:doSingleLogout" style="document" /> 
            <wsdl:input> 
                <soap12:body use="literal" /> 
            </wsdl:input> 
            <wsdl:output> 
                <soap12:body use="literal" /> 
            </wsdl:output> 
            <wsdl:fault name="doSingleLogoutIdentityException"> 
                <soap12:fault use="literal" name="doSingleLogoutIdentityException" /> 
            </wsdl:fault> 
        </wsdl:operation> 
    </wsdl:binding> 
    <wsdl:binding name="IdentitySAMLSSOServiceHttpBinding" type="tns:IdentitySAMLSSOServicePortType"> 
        <http:binding verb="POST" /> 
        <wsdl:operation name="authenticate"> 
            <http:operation location="authenticate" /> 
            <wsdl:input> 
                <mime:content type="text/xml" part="parameters" /> 
            </wsdl:input> 
            <wsdl:output> 
                <mime:content type="text/xml" part="parameters" /> 
            </wsdl:output> 
        </wsdl:operation> 
        <wsdl:operation name="validateRequest"> 
            <http:operation location="validateRequest" /> 
            <wsdl:input> 
                <mime:content type="text/xml" part="parameters" /> 
            </wsdl:input> 
            <wsdl:output> 
                <mime:content type="text/xml" part="parameters" /> 
            </wsdl:output> 
        </wsdl:operation> 
        <wsdl:operation name="doSingleLogout"> 
            <http:operation location="doSingleLogout" /> 
            <wsdl:input> 
                <mime:content type="text/xml" part="parameters" /> 
            </wsdl:input> 
            <wsdl:output> 
                <mime:content type="text/xml" part="parameters" /> 
            </wsdl:output> 
        </wsdl:operation> 
    </wsdl:binding> 
    <wsdl:service name="IdentitySAMLSSOService"> 
        <wsdl:port name="IdentitySAMLSSOServiceHttpsSoap11Endpoint" binding="tns:IdentitySAMLSSOServiceSoap11Binding"> 
            <soap:address location="https://localhost:9443/services/IdentitySAMLSSOService.IdentitySAMLSSOServiceHttpsSoap11Endpoint/" /> 
        </wsdl:port> 
        <wsdl:port name="IdentitySAMLSSOServiceHttpsSoap12Endpoint" binding="tns:IdentitySAMLSSOServiceSoap12Binding"> 
            <soap12:address location="https://localhost:9443/services/IdentitySAMLSSOService.IdentitySAMLSSOServiceHttpsSoap12Endpoint/" /> 
        </wsdl:port> 
        <wsdl:port name="IdentitySAMLSSOServiceHttpsEndpoint" binding="tns:IdentitySAMLSSOServiceHttpBinding"> 
            <http:address location="https://localhost:9443/services/IdentitySAMLSSOService.IdentitySAMLSSOServiceHttpsEndpoint/" /> 
        </wsdl:port> 
    </wsdl:service> 
</wsdl:definitions>