components/workflows/org.wso2.carbon.workflow.mgt.bpel/ApprovalService/bpelContent/CallbackService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://cb.mgt.workflow.carbon.wso2.org/xsd"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:tns="http://cb.mgt.workflow.carbon.wso2.org" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  targetNamespace="http://cb.mgt.workflow.carbon.wso2.org">
    <wsdl:documentation>WorkflowCallbackService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified"
                   targetNamespace="http://cb.mgt.workflow.carbon.wso2.org/xsd">
            <xs:element name="onCallback">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="response" nillable="true"
                                    type="ns:WSWorkflowResponse"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="WSWorkflowResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="outputParams" nillable="true"
                                type="ns:WSParameter"></xs:element>
                    <xs:element minOccurs="0" name="requesterId" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="status" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="uuid" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="WSParameter">
                <xs:sequence>
                    <xs:element minOccurs="0" name="paramName" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="value" nillable="true" type="xs:anyType"></xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="onCallbackRequest">
        <wsdl:part name="parameters" element="ns:onCallback"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="WorkflowCallbackServicePortType">
        <wsdl:operation name="onCallback">
            <wsdl:input message="tns:onCallbackRequest" wsaw:Action="urn:onCallback"></wsdl:input>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="WorkflowCallbackServiceSoap11Binding" type="tns:WorkflowCallbackServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
        <wsdl:operation name="onCallback">
            <soap:operation soapAction="urn:onCallback" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="WorkflowCallbackServiceSoap12Binding" type="tns:WorkflowCallbackServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap12:binding>
        <wsdl:operation name="onCallback">
            <soap12:operation soapAction="urn:onCallback" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="WorkflowCallbackServiceHttpBinding" type="tns:WorkflowCallbackServicePortType">
        <http:binding verb="POST"></http:binding>
        <wsdl:operation name="onCallback">
            <http:operation location="onCallback"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="WorkflowCallbackService">
        <wsdl:port name="WorkflowCallbackServiceHttpsSoap11Endpoint" binding="tns:WorkflowCallbackServiceSoap11Binding">
            <soap:address
                    location="https://localhost:9443/services/WorkflowCallbackService.WorkflowCallbackServiceHttpsSoap11Endpoint/"></soap:address>
        </wsdl:port>
        <wsdl:port name="WorkflowCallbackServiceHttpsSoap12Endpoint" binding="tns:WorkflowCallbackServiceSoap12Binding">
            <soap12:address
                    location="https://localhost:9443/services/WorkflowCallbackService.WorkflowCallbackServiceHttpsSoap12Endpoint/"></soap12:address>
        </wsdl:port>
        <wsdl:port name="WorkflowCallbackServiceHttpsEndpoint" binding="tns:WorkflowCallbackServiceHttpBinding">
            <http:address
                    location="https://localhost:9443/services/WorkflowCallbackService.WorkflowCallbackServiceHttpsEndpoint/"></http:address>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>