components/workflows/org.wso2.carbon.workflow.mgt.bpel/DummyBPELService/bpelContent/CarbonBPELArtifacts.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://bpel.mgt.workflow.carbon.wso2.org"
             xmlns:wsdl1="http://callback.mgt.workflow.identity.carbon.wso2.org"
             xmlns="http://schemas.xmlsoap.org/wsdl/" name="CarbonBPEL"
             targetNamespace="http://bpel.mgt.workflow.carbon.wso2.org">

    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
         TYPE DEFINITION - List of services participating in this BPEL process
         The default output of the BPEL designer uses strings as input and
         output to the BPEL Process. But you can define or import any XML
         Schema type and us them as part of the message types.
         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <plnk:partnerLinkType name="callbackPLT">
        <plnk:role name="callbackRole" portType="wsdl1:WorkflowCallbackServicePortType"/>
    </plnk:partnerLinkType>
    <import location="CallbackService.wsdl" namespace="http://callback.mgt.workflow.identity.carbon.wso2.org"/>
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified"
                elementFormDefault="qualified" targetNamespace="http://bpel.mgt.workflow.carbon.wso2.org">
            <element name="ProcessRequest">
                <complexType>
                    <sequence>
                        <element name="uuid" type="string"/>
                        <element name="eventType" type="string"/>
                        <element maxOccurs="unbounded" minOccurs="0" name="parameter" type="tns:ParameterType"/>
                    </sequence>
                </complexType>
            </element>

            <complexType name="ParameterType">
                <sequence>
                    <element maxOccurs="1" minOccurs="1" name="value" type="anyType"/>
                </sequence>


                <attribute name="name" type="string"/>
            </complexType>
        </schema>
    </types>

    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
         MESSAGE TYPE DEFINITION - Definition of the message types used as
         part of the port type defintions
         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <message name="CarbonBPELRequestMessage">
        <part element="tns:ProcessRequest" name="payload"/>
    </message>

    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
         PORT TYPE DEFINITION - A port type groups a set of operations into
         a logical service unit.
         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <!-- portType implemented by the CarbonBPEL BPEL process -->
    <portType name="CarbonBPEL">
        <operation name="initiate">
            <input message="tns:CarbonBPELRequestMessage"/>
        </operation>
    </portType>

    <!-- portType implemented by the requester of CarbonBPEL BPEL process 
         for asynchronous callback purposes
         -->


    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
         PARTNER LINK TYPE DEFINITION
             the CarbonBPEL partnerLinkType binds the provider and
             requester portType into an asynchronous conversation.
         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <plnk:partnerLinkType name="CarbonBPEL">
        <plnk:role name="CarbonBPELProvider" portType="tns:CarbonBPEL"/>
    </plnk:partnerLinkType>

    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
         BINDING DEFINITION - Defines the message format and protocol details
         for a web service.
         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <binding name="CarbonBPELBinding" type="tns:CarbonBPEL">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="initiate">
            <soap:operation soapAction="http://bpel.mgt.workflow.carbon.wso2.org/initiate"/>
            <input>
                <soap:body use="literal"/>
            </input>
        </operation>
    </binding>


    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
         SERVICE DEFINITION - A service groups a set of ports into
         a service unit.
         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <service name="CarbonBPEL">
        <port binding="tns:CarbonBPELBinding" name="CarbonBPELPort">
            <soap:address location="http://localhost:8080/CarbonBPEL"/>
        </port>
    </service>

</definitions>
