components/sso-saml/org.wso2.carbon.identity.sso.saml/src/main/resources/META-INF/service.wsdl

<!--
  ~ *  Copyright (c) WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
  ~ *
  ~ *  WSO2 Inc. licenses this file to you under the Apache License,
  ~ *  Version 2.0 (the "License"); you may not use this file except
  ~ *  in compliance with the License.
  ~ *  You may obtain a copy of the License at
  ~ *
  ~ *    http://www.apache.org/licenses/LICENSE-2.0
  ~ *
  ~ * Unless required by applicable law or agreed to in writing,
  ~ * software distributed under the License is distributed on an
  ~ * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ * KIND, either express or implied.  See the License for the
  ~ * specific language governing permissions and limitations
  ~ * under the License.
  -->

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:samlp="urn:oasis:names:tc:SAML:2.0:protocol"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:tns="http://ws.apache.org/axis2" xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  targetNamespace="http://ws.apache.org/axis2">
    <wsdl:documentation>IdentitySAMLQueryRequestService</wsdl:documentation>
    <wsdl:types>

        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified"
                   xmlns:xs='http://www.w3.org/2001/XMLSchema'>
            <xs:import namespace="urn:oasis:names:tc:SAML:2.0:protocol" schemaLocation="schemas/saml-schema-protocol-2.0.xsd"/>
            <xs:element name="SubjectQuery" type="samlp:SubjectQueryAbstractType"/>
            <xs:element name="AuthzDecisionQuery" type="samlp:AuthzDecisionQueryType"/>
            <xs:element name="AuthnQuery" type="samlp:AuthnQueryType"/>
            <xs:element name="AttributeQuery" type="samlp:AttributeQueryType"/>
            <xs:element name="AssertionIDRequest" type="samlp:AssertionIDRequestType"/>
            <xs:element name="Response" type="samlp:ResponseType"/>
        </xs:schema>
    </wsdl:types>

    <wsdl:message name="AttributeQueryRequest">
        <wsdl:part name="parameters" element="samlp:AttributeQuery"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="Response">
        <wsdl:part name="parameters" element="samlp:Response"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="AssertionIDRequestRequest">
        <wsdl:part name="parameters" element="samlp:AssertionIDRequest"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="AuthnQueryRequest">
        <wsdl:part name="parameters" element="samlp:AuthnQuery"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="AuthzDecisionQueryRequest">
        <wsdl:part name="parameters" element="samlp:AuthzDecisionQuery"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="SubjectQueryRequest">
        <wsdl:part name="parameters" element="samlp:SubjectQuery"></wsdl:part>
    </wsdl:message>


    <wsdl:portType name="IdentitySAMLQueryRequestServicePortType">
        <wsdl:operation name="AttributeQuery">
            <wsdl:input message="tns:AttributeQueryRequest" wsaw:Action="urn:AttributeQuery"></wsdl:input>
            <wsdl:output message="tns:Response" wsaw:Action="urn:AttributeQueryResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="AssertionIDRequest">
            <wsdl:input message="tns:AssertionIDRequestRequest" wsaw:Action="urn:AssertionIDRequest"></wsdl:input>
            <wsdl:output message="tns:Response" wsaw:Action="urn:AssertionIDRequestResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="AuthnQuery">
            <wsdl:input message="tns:AuthnQueryRequest" wsaw:Action="urn:AuthnQuery"></wsdl:input>
            <wsdl:output message="tns:Response" wsaw:Action="urn:AuthnQueryResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="AuthzDecisionQuery">
            <wsdl:input message="tns:AuthzDecisionQueryRequest" wsaw:Action="urn:AuthzDecisionQuery"></wsdl:input>
            <wsdl:output message="tns:Response" wsaw:Action="urn:AuthzDecisionQueryResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="SubjectQuery">
            <wsdl:input message="tns:SubjectQueryRequest" wsaw:Action="urn:SubjectQuery"></wsdl:input>
            <wsdl:output message="tns:Response" wsaw:Action="urn:SubjectQueryResponse"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="IdentitySAMLQueryRequestServiceSoap11Binding"
                  type="tns:IdentitySAMLQueryRequestServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
        <wsdl:operation name="AttributeQuery">
            <soap:operation soapAction="urn:AttributeQuery" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="AssertionIDRequest">
            <soap:operation soapAction="urn:AssertionIDRequest" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="AuthnQuery">
            <soap:operation soapAction="urn:AuthnQuery" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="AuthzDecisionQuery">
            <soap:operation soapAction="urn:AuthzDecisionQuery" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="SubjectQuery">
            <soap:operation soapAction="urn:SubjectQuery" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:binding name="IdentitySAMLQueryRequestServiceSoap12Binding"
                  type="tns:IdentitySAMLQueryRequestServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap12:binding>
        <wsdl:operation name="AttributeQuery">
            <soap12:operation soapAction="urn:AttributeQuery" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="AssertionIDRequest">
            <soap12:operation soapAction="urn:AssertionIDRequest" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="AuthnQuery">
            <soap12:operation soapAction="urn:AuthnQuery" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="AuthzDecisionQuery">
            <soap12:operation soapAction="urn:AuthzDecisionQuery" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="SubjectQuery">
            <soap12:operation soapAction="urn:SubjectQuery" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:binding name="IdentitySAMLQueryRequestServiceHttpBinding" type="tns:IdentitySAMLQueryRequestServicePortType">
        <http:binding verb="POST"></http:binding>
        <wsdl:operation name="AttributeQuery">
            <http:operation location="AttributeQuery"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="AssertionIDRequest">
            <http:operation location="AssertionIDRequest"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="AuthnQuery">
            <http:operation location="AuthnQuery"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="AuthzDecisionQuery">
            <http:operation location="AuthzDecisionQuery"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="SubjectQuery">
            <http:operation location="SubjectQuery"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="IdentitySAMLQueryRequestService">
        <wsdl:port name="IdentitySAMLQueryRequestServiceHttpsSoap11Endpoint"
                   binding="tns:IdentitySAMLQueryRequestServiceSoap11Binding">
            <soap:address
                    location="https://localhost:9443/services/IdentitySAMLQueryRequestService.IdentitySAMLQueryRequestServiceHttpsSoap11Endpoint/"></soap:address>
        </wsdl:port>
        <wsdl:port name="IdentitySAMLQueryRequestServiceHttpsSoap12Endpoint"
                   binding="tns:IdentitySAMLQueryRequestServiceSoap12Binding">
            <soap12:address
                    location="https://localhost:9443/services/IdentitySAMLQueryRequestService.IdentitySAMLQueryRequestServiceHttpsSoap12Endpoint/"></soap12:address>
        </wsdl:port>
        <wsdl:port name="IdentitySAMLQueryRequestServiceHttpsEndpoint"
                   binding="tns:IdentitySAMLQueryRequestServiceHttpBinding">
            <http:address
                    location="https://localhost:9443/services/IdentitySAMLQueryRequestService.IdentitySAMLQueryRequestServiceHttpsEndpoint/"></http:address>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>