service-stubs/identity/org.wso2.carbon.identity.tools.saml.validator.stub/src/main/resources/IdentitySAMLValidatorService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ax2369="http://dto.validator.saml.tools.identity.carbon.wso2.org/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://validator.saml.tools.identity.carbon.wso2.org" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://validator.saml.tools.identity.carbon.wso2.org">
    <wsdl:documentation>IdentitySAMLValidatorService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ns="http://org.apache.axis2/xsd" xmlns:ax2370="http://dto.validator.saml.tools.identity.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://org.apache.axis2/xsd">
            <xs:import namespace="http://dto.validator.saml.tools.identity.carbon.wso2.org/xsd"></xs:import>
            <xs:element name="validateAuthnRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="samlRequest" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="isPost" type="xs:boolean"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="validateAuthnRequestResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2369:ValidatedItemDTO"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getIssuersOfSAMLServiceProviders">
                <xs:complexType>
                    <xs:sequence></xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getIssuersOfSAMLServiceProvidersResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="buildResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="issuer" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="buildResponseResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2369:GeneratedResponseDTO"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dto.validator.saml.tools.identity.carbon.wso2.org/xsd">
            <xs:complexType name="ValidatedItemDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="success" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="type" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="GeneratedResponseDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="encodedResponse" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="message" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="success" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="xmlResponse" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getIssuersOfSAMLServiceProvidersRequest">
        <wsdl:part name="parameters" element="ns1:getIssuersOfSAMLServiceProviders"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getIssuersOfSAMLServiceProvidersResponse">
        <wsdl:part name="parameters" element="ns1:getIssuersOfSAMLServiceProvidersResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="validateAuthnRequestRequest">
        <wsdl:part name="parameters" element="ns1:validateAuthnRequest"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="validateAuthnRequestResponse">
        <wsdl:part name="parameters" element="ns1:validateAuthnRequestResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="buildResponseRequest">
        <wsdl:part name="parameters" element="ns1:buildResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="buildResponseResponse">
        <wsdl:part name="parameters" element="ns1:buildResponseResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="IdentitySAMLValidatorServicePortType">
        <wsdl:operation name="getIssuersOfSAMLServiceProviders">
            <wsdl:input message="tns:getIssuersOfSAMLServiceProvidersRequest" wsaw:Action="urn:getIssuersOfSAMLServiceProviders"></wsdl:input>
            <wsdl:output message="tns:getIssuersOfSAMLServiceProvidersResponse" wsaw:Action="urn:getIssuersOfSAMLServiceProvidersResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="validateAuthnRequest">
            <wsdl:input message="tns:validateAuthnRequestRequest" wsaw:Action="urn:validateAuthnRequest"></wsdl:input>
            <wsdl:output message="tns:validateAuthnRequestResponse" wsaw:Action="urn:validateAuthnRequestResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="buildResponse">
            <wsdl:input message="tns:buildResponseRequest" wsaw:Action="urn:buildResponse"></wsdl:input>
            <wsdl:output message="tns:buildResponseResponse" wsaw:Action="urn:buildResponseResponse"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="IdentitySAMLValidatorServiceSoap11Binding" type="tns:IdentitySAMLValidatorServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
        <wsdl:operation name="getIssuersOfSAMLServiceProviders">
            <soap:operation soapAction="urn:getIssuersOfSAMLServiceProviders" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="validateAuthnRequest">
            <soap:operation soapAction="urn:validateAuthnRequest" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="buildResponse">
            <soap:operation soapAction="urn:buildResponse" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="IdentitySAMLValidatorServiceSoap12Binding" type="tns:IdentitySAMLValidatorServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap12:binding>
        <wsdl:operation name="getIssuersOfSAMLServiceProviders">
            <soap12:operation soapAction="urn:getIssuersOfSAMLServiceProviders" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="validateAuthnRequest">
            <soap12:operation soapAction="urn:validateAuthnRequest" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="buildResponse">
            <soap12:operation soapAction="urn:buildResponse" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="IdentitySAMLValidatorServiceHttpBinding" type="tns:IdentitySAMLValidatorServicePortType">
        <http:binding verb="POST"></http:binding>
        <wsdl:operation name="getIssuersOfSAMLServiceProviders">
            <http:operation location="getIssuersOfSAMLServiceProviders"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="validateAuthnRequest">
            <http:operation location="validateAuthnRequest"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="buildResponse">
            <http:operation location="buildResponse"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="IdentitySAMLValidatorService">
        <wsdl:port name="IdentitySAMLValidatorServiceHttpsSoap11Endpoint" binding="tns:IdentitySAMLValidatorServiceSoap11Binding">
            <soap:address location="https://localhost:9443/services/IdentitySAMLValidatorService.IdentitySAMLValidatorServiceHttpsSoap11Endpoint/"></soap:address>
        </wsdl:port>
        <wsdl:port name="IdentitySAMLValidatorServiceHttpsSoap12Endpoint" binding="tns:IdentitySAMLValidatorServiceSoap12Binding">
            <soap12:address location="https://localhost:9443/services/IdentitySAMLValidatorService.IdentitySAMLValidatorServiceHttpsSoap12Endpoint/"></soap12:address>
        </wsdl:port>
        <wsdl:port name="IdentitySAMLValidatorServiceHttpsEndpoint" binding="tns:IdentitySAMLValidatorServiceHttpBinding">
            <http:address location="https://localhost:9443/services/IdentitySAMLValidatorService.IdentitySAMLValidatorServiceHttpsEndpoint/"></http:address>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>