service-stubs/identity/org.wso2.carbon.identity.workflow.mgt.stub/src/main/resources/WorkflowAdminService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:ns="http://mgt.workflow.identity.carbon.wso2.org/xsd"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:ax2381="http://exception.mgt.workflow.identity.carbon.wso2.org/xsd"
                  xmlns:tns="http://mgt.workflow.identity.carbon.wso2.org"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:ax2383="http://bean.mgt.workflow.identity.carbon.wso2.org/xsd"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  targetNamespace="http://mgt.workflow.identity.carbon.wso2.org">
    <wsdl:documentation>WorkflowAdminService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified"
                   targetNamespace="http://exception.mgt.workflow.identity.carbon.wso2.org/xsd">
            <xs:complexType name="WorkflowException">
                <xs:sequence/>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified"
                   targetNamespace="http://bean.mgt.workflow.identity.carbon.wso2.org/xsd">
            <xs:complexType name="WorkflowEventDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="eventCategory" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="eventDescription" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="eventFriendlyName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="eventId" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="parameterDTOs" nillable="true"
                                type="ax2383:ParameterDTO"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ParameterDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="paramName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="paramValue" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="TemplateBean">
                <xs:sequence>
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="id" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="TemplateDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="id" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="implementations" nillable="true"
                                type="ax2383:TemplateImplDTO"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="parameters" nillable="true"
                                type="ax2383:TemplateParameterDef"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="TemplateImplDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="implementationId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="implementationName" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="implementationParams" nillable="true"
                                type="ax2383:TemplateParameterDef"/>
                    <xs:element minOccurs="0" name="templateId" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="TemplateParameterDef">
                <xs:sequence>
                    <xs:element minOccurs="0" name="defaultValue" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="displayName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="mandatory" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="paramName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="paramType" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="BPSProfileDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="callbackPassword" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="callbackUser" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="host" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="profileName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="WorkflowDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="implementationName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="templateName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="workflowDescription" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="workflowId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="workflowName" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="AssociationDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="associationId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="associationName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="condition" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="enabled" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="eventCategory" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="eventId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="eventName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="workflowId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="workflowName" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="WorkflowRequestDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="createdAt" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="eventType" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="requestId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="requestParams" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="status" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="updatedAt" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="WorkflowRequestAssociationDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="lastUpdatedTime" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="status" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="workflowId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="workflowName" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2384="http://bean.mgt.workflow.identity.carbon.wso2.org/xsd" attributeFormDefault="qualified"
                   elementFormDefault="qualified" targetNamespace="http://mgt.workflow.identity.carbon.wso2.org/xsd">
            <xs:import namespace="http://exception.mgt.workflow.identity.carbon.wso2.org/xsd"/>
            <xs:import namespace="http://bean.mgt.workflow.identity.carbon.wso2.org/xsd"/>
            <xs:element name="WorkflowAdminServiceWorkflowException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="WorkflowException" nillable="true"
                                    type="ax2381:WorkflowException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="removeAssociation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="associationId" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addAssociation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="associationName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="workflowId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="eventId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="condition" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listWorkflowEvents">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="listWorkflowEventsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true"
                                    type="ax2384:WorkflowEventDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listWorkflowTemplates">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="listWorkflowTemplatesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true"
                                    type="ax2384:TemplateBean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTemplateDTO">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="templateName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTemplateDTOResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2384:TemplateDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTemplateImplDTO">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="template" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="implName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTemplateImplDTOResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2384:TemplateImplDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addBPSProfile">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="bpsProfileDTO" nillable="true" type="ax2384:BPSProfileDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addWorkflow">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="workflowDTO" nillable="true" type="ax2384:WorkflowDTO"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="templateParams" nillable="true"
                                    type="ax2384:ParameterDTO"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="implParams" nillable="true"
                                    type="ax2384:ParameterDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="changeAssociationState">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="associationId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="isEnable" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listWorkflows">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="listWorkflowsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true"
                                    type="ax2384:WorkflowDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="removeWorkflow">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listAssociationsForWorkflow">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="workflowId" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listAssociationsForWorkflowResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true"
                                    type="ax2384:AssociationDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listAllAssociations">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="listAllAssociationsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true"
                                    type="ax2384:AssociationDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getRequestsCreatedByUser">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="beginDate" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="dateCategory" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getRequestsCreatedByUserResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true"
                                    type="ax2384:WorkflowRequestDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getRequestsInFilter">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="beginDate" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="dateCategory" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getRequestsInFilterResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true"
                                    type="ax2384:WorkflowRequestDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteWorkflowRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="requestId" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getWorkflowsOfRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="requestId" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getWorkflowsOfRequestResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true"
                                    type="ax2384:WorkflowRequestAssociationDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listBPSProfiles">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="listBPSProfilesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true"
                                    type="ax2384:BPSProfileDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getBPSProfile">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="bpsProfileName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getBPSProfileResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2384:BPSProfileDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateBPSProfile">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="bpsProfileDTO" nillable="true" type="ax2384:BPSProfileDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="removeBPSProfile">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="profileName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getEvent">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="eventId" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getEventResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2384:WorkflowEventDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="deleteWorkflowRequestRequest">
        <wsdl:part name="parameters" element="ns:deleteWorkflowRequest"/>
    </wsdl:message>
    <wsdl:message name="WorkflowAdminServiceWorkflowException">
        <wsdl:part name="parameters" element="ns:WorkflowAdminServiceWorkflowException"/>
    </wsdl:message>
    <wsdl:message name="getRequestsCreatedByUserRequest">
        <wsdl:part name="parameters" element="ns:getRequestsCreatedByUser"/>
    </wsdl:message>
    <wsdl:message name="getRequestsCreatedByUserResponse">
        <wsdl:part name="parameters" element="ns:getRequestsCreatedByUserResponse"/>
    </wsdl:message>
    <wsdl:message name="getRequestsInFilterRequest">
        <wsdl:part name="parameters" element="ns:getRequestsInFilter"/>
    </wsdl:message>
    <wsdl:message name="getRequestsInFilterResponse">
        <wsdl:part name="parameters" element="ns:getRequestsInFilterResponse"/>
    </wsdl:message>
    <wsdl:message name="getTemplateDTORequest">
        <wsdl:part name="parameters" element="ns:getTemplateDTO"/>
    </wsdl:message>
    <wsdl:message name="getTemplateDTOResponse">
        <wsdl:part name="parameters" element="ns:getTemplateDTOResponse"/>
    </wsdl:message>
    <wsdl:message name="addBPSProfileRequest">
        <wsdl:part name="parameters" element="ns:addBPSProfile"/>
    </wsdl:message>
    <wsdl:message name="removeBPSProfileRequest">
        <wsdl:part name="parameters" element="ns:removeBPSProfile"/>
    </wsdl:message>
    <wsdl:message name="listBPSProfilesRequest">
        <wsdl:part name="parameters" element="ns:listBPSProfiles"/>
    </wsdl:message>
    <wsdl:message name="listBPSProfilesResponse">
        <wsdl:part name="parameters" element="ns:listBPSProfilesResponse"/>
    </wsdl:message>
    <wsdl:message name="listAllAssociationsRequest">
        <wsdl:part name="parameters" element="ns:listAllAssociations"/>
    </wsdl:message>
    <wsdl:message name="listAllAssociationsResponse">
        <wsdl:part name="parameters" element="ns:listAllAssociationsResponse"/>
    </wsdl:message>
    <wsdl:message name="getWorkflowsOfRequestRequest">
        <wsdl:part name="parameters" element="ns:getWorkflowsOfRequest"/>
    </wsdl:message>
    <wsdl:message name="getWorkflowsOfRequestResponse">
        <wsdl:part name="parameters" element="ns:getWorkflowsOfRequestResponse"/>
    </wsdl:message>
    <wsdl:message name="addAssociationRequest">
        <wsdl:part name="parameters" element="ns:addAssociation"/>
    </wsdl:message>
    <wsdl:message name="getTemplateImplDTORequest">
        <wsdl:part name="parameters" element="ns:getTemplateImplDTO"/>
    </wsdl:message>
    <wsdl:message name="getTemplateImplDTOResponse">
        <wsdl:part name="parameters" element="ns:getTemplateImplDTOResponse"/>
    </wsdl:message>
    <wsdl:message name="listWorkflowsRequest">
        <wsdl:part name="parameters" element="ns:listWorkflows"/>
    </wsdl:message>
    <wsdl:message name="listWorkflowsResponse">
        <wsdl:part name="parameters" element="ns:listWorkflowsResponse"/>
    </wsdl:message>
    <wsdl:message name="listAssociationsForWorkflowRequest">
        <wsdl:part name="parameters" element="ns:listAssociationsForWorkflow"/>
    </wsdl:message>
    <wsdl:message name="listAssociationsForWorkflowResponse">
        <wsdl:part name="parameters" element="ns:listAssociationsForWorkflowResponse"/>
    </wsdl:message>
    <wsdl:message name="getBPSProfileRequest">
        <wsdl:part name="parameters" element="ns:getBPSProfile"/>
    </wsdl:message>
    <wsdl:message name="getBPSProfileResponse">
        <wsdl:part name="parameters" element="ns:getBPSProfileResponse"/>
    </wsdl:message>
    <wsdl:message name="addWorkflowRequest">
        <wsdl:part name="parameters" element="ns:addWorkflow"/>
    </wsdl:message>
    <wsdl:message name="listWorkflowTemplatesRequest">
        <wsdl:part name="parameters" element="ns:listWorkflowTemplates"/>
    </wsdl:message>
    <wsdl:message name="listWorkflowTemplatesResponse">
        <wsdl:part name="parameters" element="ns:listWorkflowTemplatesResponse"/>
    </wsdl:message>
    <wsdl:message name="changeAssociationStateRequest">
        <wsdl:part name="parameters" element="ns:changeAssociationState"/>
    </wsdl:message>
    <wsdl:message name="removeAssociationRequest">
        <wsdl:part name="parameters" element="ns:removeAssociation"/>
    </wsdl:message>
    <wsdl:message name="getEventRequest">
        <wsdl:part name="parameters" element="ns:getEvent"/>
    </wsdl:message>
    <wsdl:message name="getEventResponse">
        <wsdl:part name="parameters" element="ns:getEventResponse"/>
    </wsdl:message>
    <wsdl:message name="listWorkflowEventsRequest">
        <wsdl:part name="parameters" element="ns:listWorkflowEvents"/>
    </wsdl:message>
    <wsdl:message name="listWorkflowEventsResponse">
        <wsdl:part name="parameters" element="ns:listWorkflowEventsResponse"/>
    </wsdl:message>
    <wsdl:message name="updateBPSProfileRequest">
        <wsdl:part name="parameters" element="ns:updateBPSProfile"/>
    </wsdl:message>
    <wsdl:message name="removeWorkflowRequest">
        <wsdl:part name="parameters" element="ns:removeWorkflow"/>
    </wsdl:message>
    <wsdl:portType name="WorkflowAdminServicePortType">
        <wsdl:operation name="deleteWorkflowRequest">
            <wsdl:input message="tns:deleteWorkflowRequestRequest" wsaw:Action="urn:deleteWorkflowRequest"/>
            <wsdl:fault message="tns:WorkflowAdminServiceWorkflowException" name="WorkflowAdminServiceWorkflowException"
                        wsaw:Action="urn:deleteWorkflowRequestWorkflowAdminServiceWorkflowException"/>
        </wsdl:operation>
        <wsdl:operation name="getRequestsCreatedByUser">
            <wsdl:input message="tns:getRequestsCreatedByUserRequest" wsaw:Action="urn:getRequestsCreatedByUser"/>
            <wsdl:output message="tns:getRequestsCreatedByUserResponse"
                         wsaw:Action="urn:getRequestsCreatedByUserResponse"/>
            <wsdl:fault message="tns:WorkflowAdminServiceWorkflowException" name="WorkflowAdminServiceWorkflowException"
                        wsaw:Action="urn:getRequestsCreatedByUserWorkflowAdminServiceWorkflowException"/>
        </wsdl:operation>
        <wsdl:operation name="getRequestsInFilter">
            <wsdl:input message="tns:getRequestsInFilterRequest" wsaw:Action="urn:getRequestsInFilter"/>
            <wsdl:output message="tns:getRequestsInFilterResponse" wsaw:Action="urn:getRequestsInFilterResponse"/>
            <wsdl:fault message="tns:WorkflowAdminServiceWorkflowException" name="WorkflowAdminServiceWorkflowException"
                        wsaw:Action="urn:getRequestsInFilterWorkflowAdminServiceWorkflowException"/>
        </wsdl:operation>
        <wsdl:operation name="getTemplateDTO">
            <wsdl:input message="tns:getTemplateDTORequest" wsaw:Action="urn:getTemplateDTO"/>
            <wsdl:output message="tns:getTemplateDTOResponse" wsaw:Action="urn:getTemplateDTOResponse"/>
        </wsdl:operation>
        <wsdl:operation name="addBPSProfile">
            <wsdl:input message="tns:addBPSProfileRequest" wsaw:Action="urn:addBPSProfile"/>
            <wsdl:fault message="tns:WorkflowAdminServiceWorkflowException" name="WorkflowAdminServiceWorkflowException"
                        wsaw:Action="urn:addBPSProfileWorkflowAdminServiceWorkflowException"/>
        </wsdl:operation>
        <wsdl:operation name="removeBPSProfile">
            <wsdl:input message="tns:removeBPSProfileRequest" wsaw:Action="urn:removeBPSProfile"/>
            <wsdl:fault message="tns:WorkflowAdminServiceWorkflowException" name="WorkflowAdminServiceWorkflowException"
                        wsaw:Action="urn:removeBPSProfileWorkflowAdminServiceWorkflowException"/>
        </wsdl:operation>
        <wsdl:operation name="listBPSProfiles">
            <wsdl:input message="tns:listBPSProfilesRequest" wsaw:Action="urn:listBPSProfiles"/>
            <wsdl:output message="tns:listBPSProfilesResponse" wsaw:Action="urn:listBPSProfilesResponse"/>
            <wsdl:fault message="tns:WorkflowAdminServiceWorkflowException" name="WorkflowAdminServiceWorkflowException"
                        wsaw:Action="urn:listBPSProfilesWorkflowAdminServiceWorkflowException"/>
        </wsdl:operation>
        <wsdl:operation name="listAllAssociations">
            <wsdl:input message="tns:listAllAssociationsRequest" wsaw:Action="urn:listAllAssociations"/>
            <wsdl:output message="tns:listAllAssociationsResponse" wsaw:Action="urn:listAllAssociationsResponse"/>
            <wsdl:fault message="tns:WorkflowAdminServiceWorkflowException" name="WorkflowAdminServiceWorkflowException"
                        wsaw:Action="urn:listAllAssociationsWorkflowAdminServiceWorkflowException"/>
        </wsdl:operation>
        <wsdl:operation name="getWorkflowsOfRequest">
            <wsdl:input message="tns:getWorkflowsOfRequestRequest" wsaw:Action="urn:getWorkflowsOfRequest"/>
            <wsdl:output message="tns:getWorkflowsOfRequestResponse" wsaw:Action="urn:getWorkflowsOfRequestResponse"/>
            <wsdl:fault message="tns:WorkflowAdminServiceWorkflowException" name="WorkflowAdminServiceWorkflowException"
                        wsaw:Action="urn:getWorkflowsOfRequestWorkflowAdminServiceWorkflowException"/>
        </wsdl:operation>
        <wsdl:operation name="addAssociation">
            <wsdl:input message="tns:addAssociationRequest" wsaw:Action="urn:addAssociation"/>
            <wsdl:fault message="tns:WorkflowAdminServiceWorkflowException" name="WorkflowAdminServiceWorkflowException"
                        wsaw:Action="urn:addAssociationWorkflowAdminServiceWorkflowException"/>
        </wsdl:operation>
        <wsdl:operation name="getTemplateImplDTO">
            <wsdl:input message="tns:getTemplateImplDTORequest" wsaw:Action="urn:getTemplateImplDTO"/>
            <wsdl:output message="tns:getTemplateImplDTOResponse" wsaw:Action="urn:getTemplateImplDTOResponse"/>
        </wsdl:operation>
        <wsdl:operation name="listWorkflows">
            <wsdl:input message="tns:listWorkflowsRequest" wsaw:Action="urn:listWorkflows"/>
            <wsdl:output message="tns:listWorkflowsResponse" wsaw:Action="urn:listWorkflowsResponse"/>
            <wsdl:fault message="tns:WorkflowAdminServiceWorkflowException" name="WorkflowAdminServiceWorkflowException"
                        wsaw:Action="urn:listWorkflowsWorkflowAdminServiceWorkflowException"/>
        </wsdl:operation>
        <wsdl:operation name="listAssociationsForWorkflow">
            <wsdl:input message="tns:listAssociationsForWorkflowRequest" wsaw:Action="urn:listAssociationsForWorkflow"/>
            <wsdl:output message="tns:listAssociationsForWorkflowResponse"
                         wsaw:Action="urn:listAssociationsForWorkflowResponse"/>
            <wsdl:fault message="tns:WorkflowAdminServiceWorkflowException" name="WorkflowAdminServiceWorkflowException"
                        wsaw:Action="urn:listAssociationsForWorkflowWorkflowAdminServiceWorkflowException"/>
        </wsdl:operation>
        <wsdl:operation name="getBPSProfile">
            <wsdl:input message="tns:getBPSProfileRequest" wsaw:Action="urn:getBPSProfile"/>
            <wsdl:output message="tns:getBPSProfileResponse" wsaw:Action="urn:getBPSProfileResponse"/>
            <wsdl:fault message="tns:WorkflowAdminServiceWorkflowException" name="WorkflowAdminServiceWorkflowException"
                        wsaw:Action="urn:getBPSProfileWorkflowAdminServiceWorkflowException"/>
        </wsdl:operation>
        <wsdl:operation name="addWorkflow">
            <wsdl:input message="tns:addWorkflowRequest" wsaw:Action="urn:addWorkflow"/>
            <wsdl:fault message="tns:WorkflowAdminServiceWorkflowException" name="WorkflowAdminServiceWorkflowException"
                        wsaw:Action="urn:addWorkflowWorkflowAdminServiceWorkflowException"/>
        </wsdl:operation>
        <wsdl:operation name="listWorkflowTemplates">
            <wsdl:input message="tns:listWorkflowTemplatesRequest" wsaw:Action="urn:listWorkflowTemplates"/>
            <wsdl:output message="tns:listWorkflowTemplatesResponse" wsaw:Action="urn:listWorkflowTemplatesResponse"/>
        </wsdl:operation>
        <wsdl:operation name="changeAssociationState">
            <wsdl:input message="tns:changeAssociationStateRequest" wsaw:Action="urn:changeAssociationState"/>
            <wsdl:fault message="tns:WorkflowAdminServiceWorkflowException" name="WorkflowAdminServiceWorkflowException"
                        wsaw:Action="urn:changeAssociationStateWorkflowAdminServiceWorkflowException"/>
        </wsdl:operation>
        <wsdl:operation name="removeAssociation">
            <wsdl:input message="tns:removeAssociationRequest" wsaw:Action="urn:removeAssociation"/>
            <wsdl:fault message="tns:WorkflowAdminServiceWorkflowException" name="WorkflowAdminServiceWorkflowException"
                        wsaw:Action="urn:removeAssociationWorkflowAdminServiceWorkflowException"/>
        </wsdl:operation>
        <wsdl:operation name="getEvent">
            <wsdl:input message="tns:getEventRequest" wsaw:Action="urn:getEvent"/>
            <wsdl:output message="tns:getEventResponse" wsaw:Action="urn:getEventResponse"/>
        </wsdl:operation>
        <wsdl:operation name="listWorkflowEvents">
            <wsdl:input message="tns:listWorkflowEventsRequest" wsaw:Action="urn:listWorkflowEvents"/>
            <wsdl:output message="tns:listWorkflowEventsResponse" wsaw:Action="urn:listWorkflowEventsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="updateBPSProfile">
            <wsdl:input message="tns:updateBPSProfileRequest" wsaw:Action="urn:updateBPSProfile"/>
            <wsdl:fault message="tns:WorkflowAdminServiceWorkflowException" name="WorkflowAdminServiceWorkflowException"
                        wsaw:Action="urn:updateBPSProfileWorkflowAdminServiceWorkflowException"/>
        </wsdl:operation>
        <wsdl:operation name="removeWorkflow">
            <wsdl:input message="tns:removeWorkflowRequest" wsaw:Action="urn:removeWorkflow"/>
            <wsdl:fault message="tns:WorkflowAdminServiceWorkflowException" name="WorkflowAdminServiceWorkflowException"
                        wsaw:Action="urn:removeWorkflowWorkflowAdminServiceWorkflowException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="WorkflowAdminServiceSoap11Binding" type="tns:WorkflowAdminServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="deleteWorkflowRequest">
            <soap:operation soapAction="urn:deleteWorkflowRequest" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getRequestsCreatedByUser">
            <soap:operation soapAction="urn:getRequestsCreatedByUser" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getRequestsInFilter">
            <soap:operation soapAction="urn:getRequestsInFilter" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getTemplateDTO">
            <soap:operation soapAction="urn:getTemplateDTO" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addBPSProfile">
            <soap:operation soapAction="urn:addBPSProfile" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="listAllAssociations">
            <soap:operation soapAction="urn:listAllAssociations" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="listBPSProfiles">
            <soap:operation soapAction="urn:listBPSProfiles" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="removeBPSProfile">
            <soap:operation soapAction="urn:removeBPSProfile" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getWorkflowsOfRequest">
            <soap:operation soapAction="urn:getWorkflowsOfRequest" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addAssociation">
            <soap:operation soapAction="urn:addAssociation" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getTemplateImplDTO">
            <soap:operation soapAction="urn:getTemplateImplDTO" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listWorkflows">
            <soap:operation soapAction="urn:listWorkflows" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="listAssociationsForWorkflow">
            <soap:operation soapAction="urn:listAssociationsForWorkflow" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addWorkflow">
            <soap:operation soapAction="urn:addWorkflow" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getBPSProfile">
            <soap:operation soapAction="urn:getBPSProfile" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="listWorkflowTemplates">
            <soap:operation soapAction="urn:listWorkflowTemplates" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="changeAssociationState">
            <soap:operation soapAction="urn:changeAssociationState" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="removeAssociation">
            <soap:operation soapAction="urn:removeAssociation" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getEvent">
            <soap:operation soapAction="urn:getEvent" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listWorkflowEvents">
            <soap:operation soapAction="urn:listWorkflowEvents" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateBPSProfile">
            <soap:operation soapAction="urn:updateBPSProfile" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="removeWorkflow">
            <soap:operation soapAction="urn:removeWorkflow" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="WorkflowAdminServiceSoap12Binding" type="tns:WorkflowAdminServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="deleteWorkflowRequest">
            <soap12:operation soapAction="urn:deleteWorkflowRequest" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap12:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getRequestsCreatedByUser">
            <soap12:operation soapAction="urn:getRequestsCreatedByUser" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap12:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getRequestsInFilter">
            <soap12:operation soapAction="urn:getRequestsInFilter" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap12:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getTemplateDTO">
            <soap12:operation soapAction="urn:getTemplateDTO" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addBPSProfile">
            <soap12:operation soapAction="urn:addBPSProfile" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap12:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="listAllAssociations">
            <soap12:operation soapAction="urn:listAllAssociations" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap12:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="listBPSProfiles">
            <soap12:operation soapAction="urn:listBPSProfiles" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap12:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="removeBPSProfile">
            <soap12:operation soapAction="urn:removeBPSProfile" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap12:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getWorkflowsOfRequest">
            <soap12:operation soapAction="urn:getWorkflowsOfRequest" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap12:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addAssociation">
            <soap12:operation soapAction="urn:addAssociation" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap12:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getTemplateImplDTO">
            <soap12:operation soapAction="urn:getTemplateImplDTO" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listWorkflows">
            <soap12:operation soapAction="urn:listWorkflows" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap12:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="listAssociationsForWorkflow">
            <soap12:operation soapAction="urn:listAssociationsForWorkflow" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap12:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addWorkflow">
            <soap12:operation soapAction="urn:addWorkflow" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap12:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getBPSProfile">
            <soap12:operation soapAction="urn:getBPSProfile" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap12:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="listWorkflowTemplates">
            <soap12:operation soapAction="urn:listWorkflowTemplates" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="changeAssociationState">
            <soap12:operation soapAction="urn:changeAssociationState" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap12:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="removeAssociation">
            <soap12:operation soapAction="urn:removeAssociation" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap12:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getEvent">
            <soap12:operation soapAction="urn:getEvent" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listWorkflowEvents">
            <soap12:operation soapAction="urn:listWorkflowEvents" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateBPSProfile">
            <soap12:operation soapAction="urn:updateBPSProfile" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap12:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="removeWorkflow">
            <soap12:operation soapAction="urn:removeWorkflow" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap12:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="WorkflowAdminServiceHttpBinding" type="tns:WorkflowAdminServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="deleteWorkflowRequest">
            <http:operation location="deleteWorkflowRequest"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getRequestsCreatedByUser">
            <http:operation location="getRequestsCreatedByUser"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getRequestsInFilter">
            <http:operation location="getRequestsInFilter"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTemplateDTO">
            <http:operation location="getTemplateDTO"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addBPSProfile">
            <http:operation location="addBPSProfile"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="listAllAssociations">
            <http:operation location="listAllAssociations"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listBPSProfiles">
            <http:operation location="listBPSProfiles"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="removeBPSProfile">
            <http:operation location="removeBPSProfile"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getWorkflowsOfRequest">
            <http:operation location="getWorkflowsOfRequest"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addAssociation">
            <http:operation location="addAssociation"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getTemplateImplDTO">
            <http:operation location="getTemplateImplDTO"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listWorkflows">
            <http:operation location="listWorkflows"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listAssociationsForWorkflow">
            <http:operation location="listAssociationsForWorkflow"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addWorkflow">
            <http:operation location="addWorkflow"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getBPSProfile">
            <http:operation location="getBPSProfile"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listWorkflowTemplates">
            <http:operation location="listWorkflowTemplates"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="changeAssociationState">
            <http:operation location="changeAssociationState"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="removeAssociation">
            <http:operation location="removeAssociation"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getEvent">
            <http:operation location="getEvent"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listWorkflowEvents">
            <http:operation location="listWorkflowEvents"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateBPSProfile">
            <http:operation location="updateBPSProfile"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="removeWorkflow">
            <http:operation location="removeWorkflow"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="WorkflowAdminService">
        <wsdl:port name="WorkflowAdminServiceHttpsSoap11Endpoint" binding="tns:WorkflowAdminServiceSoap11Binding">
            <soap:address
                    location="https://localhost:9443/services/WorkflowAdminService.WorkflowAdminServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="WorkflowAdminServiceHttpsSoap12Endpoint" binding="tns:WorkflowAdminServiceSoap12Binding">
            <soap12:address
                    location="https://localhost:9443/services/WorkflowAdminService.WorkflowAdminServiceHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="WorkflowAdminServiceHttpsEndpoint" binding="tns:WorkflowAdminServiceHttpBinding">
            <http:address
                    location="https://localhost:9443/services/WorkflowAdminService.WorkflowAdminServiceHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
