service-stubs/identity/org.wso2.carbon.identity.workflow.mgt.stub/src/main/resources/WorkflowAdminService.wsdl

<!--
  ~ Copyright (c) 2015 WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
  ~
  ~ WSO2 Inc. licenses this file to you under the Apache License,
  ~ Version 2.0 (the "License"); you may not use this file except
  ~ in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:ns="http://mgt.workflow.identity.carbon.wso2.org/xsd"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:tns="http://mgt.workflow.identity.carbon.wso2.org"
                  xmlns:ax2395="http://bean.mgt.workflow.identity.carbon.wso2.org/xsd"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  targetNamespace="http://mgt.workflow.identity.carbon.wso2.org">
    <wsdl:documentation>WorkflowAdminService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified"
                   targetNamespace="http://bean.mgt.workflow.identity.carbon.wso2.org/xsd">
            <xs:complexType name="WorkflowEventBean">
                <xs:sequence>
                    <xs:element minOccurs="0" name="eventName" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="parameters" nillable="true"
                                type="ax2395:WorkflowEventParameterBean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="WorkflowEventParameterBean">
                <xs:sequence>
                    <xs:element minOccurs="0" name="parameterName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="parameterType" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="WSServiceBean">
                <xs:sequence>
                    <xs:element minOccurs="0" name="alias" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="serviceEndpoint" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="wsAction" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ServiceAssociationDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="event" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="priority" type="xs:int"/>
                    <xs:element minOccurs="0" name="serviceAlias" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified"
                   targetNamespace="http://mgt.workflow.identity.carbon.wso2.org/xsd">
            <xs:import namespace="http://bean.mgt.workflow.identity.carbon.wso2.org/xsd"/>
            <xs:element name="WorkflowAdminServiceWorkflowException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="WorkflowException" nillable="true" type="ns:WorkflowException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="WorkflowException">
                <xs:sequence/>
            </xs:complexType>
            <xs:element name="removeWSService">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="alias" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="associateWSServiceToEvent">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serviceAlias" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="eventType" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="condition" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="priority" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listWorkflowEvents">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="listWorkflowEventsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true"
                                    type="ax2395:WorkflowEventBean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addWSService">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="service" nillable="true" type="ax2395:WSServiceBean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listWSServices">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="listWSServicesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true"
                                    type="ax2395:ServiceAssociationDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="removeWSServiceRequest">
        <wsdl:part name="parameters" element="ns:removeWSService"/>
    </wsdl:message>
    <wsdl:message name="WorkflowAdminServiceWorkflowException">
        <wsdl:part name="parameters" element="ns:WorkflowAdminServiceWorkflowException"/>
    </wsdl:message>
    <wsdl:message name="listWSServicesRequest">
        <wsdl:part name="parameters" element="ns:listWSServices"/>
    </wsdl:message>
    <wsdl:message name="listWSServicesResponse">
        <wsdl:part name="parameters" element="ns:listWSServicesResponse"/>
    </wsdl:message>
    <wsdl:message name="addWSServiceRequest">
        <wsdl:part name="parameters" element="ns:addWSService"/>
    </wsdl:message>
    <wsdl:message name="listWorkflowEventsRequest">
        <wsdl:part name="parameters" element="ns:listWorkflowEvents"/>
    </wsdl:message>
    <wsdl:message name="listWorkflowEventsResponse">
        <wsdl:part name="parameters" element="ns:listWorkflowEventsResponse"/>
    </wsdl:message>
    <wsdl:message name="associateWSServiceToEventRequest">
        <wsdl:part name="parameters" element="ns:associateWSServiceToEvent"/>
    </wsdl:message>
    <wsdl:portType name="WorkflowAdminServicePortType">
        <wsdl:operation name="removeWSService">
            <wsdl:input message="tns:removeWSServiceRequest" wsaw:Action="urn:removeWSService"/>
            <wsdl:fault message="tns:WorkflowAdminServiceWorkflowException" name="WorkflowAdminServiceWorkflowException"
                        wsaw:Action="urn:removeWSServiceWorkflowAdminServiceWorkflowException"/>
        </wsdl:operation>
        <wsdl:operation name="listWSServices">
            <wsdl:input message="tns:listWSServicesRequest" wsaw:Action="urn:listWSServices"/>
            <wsdl:output message="tns:listWSServicesResponse" wsaw:Action="urn:listWSServicesResponse"/>
            <wsdl:fault message="tns:WorkflowAdminServiceWorkflowException" name="WorkflowAdminServiceWorkflowException"
                        wsaw:Action="urn:listWSServicesWorkflowAdminServiceWorkflowException"/>
        </wsdl:operation>
        <wsdl:operation name="addWSService">
            <wsdl:input message="tns:addWSServiceRequest" wsaw:Action="urn:addWSService"/>
            <wsdl:fault message="tns:WorkflowAdminServiceWorkflowException" name="WorkflowAdminServiceWorkflowException"
                        wsaw:Action="urn:addWSServiceWorkflowAdminServiceWorkflowException"/>
        </wsdl:operation>
        <wsdl:operation name="listWorkflowEvents">
            <wsdl:input message="tns:listWorkflowEventsRequest" wsaw:Action="urn:listWorkflowEvents"/>
            <wsdl:output message="tns:listWorkflowEventsResponse" wsaw:Action="urn:listWorkflowEventsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="associateWSServiceToEvent">
            <wsdl:input message="tns:associateWSServiceToEventRequest" wsaw:Action="urn:associateWSServiceToEvent"/>
            <wsdl:fault message="tns:WorkflowAdminServiceWorkflowException" name="WorkflowAdminServiceWorkflowException"
                        wsaw:Action="urn:associateWSServiceToEventWorkflowAdminServiceWorkflowException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="WorkflowAdminServiceSoap11Binding" type="tns:WorkflowAdminServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="removeWSService">
            <soap:operation soapAction="urn:removeWSService" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="listWSServices">
            <soap:operation soapAction="urn:listWSServices" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addWSService">
            <soap:operation soapAction="urn:addWSService" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="listWorkflowEvents">
            <soap:operation soapAction="urn:listWorkflowEvents" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="associateWSServiceToEvent">
            <soap:operation soapAction="urn:associateWSServiceToEvent" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="WorkflowAdminServiceSoap12Binding" type="tns:WorkflowAdminServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="removeWSService">
            <soap12:operation soapAction="urn:removeWSService" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap12:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="listWSServices">
            <soap12:operation soapAction="urn:listWSServices" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap12:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addWSService">
            <soap12:operation soapAction="urn:addWSService" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap12:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="listWorkflowEvents">
            <soap12:operation soapAction="urn:listWorkflowEvents" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="associateWSServiceToEvent">
            <soap12:operation soapAction="urn:associateWSServiceToEvent" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap12:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="WorkflowAdminServiceHttpBinding" type="tns:WorkflowAdminServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="removeWSService">
            <http:operation location="removeWSService"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="listWSServices">
            <http:operation location="listWSServices"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addWSService">
            <http:operation location="addWSService"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="listWorkflowEvents">
            <http:operation location="listWorkflowEvents"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="associateWSServiceToEvent">
            <http:operation location="associateWSServiceToEvent"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="WorkflowAdminService">
        <wsdl:port name="WorkflowAdminServiceHttpsSoap11Endpoint" binding="tns:WorkflowAdminServiceSoap11Binding">
            <soap:address
                    location="https://localhost:9443/services/WorkflowAdminService.WorkflowAdminServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="WorkflowAdminServiceHttpsSoap12Endpoint" binding="tns:WorkflowAdminServiceSoap12Binding">
            <soap12:address
                    location="https://localhost:9443/services/WorkflowAdminService.WorkflowAdminServiceHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="WorkflowAdminServiceHttpsEndpoint" binding="tns:WorkflowAdminServiceHttpBinding">
            <http:address
                    location="https://localhost:9443/services/WorkflowAdminService.WorkflowAdminServiceHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>